@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-LightIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
.main_wrapper {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-family: ProximaNova;
  font-size: 16px;
  font-weight: 400; }

.square_illustration {
  display: block;
  border-radius: 36px;
  position: absolute;
  overflow: hidden;
  width: 70%;
  height: 70%; }
  .square_illustration:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: 50px solid white;
    opacity: 0.27;
    width: 100%;
    height: 100%; }

.main_menu {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: absolute;
  z-index: 100; }
  .main_menu_logo {
    display: block;
    width: auto;
    height: 70px; }
    .main_menu_logo img {
      width: auto;
      height: 100%; }
  .main_menu_nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-content: center; }
  .main_menu_link {
    display: block;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none; }
    .main_menu_link:hover {
      text-decoration: underline; }
  .main_menu_langs {
    width: 100%;
    text-align: right; }
  .main_menu_lang {
    display: inline-block;
    position: relative;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 16px;
    color: #000000;
    text-decoration: none; }
    .main_menu_lang:hover {
      text-decoration: underline; }
    .main_menu_lang:nth-child(1) {
      margin-right: 5px; }
      .main_menu_lang:nth-child(1):after {
        content: "";
        display: block;
        width: 1px;
        height: 16px;
        background-color: #000000;
        position: absolute;
        right: -6px;
        top: 6px; }
  .main_menu_connects {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    position: relative;
    height: 70px; }
  .main_menu_connect {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 36px;
    border: 1px solid black; }
    .main_menu_connect:hover {
      border: 1px solid #739cd2; }
  .main_menu_numbers {
    display: block;
    background-color: white;
    border-radius: 5px;
    height: auto;
    padding: 14px 20px;
    position: absolute;
    bottom: -100%;
    right: -20%; }
    .main_menu_numbers p {
      display: block;
      line-height: 18px;
      height: 18px;
      margin-bottom: 5px; }

.main_screen {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #f9faf3; }
  .main_screen_img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0; }
    .main_screen_img:before {
      content: "";
      display: block;
      background-color: white;
      width: 25vw;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0; }
    .main_screen_img img {
      height: 100%;
      width: auto;
      position: absolute;
      right: 0;
      top: 0; }
    .main_screen_img .square_illustration {
      width: 60%;
      height: 70%;
      top: 15%;
      left: 30%;
      transform: rotate(20deg); }
  .main_screen_content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    align-content: center; }
  .main_screen_header {
    padding-bottom: 10vh;
    font-size: 48px;
    font-family: ProximaNova;
    font-weight: 400;
    line-height: 60px;
    text-shadow: 0px 0px 3px white; }
  .main_screen_btn {
    display: block;
    width: 100%;
    height: 57px;
    background-color: #739cd2;
    border-radius: 20px;
    border: 1px solid #739cd2;
    font-size: 18px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 56px;
    cursor: pointer;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.4s; }
    .main_screen_btn:hover {
      background-color: transparent;
      color: #739cd2; }
  .main_screen_illustration {
    position: absolute;
    bottom: 0;
    margin-left: 3vw;
    width: 14vw; }
    .main_screen_illustration img {
      width: 100%;
      height: auto; }

/*# sourceMappingURL=style.css.map */
