@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Semibold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 900;
  font-style: normal; }
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-RegularIt.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-LightIt.ttf") format("truetype");
  font-weight: 300;
  font-style: italic; }
.main_wrapper {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  font-family: ProximaNova;
  font-size: 16px;
  font-weight: 400; }

.square_illustration {
  display: block;
  border-radius: 36px;
  position: absolute;
  overflow: hidden;
  width: 70%;
  height: 70%; }
  .square_illustration:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border: 50px solid white;
    opacity: 0.27;
    width: 100%;
    height: 100%; }

.btn {
  width: 255px;
  height: 57px;
  line-height: 57px;
  text-align: center;
  border: 1px solid #739cd2;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  font-family: ProximaNova;
  color: #739cd2;
  display: block;
  text-decoration: none;
  transition: all 0.3s; }
  .btn:hover {
    background-color: #739cd2;
    color: white; }

.main_menu {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: absolute;
  z-index: 100; }
  .main_menu_logo {
    display: block;
    width: auto;
    height: 70px; }
    .main_menu_logo img {
      width: auto;
      height: 100%; }
  .main_menu_nav {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-content: center; }
  .main_menu_link {
    display: block;
    color: #000000;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none; }
    .main_menu_link:hover {
      text-decoration: underline; }
  .main_menu_langs {
    width: 100%;
    text-align: right; }
  .main_menu_lang {
    display: inline-block;
    position: relative;
    line-height: 24px;
    text-transform: uppercase;
    font-size: 16px;
    color: #000000;
    text-decoration: none; }
    .main_menu_lang:hover {
      text-decoration: underline; }
    .main_menu_lang:nth-child(1) {
      margin-right: 5px; }
      .main_menu_lang:nth-child(1):after {
        content: "";
        display: block;
        width: 1px;
        height: 16px;
        background-color: #000000;
        position: absolute;
        right: -6px;
        top: 6px; }
  .main_menu_connects {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    position: relative;
    height: 70px; }
  .main_menu_connect {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
    border-radius: 36px;
    border: 1px solid black; }
    .main_menu_connect:hover {
      border: 1px solid #739cd2; }
  .main_menu_numbers {
    display: block;
    background-color: white;
    border-radius: 5px;
    height: auto;
    padding: 14px 20px;
    position: absolute;
    bottom: -100%;
    right: -20%; }
    .main_menu_numbers p {
      display: block;
      line-height: 18px;
      height: 18px;
      margin-bottom: 5px; }

.main_screen {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #fafafa;
  -webkit-box-shadow: inset 0px -38px 86px 16px white;
  -moz-box-shadow: inset 0px -38px 86px 16px white;
  box-shadow: inset 0px -38px 86px 16px white; }
  .main_screen_img {
    height: 95%;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0; }
    .main_screen_img img {
      height: 100%;
      width: auto;
      position: absolute;
      right: 0;
      top: 0; }
    .main_screen_img .square_illustration {
      width: 60%;
      height: 70%;
      top: 15%;
      left: 30%;
      transform: rotate(20deg); }
  .main_screen_content {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    align-content: center; }
  .main_screen_header {
    padding-bottom: 10vh;
    font-size: 48px;
    font-family: ProximaNova;
    font-weight: 400;
    line-height: 60px;
    text-shadow: 0px 0px 3px white; }
  .main_screen_btn {
    display: block;
    width: 100%;
    height: 57px;
    background-color: #739cd2;
    border-radius: 20px;
    border: 1px solid #739cd2;
    font-size: 18px;
    color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 56px;
    cursor: pointer;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.4s; }
    .main_screen_btn:hover {
      background-color: transparent;
      color: #739cd2; }
  .main_screen_illustration {
    position: absolute;
    bottom: -1vw;
    margin-left: 3vw;
    width: 14vw; }
    .main_screen_illustration img {
      width: 100%;
      height: auto; }

.study {
  width: 100%;
  padding-top: 80px;
  position: relative; }
  .study .square_illustration {
    transform: rotate(45deg);
    width: 52%;
    height: 52%;
    top: calc(7% + 80px);
    left: 12%;
    right: auto;
    bottom: auto; }
    .study .square_illustration:after {
      border-color: #f1f1f1; }
  .study_header {
    display: block;
    margin: 0 auto;
    font-family: ProximaNova;
    font-size: 36px;
    line-height: 60px;
    color: #212121;
    text-align: center; }
  .study_container {
    width: 100%;
    font-size: 0;
    padding: 50px 0;
    overflow: hidden; }
  .study_block {
    display: inline-block;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    background-color: white;
    margin-bottom: 30px;
    height: 35vh;
    min-height: 300px;
    overflow: hidden;
    font-size: 16px;
    font-family: ProximaNova;
    line-height: 20px;
    font-weight: 400;
    padding: 30px 20px; }
    .study_block_header {
      font-size: 23px;
      margin-bottom: 20px; }
    .study_block_img {
      position: absolute; }
      .study_block_img img {
        min-height: 100%; }
    .study_block_content {
      height: 35vh;
      position: relative; }
      .study_block_content p {
        margin-bottom: 25px; }
    .study_block_btn {
      display: inline-block;
      font-size: 18px;
      line-height: 60px;
      color: #739cd2;
      font-weight: 400;
      bottom: 45px;
      position: absolute;
      text-transform: uppercase;
      cursor: pointer; }
      .study_block_btn:after {
        content: url("../img/r_blue_arrow.png");
        display: block;
        position: absolute;
        height: 15px;
        width: auto;
        right: -23px;
        top: 2px; }
    .study_block:nth-child(1) {
      width: calc(66.6% - 30px);
      margin-left: 15px; }
      .study_block:nth-child(1) .study_block_img {
        left: 0;
        top: 0;
        height: 100%;
        width: auto; }
      .study_block:nth-child(1) .study_block_content {
        width: 45%;
        float: right; }
    .study_block:nth-child(2) {
      width: calc(33.3% - 30px);
      height: calc(70vh + 30px);
      min-height: 630px;
      margin-right: 15px;
      float: right; }
      .study_block:nth-child(2) .study_block_img {
        bottom: 0;
        width: 100%;
        left: 0; }
      .study_block:nth-child(2) .study_block_btn {
        bottom: 0; }
    .study_block:nth-child(3) {
      width: calc(33.3% - 30px);
      margin-right: 30px;
      margin-left: 15px;
      background-color: transparent; }
      .study_block:nth-child(3) .study_block_img {
        display: none; }
    .study_block:nth-child(4) {
      width: calc(33.3% - 30px);
      background-color: transparent; }
      .study_block:nth-child(4) .study_block_img {
        display: none; }
    .study_block:nth-child(5) {
      width: calc(66.6% - 30px);
      float: right;
      margin-right: 15px; }
      .study_block:nth-child(5) .study_block_img {
        right: 0;
        top: 0;
        height: 100%; }
      .study_block:nth-child(5) .study_block_content {
        width: 45%; }
  .study_img {
    width: calc(33.3% - 30px);
    display: block;
    position: absolute;
    left: 0;
    bottom: 25px;
    height: 35vh; }
    .study_img img {
      width: 100%;
      height: auto; }
  .study_btn {
    margin: 0 auto; }

.advantage {
  position: relative;
  display: block;
  width: 140%;
  left: -20%;
  height: auto;
  margin-top: 120px;
  padding-bottom: 60px;
  background-color: #f2f3ea;
  -webkit-box-shadow: inset 0px 0px 180px 92px white;
  -moz-box-shadow: inset 0px 0px 180px 92px white;
  box-shadow: inset 0px 0px 180px 92px white; }
  .advantage_header {
    font-family: ProximaNova;
    font-size: 36px;
    font-weight: 400;
    color: #212121;
    text-align: center;
    display: block; }
  .advantage_wrapper {
    width: 100%;
    overflow: hidden; }
  .advantage_viewer {
    width: 86%;
    margin: 0 auto;
    position: relative;
    height: 50vh;
    min-height: 400px; }
  .advantage_slide {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50vh;
    min-height: 400px;
    padding-top: 60px;
    position: absolute;
    left: 0;
    top: 0; }
    .advantage_slide_block {
      width: 40%;
      height: auto;
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: flex-start; }
    .advantage_slide_ilu {
      width: 60px; }
      .advantage_slide_ilu img {
        width: 100%;
        height: auto; }
    .advantage_slide_img {
      width: 100%;
      height: 70%;
      position: absolute;
      bottom: 0;
      display: block;
      text-align: center; }
      .advantage_slide_img img {
        width: auto;
        height: 100%; }
    .advantage_slide_text {
      font-family: ProximaNova;
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
      width: calc(100% - 100px); }
    .advantage_slide_num {
      font-size: 172px;
      line-height: 24px;
      font-weight: 900;
      opacity: 0.17;
      color: #739cd2;
      position: absolute;
      left: 60px;
      top: 0; }
  .advantage_nav {
    width: 100%;
    text-align: center;
    padding-top: 20px;
    height: 32px;
    line-height: 32px;
    box-sizing: content-box; }
    .advantage_nav div {
      display: inline-block; }
  .advantage_count {
    margin: 5px 30px;
    color: #739cd2;
    font-family: ProximaNova;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    vertical-align: super; }
    .advantage_count span {
      font-size: 30px;
      font-weight: 500; }
  .advantage_left_arrow {
    cursor: pointer;
    height: 100%;
    width: auto; }
    .advantage_left_arrow img {
      height: 100%;
      width: auto; }
  .advantage_right_arrow {
    cursor: pointer;
    height: 100%;
    width: auto; }
    .advantage_right_arrow img {
      height: 100%;
      width: auto; }

.calendar {
  width: 100%;
  height: auto; }
  .calendar_header {
    padding-top: 70px;
    padding-bottom: 50px;
    font-family: ProximaNova;
    font-size: 36px;
    line-height: 60px;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: 400;
    color: #212121; }
  .calendar_block {
    width: calc(100% + 30px);
    height: auto; }
    .calendar_block img {
      width: 100%;
      height: auto; }
  .calendar_content {
    padding-top: 35px;
    height: 100%;
    width: 100%;
    padding-left: 30px;
    position: relative; }
    .calendar_content_ilu {
      position: absolute;
      width: 50%;
      height: auto;
      right: -25%;
      bottom: 80px; }
      .calendar_content_ilu img {
        width: 100%;
        height: auto; }
    .calendar_content_header {
      font-family: ProximaNova;
      font-size: 24px;
      font-weight: 400;
      margin-bottom: 27px;
      color: #212121; }
  .calendar_date {
    font-family: ProximaNova;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 35px;
    color: #212121; }
  .calendar_text {
    width: 95%; }
    .calendar_text b {
      font-weight: 600; }
    .calendar_text p {
      display: block;
      font-family: ProximaNova;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      color: #212121; }
  .calendar_btn {
    display: inline-block;
    font-size: 18px;
    line-height: 60px;
    color: #739cd2;
    font-weight: 400;
    bottom: 20px;
    position: absolute;
    text-transform: uppercase;
    cursor: pointer; }
    .calendar_btn:after {
      content: url("../img/r_blue_arrow.png");
      display: block;
      position: absolute;
      height: 15px;
      width: auto;
      right: -23px;
      top: 2px; }

.about {
  position: relative;
  display: block;
  width: 140%;
  height: 70vh;
  min-height: 620px;
  left: -20%;
  margin-top: 120px;
  padding-bottom: 60px;
  background-color: #f2f3ea;
  -webkit-box-shadow: inset 0px 0px 180px 92px white;
  -moz-box-shadow: inset 0px 0px 180px 92px white;
  box-shadow: inset 0px 0px 180px 92px white; }
  .about_header {
    width: 100%;
    text-align: center;
    font-family: ProximaNova;
    font-size: 36px;
    font-weight: 400;
    color: #212121;
    text-align: center;
    display: block; }
  .about_block {
    display: block;
    width: 100%;
    height: 70vh;
    min-height: 620px;
    padding-top: 15%;
    text-align: center;
    position: relative; }
    .about_block .square_illustration {
      width: 80%;
      height: 105%;
      transform: rotate(128deg);
      opacity: 1;
      top: -1%;
      left: 1.5%;
      bottom: auto;
      right: auto;
      z-index: -2; }
      .about_block .square_illustration:after {
        border: 30px solid white;
        border-radius: 4px;
        opacity: 1; }
  .about_img {
    display: inline-block;
    width: 90%;
    position: relative;
    z-index: 1; }
    .about_img:after {
      content: "";
      display: block;
      position: absolute;
      border-bottom: 30px solid white;
      width: 50%;
      height: 30px;
      top: 71%;
      right: 7%;
      opacity: 1;
      transform: rotate(128deg);
      z-index: 2; }
    .about_img img {
      width: 100%;
      position: relative;
      z-index: 0; }
  .about_ilu {
    position: absolute;
    width: 80%;
    bottom: 12%;
    left: -12%;
    z-index: 1; }
    .about_ilu img {
      width: 100%; }
  .about_text {
    width: 100%;
    height: auto;
    padding-top: 30px; }
    .about_text p {
      font-family: ProximaNova;
      font-size: 16px;
      line-height: 20px;
      color: #212121;
      margin: 20px 0; }
    .about_text b {
      font-weight: 600; }
    .about_text q {
      font-size: 24px;
      line-height: 30px;
      color: #739cd2;
      position: relative;
      padding: 25px 0;
      display: block;
      z-index: 1; }
      .about_text q:after {
        content: url("../img/icon/r_quote.png");
        width: 84px;
        height: 69px;
        position: absolute;
        bottom: 5px;
        right: 20px;
        left: auto;
        z-index: -1; }
      .about_text q:before {
        content: url("../img/icon/l_quote.png");
        width: 84px;
        height: 69px;
        position: absolute;
        top: 0;
        left: -25px;
        z-index: -1; }
      .about_text q span {
        font-size: 16px;
        color: #212121;
        font-style: italic; }
  .about_btn {
    margin: -140px auto 0 auto; }

/*# sourceMappingURL=style.css.map */
