body {
    font-family: 'Open Sans';
}
header {
    width:100%;
}
.main_header_wrapper {
    position: relative;
    width:940px;
    margin: 0 auto;
}
.logo {
    float: left;
    margin-top: 10px;
}
.search_wrapper {
    float: left;
    margin: 15px 0 0 45px;
}
.search {
    display: inline-block;
    width: 205px;
    height: 31px;
    padding: 0 15px;
    border: 1px solid #b8b8b8;
    border-radius: 15px;
}
.search_button {
    display: inline-block;
    width: 100px;
    height: 31px;
    margin-left: 10px;
    line-height:31px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    border-radius: 15px;
    background-image: linear-gradient(78deg, rgba(85, 148, 73, 0.86) 0%, rgba(115, 255, 88, 0.86) 100%);
}
.calculator {
    position: relative;
    float: left;
    margin: 13px 0 0 60px;
    line-height: 31px;
    font-size: 14px;
    color: #669933;
    font-weight: bold;
}
.calculator:before {
    content: url("../img/calculator_green.png");
    display: inline-block;
    position: absolute;
    top:7px;
    left: -20px;
}
.money_name {
    padding-right: 10px;
    z-index: 1;
    position: absolute;
    display: block;
    margin: 19px 0 0 0;
    left: 660px;
    height: 20px;
    overflow: hidden;
    line-height:20px;
    font-size:14px;
    font-weight: bold;
    color: #669933;
    background-color: rgba( 255, 255, 255, 0.7);
}
.money_name li {
    position: relative;
}
.money_name li:first-child:after {
    content: url("../img/d_arrow_green.png");
    display: inline-block;
    position: absolute;
    top:8px;
    right:10px;
}
.money_name:hover {
    height:93px;
}
.contact_numbers {
    z-index: 1;
    overflow: hidden;
    margin-top: 19px;
    height:20px;
    padding-right:15px;
    position: absolute;
    right: 65px;
    line-height: 20px;
    font-size: 14px;
    color: #669933;
    font-weight: bold;
    background-color: rgba( 255, 255, 255, 0.7);

}
.contact_numbers li:first-child:after {
    content: url("../img/d_arrow_green.png");
    display: inline-block;
    position: absolute;
    top:8px;
    right:0;
}
.contact_numbers:hover {
    height:93px;
}
.basket {
    float: right;
    margin-top: 18px;
}
.menu_wrapper {
    position: relative;
    clear: both;
    width: 940px;
    margin: 0 auto;
}
.menu_wrapper li {
    display: inline-block;
}