@import "fonts.sass"

$main-color: #343434
$font-color: hsl(0, 0%, 100%)
$border-color: hsla(69, 41%, 97%, 0.15)
.btn
  border: 1px solid hsl(0, 0%, 100%)
  display: block
  height: 35px
  line-height: 35px
  font-family: Pragmatica
  font-size: 18px
  font-weight: 400
  color: $font-color
  text-decoration: none
  text-align: center
.container
  max-width: calc(100vw - 400px)
.nav
  height: 80px
  width: 100%
  &_wrapper
    width: 100%
    position: fixed
    z-index: 100
    top: 0
    left: 0
    height: 80px
    border-bottom: 1px solid $border-color

  &_slider_cities
    z-index: 100
    position: fixed
    right: 0
    top: 80px
    width: 170px
  &_calendar
    width: 100%
    height: 100%
    border-left: 1px solid $border-color
    border-right: 1px solid $border-color
  &_logo
    display: block
    height: 80px
    line-height: 80px
    cursor: pointer
    img
      vertical-align: middle
      display: inline
  &_lang
    width: 100%
    height: 80px
    line-height: 80px
    li
      display: inline-block
      color: $font-color
      width: 35px
      height: 35px
      font-family: Montserrat
      font-weight: 400
      vertical-align: middle
      line-height: 32px
      font-size: 12px
      text-align: center
      &:nth-child(3)
        border: 1px solid $font-color
        border-radius: 34px
  &_calendar
    height: 80px
    width: 100%
    line-height: 80px
    display: block
    text-align: center
    a
      color: $font-color
      font-size: 12px
      font-family: Pragmatica
      vertical-align: middle
      position: relative
      display: inline-block
      width: 70%
      border-bottom: 1px solid $font-color
      height: 38px
      line-height: 38px
      text-decoration: none
      font-weight: 200
.nav_menu
  display: block
  position: fixed
  top: 0
  right: 0
  width: 200px
  &_wrapper
    width: 100%
    height: 80px
    line-height: 80px
    text-align: center
  &_exit
    display: inline-block
    line-height: 80px
    img
      display: inline-block
      vertical-align: middle
  &_button
    display: inline-block
    width: 30px
    height: 20px
    border-top: 1px solid $font-color
    position: relative
    vertical-align: middle
    margin-right: 50%
    z-index: 2
    cursor: pointer
    &:before
      content: ''
      width: 100%
      height: 1px
      background-color: $font-color
      position: absolute
      top: 9px
      left: 0
      display: block
    &:after
      content: ''
      display: block
      width: 21px
      height: 1px
      background-color: $font-color
      position: absolute
      right: 0
      bottom: 0
      transition: 0.6s width
    &:hover
      &:after
        width: 30px

.nav_cities_wrapper
  display: none

.nav_slide
  width: 201px
  position: fixed
  top: 80px
  right: 0
  z-index: 2
  height: calc(100vh - 80px)
  li
    width: 100%
    height: calc(100% / 6)
    display: block
    border-bottom: 1px solid $border-color
    border-left: 1px solid $border-color
    color: $font-color
    text-align: center
    padding-top: 12%
    cursor: pointer
    overflow: hidden
    position: relative
    //filter: url(#blur)
    img
      position: absolute
      display: block
      width: 100%
      height: 100%
      top: 0
      left: 0
      filter: url(#blur)
      opacity: 0.9
    //&:hover p
    //  opacity: 1 !important
    &:hover
      img
        filter: none
      &:after
        //-webkit-box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,0.2)
        //-moz-box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,0.2)
        //box-shadow: inset 0px 0px 0px 0px rgba(255,255,255,0.2)

    &:before
      content: ''
      display: block
      position: absolute
      width: 100%
      height: 100%
      top: 0
      left: 0
      z-index: 1
      background-color: hsla(0,0,0,0.45)
      //transition: 0.8s box-shadow
      //-webkit-box-shadow: inset 0px 0px 111px 0px rgba(255,255,255,0.2)
      //-moz-box-shadow: inset 0px 0px 111px 0px rgba(255,255,255,0.2)
      //box-shadow: inset 0px 0px 111px 0px rgba(255,255,255,0.2)
    //&:before
    //  content: ''
    //  display: block
    //  position: absolute
    //  width: 100%
    //  height: 100%
    //  top: 0
    //  left: 0
    //  filter: blur(10px)
    //  z-index: 1

  &_title
    position: relative
    z-index: 2
    display: inline-block
    width: 100%
    font-size: 18px
    height: 19px
    font-weight: 400
    font-family: Pragmatica
    margin-bottom: 10%
    opacity: 1
    transition: 0.7s opacity
  &_days
    position: relative
    z-index: 2
    width: 100%
    display: inline-block
    font-size: 14px
    opacity: 0.65
    line-height: 18px
    height: 19px
    font-family: Pragmatica
    color: $font-color
    transition: 0.7s opacity
  &_month
    position: relative
    z-index: 2
    display: inline-block
    width: 100%
    font-size: 14px
    opacity: 0.65
    font-family: Pragmatica
    line-height: 18px
    height: 19px
    color: $font-color
    transition: 0.7s opacity
  &_year
    position: relative
    z-index: 2
    display: inline-block
    width: 100%
    font-size: 14px
    font-family: Pragmatica
    opacity: 0.65
    height: 19px
    line-height: 18px
    color: $font-color
    transition: 0.7s opacity


.cities_slider
  width: 100vw
  height: 100vh

.city
  &_slide
    position: relative
    width: 100vw
    height: 100vh
    overflow: hidden
  &_slide_image
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
  &_slide_info
    display: block
    position: relative
    padding-top: 35vh
    width: 100%
    height: 100%
    text-align: left
    z-index: 1
    background-color: hsla(0, 0%, 13%, 0.5)
  &_slide h3
    display: block
    color: $font-color
    font-family: Montserrat
    font-size: 172px
    font-weight: 400
    margin-bottom: 90px
  &_slide_date
    display: block
    color: hsl(0, 0%, 100%)
    font-family: Pragmatica
    font-size: 24px
    font-weight: 400
    margin-bottom: 40px
  &_slide_description
    display: block
    color: hsl(0, 0%, 100%)
    font-family: Pragmatica
    font-size: 16px
    font-weight: 400
    margin-bottom: 20px
  &_slide_name
    display: block
    color: hsl(0, 0%, 100%)
    font-family: Pragmatica
    font-size: 18px
    font-weight: 400
    text-transform: uppercase
    margin-bottom: 35px


