@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Black.ttf);
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-MediumItalic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
body, div, p, .wrapper, h1, h5, section, article, header, footer {
    font-family: 'Roboto', sans-serif;
}
html {
    font-size: 10px;                    /*********   ATTENTION     ************/
}
a {
    text-decoration: none;              /*********   ATTENTION     ************/
}


/* * * *        FONTS STYLE   * * * */


b {
    font-weight: 900;
}
h1 {
    font-size: 36px;
}
a,p,button,input,div,select,option {
    font-size: 16px;
}
p.small {
    font-size: 14px;
}
.big {
    font-size: 18px;
}
.red {
    color: rgb(196, 50, 21);
}
.sub-red {
    color: rgb(172, 26, 26);
}
.black {
    color: rgb(0, 0, 0);
}
.sub-white {
    color: rgb(255, 242, 239);
}
.white {
    color: rgb(255, 255, 255);
}
input {
    outline: none;
}
button {
    outline: none;
}



/******    H E A D E R    *******/


header, footer, .wrapper {
    width: calc(100rem - 3rem);
    padding: 0 1.5rem;
    margin: 0 auto;
}
.wrapper {
    padding-top: 3rem;
}
.left-menu-wrapper {
    display: none;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0;
}
.left-menu-wrapper:hover .left-menu a{
    will-change:font-size, width, height, margin, line-height;
}
.left-menu {
    width: 36rem;
    height: 100vh;
    max-height: 100vh;
    margin-left: -37rem;
    background-color: rgba(192, 192, 192, 0.8);
}
.left-menu-close {
    cursor: pointer;
    display: block;
    float: right;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    text-align: center;
    color: rgb(172, 26, 26);
    font-weight: 900;
    margin: 1rem;
}
.left-menu-close:hover {
    background-color: rgb(172, 26, 26);
    color: white;
}
.left-menu li {
    display: block;
    width: 100%;
}
.left-menu a {
    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.8rem;
    width: 100%;
    box-sizing: border-box;
    padding-left: 10rem;
    color: black;
    background-color: rgba(255, 255, 255, 1);
    transition: font-size 0.3s, width 0.5s, height 0.3s, margin 0.3s, line-height 0.3s;
    margin: 0.8rem;
}
.left-menu a:hover {
    background-color: white;
    color: rgb(172, 26, 26);
    width: 105%;
    font-size: 2.2rem;
    height: 3.6rem;
    line-height: 3.6rem;
    margin: 0.5rem 0.8rem 0.5rem 0.8rem;
}

nav {
    width: calc(100% - 3rem);
    padding: 1rem 1.5rem 0 1.5rem;
    line-height: 5rem;
}
.burger {
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: 0  1.5rem 0 0;
    bottom: 1.9rem;
}
.burger img {
    display: inline-block;
    width: 4rem;
    height: 1.6rem;
}
.logo {
    display: inline-block;
    margin: 0 0.5rem;
    margin-top: -0.5rem;
}
.logo img {
    width: 5.3rem;
    height: 5.3rem;
}
.main-menu {
    text-align: justify;
    display: inline-block;
    width: 32.2rem;
    padding: 0 2rem;
    line-height: 5rem;
    margin-top: 1.5rem;
}
.main-menu:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: none;
    overflow: hidden;
}
.main-menu li {
    display: inline-block;
}
.main-menu li a {
    padding: 0.5rem;
    line-height: 16px;
}
.header-search {
    display: inline-block;
    float: right;
    margin: 1.7rem 2rem;
    position: relative;
    width: 36rem;
}
.show-input-search {
    display: none;
}
.header-search img {
    width: 1.6rem;
    height: 1.6rem;
}
.header-search input[type="text"] {
    box-sizing: border-box;
    width: 36rem;
    border: 2px solid rgb(0, 0, 0);
    height: 4rem;
    padding: 0 3rem 0 1rem;
    outline: none;
}
.header-search input[type="text"]::-webkit-input-placeholder,
.header-search input[type="text"]::-moz-placeholder,
.header-search input[type="text"]:-ms-input-placeholder,
.header-search input[type="text"]:-moz-placeholder,
.header-search input[type="text"]:placeholder {
    opacity: 0.5;
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-weight: 400;
    line-height: 4rem;
}
.header-search button {
    position: absolute;
    display: block;
    border: 0;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    right: 1rem;
    bottom: 1.2rem;
    z-index: 1;
}
.header-search button img {
    width: 1.6rem;
    height: 1.6rem;
}
.basket {
    float: right;
    margin: 3rem 0 0 0;
}
.basket img {
    width: 2rem;
    height: 1.5rem;
}
.looks-via-auto {
    display: none;
}
.catalog {
    width: calc(100% - 16rem);
    height: 3rem;
    overflow: hidden;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    margin-bottom: 2rem;
    text-align-last: justify;
    flex-wrap: wrap;
}
.catalog li {
    position: relative;
    display: inline-block;
    margin: 1rem 2rem 1rem 0;
    text-align: left !important;
}
.catalog li a {
    display: inline;
    text-align: left !important;
}
.catalog li a:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.8s;
} 
.catalog li:hover a:after {
    width: 100%;
}
.catalog-show-more-button {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-right: 2rem;
    margin-top: -4rem;
    float: right;
}
.catalog-show-more-button p {
    display: inline;
}
.catalog-show-more-button p:after {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    width: 100% !important;
    bottom: -3px;
    height: 2px;
    background-color: rgb(172, 26, 26);
}

.catalog-search {
    clear: both;
    width: calc(100% - 3rem);
    padding: 0 1.5rem;
    text-align: justify;
}
.catalog-search select {
    color: rgb(255, 242, 239);
    box-sizing: border-box;
    height: 6rem;
    width: 20rem;
    background-color: rgb(172, 26, 26);
    border: 2px solid rgb(172, 26, 26);
}
.catalog-search option {
    box-sizing: border-box;
    height: 6rem;
    width: 20rem;
    color: rgb(172, 26, 26);
    background-color: white;
    border: 2px solid rgb(172, 26, 26);
}
.catalog-search form {
        overflow: hidden;
    text-align: justify;
}
.catalog-search form:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: none;
    overflow: hidden;
}
.catalog-search button {
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    width: 9rem;
    height: 6rem;
    background-color: rgb(172, 26, 26);
    border: 2px solid rgb(172, 26, 26);
    position: relative;
    overflow: hidden;
    top: 1px;
}
.catalog-search button:hover {
    background-color: rgb(255, 242, 239);
    border: 2px solid rgb(172, 26, 26);
    color: rgb(172, 26, 26);
}
.catalog-search input[type="text"] {
    box-sizing: border-box;
    width: 16rem;
    height: 6rem;
    padding: 0 0 0 2.5rem;
    border: 2px solid rgb(172, 26, 26);
    margin-left: 4rem;
}

.catalog-search input[type="text"]::-webkit-input-placeholder,
.catalog-search input[type="text"]::-moz-placeholder,
.catalog-search input[type="text"]:-ms-input-placeholder,
.catalog-search input[type="text"]:-moz-placeholder,
.catalog-search input[type="text"]:placeholder {
    width: 100%;
    opacity: 0.5;
    color: rgb(172, 26, 26);
    font-family: Roboto;
    font-weight: 400;
    line-height: 6rem;
}
.main-catalog {
    width: calc(100% - 3rem);
    padding: 0 1.5rem;
    text-align: justify;
    overflow: hidden;
}
.main-catalog-height {
    text-align: justify;
    text-align-last: justify;
}
.main-catalog-height a span {
    text-align-last: left;
}
.main-catalog:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: none;
    overflow: hidden;
}
.main-catalog a:nth-child(-n+5) {
    display: inline-block;
    width: 17rem;
    overflow: hidden;
    margin: 0;
    height: 48rem;
}
.main-catalog a:nth-child(-n+5) p {
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    height: 48rem;
}
.main-catalog a:nth-child(5n+6) {
    margin-left: 0;
}
.main-catalog a:nth-child(5n+10) {
    margin-right: 0;
}
.main-catalog a {
    display: inline-block;
    width: 14rem;
    overflow: hidden;
    margin: 1.5rem;
    position: relative;
    height: 15rem;
}
.main-catalog a p {
    position: absolute;
    top: 0;
    line-height: 18px;
    z-index: 1;
}
.main-catalog img {
    width: 100%;
    max-height: 42rem;
}
.mob-img {
    display: none;
}
.main-catalog a p span {
    vertical-align: bottom;
    display: block;
    width: 100%;
    padding-top: 11rem
}
.main-catalog a:nth-child(-n+5) p span {
    vertical-align: bottom;
    display: block;
    width: 100%;
    padding-top: 42rem
}
.main-catalog p {
    will-change: transition;
    display: block;
    width: 100%;
    height: 48rem;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: bottom;
    background-image:-webkit-linear-gradient(
        top left,
        rgba(255, 255, 255, 0.0) 0%,
        rgba(255, 255, 255, 0.2) 38%,
        rgba(255, 255, 255, 0.8) 44%,
        rgba(255, 255, 255, 0.0) 50%
    ),
    -webkit-linear-gradient(
        rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)
    );
    background-image:-moz-linear-gradient(
        0 0,
        rgba(255, 255, 255, 0.0) 0%,
        rgba(255, 255, 255, 0.2) 13%,
        rgba(255, 255, 255, 0.8) 20%,
        rgba(255, 255, 255, 0.0) 30%
    ),
    -moz-linear-gradient(
        rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)
    );    
    background-image:-o-linear-gradient(
        0 0,
        rgba(255, 255, 255, 0.0) 0%,
        rgba(255, 255, 255, 0.2) 37%,
        rgba(255, 255, 255, 0.8) 45%,
        rgba(255, 255, 255, 0.0) 50%
    ),
    -o-linear-gradient(
        rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)
    );
    background-image:linear-gradient(
        0 0,
        rgba(255, 255, 255, 0.0) 0%,
        rgba(255, 255, 255, 0.2) 37%,
        rgba(255, 255, 255, 0.8) 45%,
        rgba(255, 255, 255, 0.0) 50%
    ),
    linear-gradient(
       rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)
    );
    background-position: -17rem -66rem, 0 0;
    -moz-background-size:250% 250%, 100% 100%;
         background-size:250% 250%, 100% 100%;
    -webkit-transition:background-position 0s ease;
       -moz-transition:background-position 0s ease;       
         -o-transition:background-position 0s ease;
            transition:background-position 0s ease;
}
.main-catalog a:nth-child(-n+5) p:hover,
.main-catalog a:nth-child(-n+5) p:focus {
    background-position: 0 0, 0 0;
    -webkit-transition-duration:0.7s;
       -moz-transition-duration:0.7s;
            transition-duration:0.7s;
}
.main-catalog p:hover,
.main-catalog p:focus {
    background-position:0 0, 0 0;
    -webkit-transition-duration:1.5s;
       -moz-transition-duration:1.5s;
            transition-duration:1.5s;
}
.interier p, 
.exterier p {
    will-change: transition;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 34.5rem;
    position: absolute;
    top: 0;
    left: 0;
    vertical-align: bottom;
    background-image:-webkit-linear-gradient(
        top left,
        rgba(255, 255, 255, 0.0) 0%,
        rgba(255, 255, 255, 0.2) 38%,
        rgba(255, 255, 255, 0.8) 44%,
        rgba(255, 255, 255, 0.0) 50%
    ),
    -webkit-linear-gradient(
        rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)
    );
    background-image:-moz-linear-gradient(
        0 0,
        rgba(255, 255, 255, 0.0) 0%,
        rgba(255, 255, 255, 0.2) 13%,
        rgba(255, 255, 255, 0.8) 20%,
        rgba(255, 255, 255, 0.0) 30%
    ),
    -moz-linear-gradient(
        rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)
    );    
    background-image:-o-linear-gradient(
        0 0,
        rgba(255, 255, 255, 0.0) 0%,
        rgba(255, 255, 255, 0.2) 37%,
        rgba(255, 255, 255, 0.8) 45%,
        rgba(255, 255, 255, 0.0) 50%
    ),
    -o-linear-gradient(
        rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)
    );
    background-image:linear-gradient(
        0 0,
        rgba(255, 255, 255, 0.0) 0%,
        rgba(255, 255, 255, 0.2) 37%,
        rgba(255, 255, 255, 0.8) 45%,
        rgba(255, 255, 255, 0.0) 50%
    ),
    linear-gradient(
       rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)
    );
    background-position: -60rem -20rem, 0 0;
    -moz-background-size:350% 250%, 100% 100%;
         background-size:350% 250%, 100% 100%;
    -webkit-transition:background-position 0s ease;
       -moz-transition:background-position 0s ease;       
         -o-transition:background-position 0s ease;
            transition:background-position 0s ease;
}
.interier p:hover,
.interier p:focus,
.exterier p:hover,
.exterier p:focus {
    background-position:0 0, 0 0;
    -webkit-transition-duration:1.5s;
       -moz-transition-duration:1.5s;
            transition-duration:1.5s;
}
.interier,
.exterier {
    overflow: hidden;
    position: relative;
}
.interier img,
.exterier img {
    height: 100%;
    width: auto;
}
.second-img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}
.show-catalog {
    display: none;
}
.mob-exterier,
.mob-interier {
    display: none;
}
.interier-catalog,
.exterier-catalog {
    width: calc(100% - 3rem);
    padding: 0 1.5rem;
    margin: 5rem 0 10rem 0;
    overflow: hidden;
    cursor: pointer;
}
.interier-catalog a,
.exterier-catalog a {
    display: inline-block;
    position: relative;
    width: 14rem;
    height: 16rem;
    margin-bottom: 2.4rem;

}
.interier-product img,
.exterier-product img{
    width: 100%;
}
.interier-catalog a:nth-child(2),
.interier-catalog a:nth-child(6),
.exterier-catalog a:nth-child(2),
.exterier-catalog a:nth-child(6) {
   /* margin-left: 2rem;*/
}
.interier-catalog .interier,
.exterier-catalog .exterier {
    position: relative;
    float: left;
    width: 30rem;
    height: 34.5rem;
}
.exterier-catalog-wrapper, .interier-catalog-wrapper {
    width: calc(100% - 32rem);
    float: right;
    text-align: justify;
    text-align-last: justify;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.interier p, .exterier p {
    display: inline-block;
    position: absolute;
    color: rgb(255,255,255);
    font-weight: 900;
    text-align: center;
    width: 100%;
    bottom: calc(50% - 1.8rem);
    font-size: 3.6rem;
}
.interier-product div,
.exterier-product div {
    position: absolute;
    width: 14rem;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.9);
    bottom: 0;
    left: 0;
    right:0;
    opacity: 1;
    transition: height 1s, background-color 1s;
}
.interier-product:hover div,
.exterier-product:hover div {
    height: 16rem;
    background-color: rgba(0, 0, 0, 0.3);
}
.interier-catalog div p,
.exterier-catalog div p {
    line-height: 1.8rem;
    margin: 1rem 1rem 1rem 1rem;
}
.interier-catalog div p:nth-child(2),
.exterier-catalog div p:nth-child(2) {
    margin-top: 0;
}

.catalog-video-container {
    width: calc(100% - 3rem);
    padding: 0 1.5rem;
    text-align: justify;
}
.catalog-video-container:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: none;
    overflow: hidden;
}
.catalog-video-container h1 {
    width: 100%;
    text-align: left;
    padding-bottom: 5rem;
}
.catalog-video {
    display: inline-block;
    width: calc(50% - 1rem);
    height: 27rem;
}
.catalog-photo-height {
    height: auto !important; 
    text-align: justify;
    text-align-last: justify;
}
.catalog-photo-container {
    width: calc(100% - 3rem);
    margin-top: 10rem;
    padding: 0 1.5rem;
    text-align: justify;
}
.catalog-photo-container:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: none;
    overflow: hidden;
}
.catalog-photo-container h1 {
    width: 100%;
    text-align: left;
    padding-bottom: 3rem;
}
.catalog-photo {
    width: 29%;
    display: inline-block;
    cursor: pointer;
}
.catalog-photo p {
    text-align-last: left;
}
.new-product-height {
    text-align: justify;
    text-align-last: justify;
}
.new-product-height h1 {
    text-align-last: left;
}
.new-product p {
    text-align-last: left;
}
.catalog-photo img {
    width: 100%;
    height: 20rem;
    padding-bottom: 1rem;
}
.catalog-photo-wrapper {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 10;    
    background-color: rgba(0, 0, 0, 0.35);
    min-height: 100vh;
    text-align: center;
}
.new-product-container {
    width: calc(100% - 3rem);
    padding: 0 1.5rem;
    margin-top: 10rem;
    text-align: justify;
}
.new-product-container:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: none;
    overflow: hidden;
}
.new-product-container h1 {
    width: 100%;
    text-align: left;
    padding-bottom: 5rem;
}
.new-product {
    cursor: pointer;
    position: relative;
    display: inline-block;
    width: 22rem;
    height: 16rem;
}
.new-product img {
    width: 100%;
    height: 100%;
}
.new-product div {
    position: absolute;
    width: calc(100% - 2rem);
    height: 4rem;
    padding: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 1);
    transition: height 1s, background-color 1s;
}
.new-product:hover div {
    height: 14rem;
    background-color: rgba(172, 46, 46, 0.6);
}
.new-product p {
    display: inline-block;
    line-height: 2.3rem;
}

.main-brand-container {
    margin-top: 10rem;
    width: calc(100% - 3rem);
    position: relative;
    padding: 0 1.5rem;
    margin-bottom: 10rem;
}
.main-brand-container h1 {
    width: 100%;
    text-align: left;
    padding-bottom: 5rem;
}
.main-l-arrow {
    cursor: pointer;
    position: absolute;
    display: block;
    left: -1.5rem;
    top: 9.5rem;
    width: 1.5rem;
    height: 2.7rem;
    z-index: 12;
}
.main-r-arrow {
    cursor: pointer;
    position: absolute;
    display: block;
    right: -1.5rem;
    top: 9.5rem;
    width: 1.5rem;
    height: 2.7rem;
    z-index: 12;
}
.main-r-arrow:hover, .main-l-arrow:hover {
    height: 3.1rem;
    width: 1.8rem;
}
.main-brand-viewer {
    overflow: hidden;
    width: 100%;
    height: 8rem;
}
.main-brand-wrapper {
    width: 1000rem;
    text-align: left;
    font-size: 0;
    line-height: 8rem;
}
.main-brand {
    display: inline-block;
    width: 16rem;
    height: 8rem;
    line-height: 8rem;
    text-align: center;
    padding: 0;
}
.main-brand img {
    cursor: pointer;
    display: inline-block;
    height: 5rem;
    max-width: 100%;
    max-height: 100%;
    line-height: 8rem;
}
.contacts-container {
    clear: both;
    padding-bottom: 10rem;
    width: calc(100% - 3rem);
    padding: 0 1.5rem 10rem 1.5rem;
    display: block;
    text-align: justify;
}
.contacts-container:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: none;
    overflow: hidden;
}
.contacts-container h1 {
    width: 100%;
    padding: 3rem 0;
}
.contacts-form {
    display: inline-block;
    width: 32rem;
}
.contacts-form input {
    box-sizing: border-box;
    width: 100%;
    height: 5rem;
    border: 2px solid rgb(0, 0, 0);
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.contacts-form input[type="text"]::-webkit-input-placeholder,
.contacts-form input[type="text"]::-moz-placeholder,
.contacts-form input[type="text"]:-ms-input-placeholder,
.contacts-form input[type="text"]:-moz-placeholder,
.contacts-form input[type="text"]:placeholder {
    width: 100%;
    opacity: 0.5;
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-weight: 400;
    line-height: 5rem;
    font-size: 1.8rem;
}
.contacts-form button {
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 2rem;
    width: 100%;
    height: 5rem;
    border: 2px solid rgb(196, 50, 21);
    background-color: rgb(196, 50, 21);
    font-size: 1.8rem;
}
.contacts-form button:hover {
        background-color: rgb(255, 250, 250);
        color: rgb(196, 50, 21);
}
.contacts-ukraine {
    display: inline-block;
    width: 28rem;
    vertical-align: top;
}
.contacts-ukraine {
    margin: 0 2rem 0 6rem;
}
.contacts-RB {
    display: inline-block;
    width: 24rem;
    vertical-align: top;
}
.contacts-ukraine p, .contacts-RB p {
    line-height: 2rem;
}
.contacts-RB a {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    margin: 1rem 1rem 0 0;
}
.contacts-RB a img {
    width: 100%;
    height: 100%;
}
.work-time {
    margin: 1rem 0;
}

.footer-wrapper {
    width: 100%;
    background-color: rgba( 0, 0, 0, 1);
    height: 10rem;
    line-height: 10rem;
    overflow: hidden;
}
footer {

}
.footer-menu {
    float: left;
    width: 45%;
    text-align: justify;
    padding-right: 5%;
    padding-left: 1.5rem;
}
.footer-menu:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: none;
    overflow: hidden;
}
.footer-menu li {
    display: inline-block;
}
.footer-search {
    display: inline-block;
    float: right;
    margin: 2.7rem 2rem;
    position: relative;
}
.footer-search img {
    width: 1.6rem;
    height: 1.6rem;
}
.footer-search input[type="text"] {
    box-sizing: border-box;
    width: 36rem;
    border: 2px solid rgb(255, 242, 239);
    height: 4rem;
    padding: 0 3rem 0 1rem;
    outline: none;
    background-color: rgb(0, 0, 0);
}
.footer-search input[type="text"]::-webkit-input-placeholder,
.footer-search input[type="text"]::-moz-placeholder,
.footer-search input[type="text"]:-ms-input-placeholder,
.footer-search input[type="text"]:-moz-placeholder,
.footer-search input[type="text"]:placeholder {
    opacity: 0.5;
    color: rgb(255, 255, 254);
    font-family: Roboto;
    font-weight: 400;
    line-height: 4rem;
}
.footer-search button {
    cursor: pointer;
    position: absolute;
    display: block;
    border: 0;
    outline: none;
    opacity: 0.5;
    background-color: rgb(0, 0, 0);
    right: 1rem;
    bottom: 1.2rem;
    z-index: 1;
}
.footer-search button img {
    width: 1.6rem;
    height: 1.6rem;
}



/****     ABOUT US       * * * * * * */

.intro-block, .about-block {
    width: calc(100% - 3rem);
    padding: 0 1.5rem;
    overflow: hidden;
}
.about-read-more {
    display: none;
}
.intro-block {
    margin-bottom: 4rem;
    margin-top: 4rem;
}
.intro-block img {
    width: 46rem;
    float: left;
    max-height: 25.5rem;
}
.about-block img {
    float: right;
    width: 46rem;
    max-height: 25.5rem;
}
.intro-block p {
    width: 46rem;
    float: right;
}
.about-block p {
    width: 46rem;
    float: left;
}
.our-team {
    width: calc(100% - 3rem);
    padding: 0 1.5rem;
    margin-top: 10rem;
    margin-bottom: 20rem;
}
.our-team-container {
    text-align: justify;
    text-align-last: justify;
}
.our-team h1 {
    width: 100%;
    text-align: left;
    margin-bottom: 4.5rem;
    text-align-last: left;
}
.partner {
    display: inline-block;
    width: 22rem;
    vertical-align: top;
}
.partner img {
    width: 100%;
    max-height: 28rem;
    margin-bottom: 2rem;
}
.partner p, .partner a {
    line-height: 2.2rem;
    color: rgb( 0, 0, 0);
    text-align-last: left;
}
.partner a {
    text-decoration: underline;
}


/*****        G O O D S       * * * * * */

.goods-slider {
    margin-top: 2rem;
    width: calc(100% - 3rem);
    padding: 0 1.5rem;
    margin-bottom: 10rem;
}
.goods-slider-viewer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 40rem;
}
.goods-slider-rounds {
    width: 100%;
    position: absolute;
    height: 1.5rem;
    text-align: center;  
    bottom: 2rem; 
    z-index: 3;
}
.goods-slider-rounds div {
    cursor: pointer;
    display: inline-block;
    margin: 0 1.5rem;
    width: 1.5rem;
    height:1.5rem;
    box-sizing: border-box;
    border: 2px solid rgb(255, 242, 239);
    border-radius: 1.5rem;
}
.goods-slider-rounds div:nth-child(1) {
    background-color: rgb(255, 242, 239);
}
.goods-slider-wrapper {
    width: 100%;
    height: 40rem;
    font-size: 0;
    position: relative;
    
}
.goods-slider-wrapper img {
    position: absolute;
    width: 94rem;
    height: 40rem;
    display: inline-block;
}
.goods-list {
    overflow: hidden;
}
.goods-filter {
    width: 18.5rem;
    padding-left: 1.5rem;
    overflow: hidden;
    float: left;
}
.goods-filter-wrapper {
    height: auto;
}
.show-filter {
    display: none;
}
.filter, .filter-color {
    width: 100%;
    padding-bottom: 4rem;
}
.filter p {
    font-size: 1.8rem;
    width: 100%;
    margin-bottom: 2rem;
}
.filter span {
    margin-bottom: 1rem;
}
.filter label {
    cursor: pointer;
    display: block;
    margin-bottom: 1rem;
}
.filter-color p {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    width: 100%;
}
.filter-color input {
    width: 3rem;
    height: 2rem;
    margin-bottom: 1rem;
}
.filter-color span {
    width: 3rem;
    margin-right: 1rem;
    display: inline-block;
    font-size: 1.2rem;
}
.filter-color .custom-checkbox {
    box-sizing: border-box;
    width: 3rem;
    height: 2rem;
    display: block;
    margin-bottom: 1rem;
}
.filter-color label {
    cursor: pointer;
    width: 3rem;
    display: inline-block;
    margin-right: 2rem;
}
.goods {
    width: 68.5rem;
    float: right;
    padding-right: 1.5rem;
    overflow: hidden;
}
.goods-list-type {
    width: 100%;
    height: 2.6rem;
}
.goods-list-type img {
    cursor: pointer;
    float: right;
    width: 3.6rem;
    height: 2.6rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.goods-product {
    position: relative;
    clear: both;
    width: 100%;
    height: 16rem;
    margin-bottom: 5rem;
}
.goods-product img {
    height: 16rem;
    margin-right: 2rem;
    float: left;
}
.goods-product button {
    cursor: pointer;
    width: 22rem;
    height: 5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    border: 2px solid rgb(172, 26, 26);
    background-color: rgb(172, 26, 26);
    outline: none;
    font-size: 1.8rem;
}
.goods-product button:hover {
    background-color: rgb(255, 242, 239);
    color: rgb(172, 26, 26);
}
.goods-product-name {
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
}
.goods-product-brand {
    margin-bottom: 1.6rem;
}
.goods-product-price {
    font-size: 2.4rem;
}
.goods-product .filter-color {
    margin-bottom: 2rem;
    padding-bottom: 0;
}
.goods-show-more {
    display: block;
    margin: 10rem auto;
    cursor: pointer;
    width: 22rem;
    height: 5rem;
    box-sizing: border-box;
    border: 2px solid rgb(172, 26, 26);
    background-color: rgb(255, 252, 249);
    color: rgb(172, 26, 26);
    outline: none;
    font-size: 1.8rem;
}
.goods-show-more:hover {
    background-color: rgb(172, 26, 26);
    color: rgb(255, 242, 239);
}
.checkbox {
    display: none;
}
.filter .custom-checkbox {
    position: relative; 
    display: inline-block;    
    width: 1.4rem;            
    height: 1.4rem;            
    border: 2px solid rgb(0, 0, 0);
}
 
.custom-checkbox,
.label {
    display: inline-block;
    vertical-align: middle;
}
.filter .checkbox:checked + .custom-checkbox::before {
    content: "";             
    display: block;          
    position: absolute;    
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #413548;    
    border-radius: 2px;
}
.filter-color .checkbox:checked + .custom-checkbox {
    border: 3px solid rgb(172, 26, 26);
}

.one-product {
    width: 100%;
    margin-top: 5rem;
}
.one-product-slider {
    width: 48rem;
    padding:0  0.5rem;
    float: left;
    font-size: 0;
    position: relative;
}
.slider-l-arrow, .slider-r-arrow {
    display: none;
}
.one-product-viewer {
    width: 100%;
    font-size: 0;
}
.one-product-viewer img {
    width: 14rem;
    height: 10.5rem;
    padding: 1rem;
}
.one-product-viewer img:first-child {
    width: 46rem;
    height: 36rem;
    padding-bottom: 2rem;
}
.one-product-video {
    padding-left: 1rem;
    margin-top: 3rem;
}
.one-product-video iframe {
    width: 46rem;
    height: 26rem;
}

.one-product-info {
    width: 44rem;
    float: right;
    padding-right: 1.5rem;
    position: relative;
}
.one-product-info h1 {
    line-height: 4.8rem;
    padding-bottom: 4rem;
}
.goods-complects {
    display: block;
    font-size: 0;
    padding-top: 2rem;
    padding-bottom: 4rem;
    width: 100%;
}
.goods-complect label {
    font-size: 0;
    box-sizing: border-box;
}
.one-goods-complect {
    overflow: hidden;
    display: inline-block;
    width: 21rem;
    box-sizing: border-box;
    height: 9rem;
    padding-right: 1rem;
    padding-top: 1.5rem;
    padding-left: 2px;
}
.one-goods-complect p {
    line-height: 1.8rem;
}
.one-goods-complect p:first-child {
    height: 3.6rem;
}
.one-goods-complect img {
    float: left;
    margin-right: 0.8rem;
    margin-left: 1.5rem;
}
.one-goods-text {
    overflow: hidden;
}
.one-goods-text:nth-child(4) {
    height: 0;
    overflow: hidden;
}
.other-goods {
    width: calc(100% - 3rem);
    padding: 10rem 1.5rem 0 1.5rem;
    clear: both;
}
.other-goods h1 {
    display: block;
    width: 100%;
    padding-bottom: 3rem;
}
.other-goods-wrapper {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    text-align-last: justify;
    padding-bottom: 10rem;
}
.other-goods-wrapper .new-product {
    display: inline-block;
}
.one-goods-checkbox {
    display: none;
}
.one-goods-checkbox:checked + .one-goods-complect {
    padding-top: calc(1.5rem - 2px);
    padding-left: 0;
    border: 2px solid rgb(172, 26, 26);
}
.one-product-info .filter-color {
    margin-top: 2rem;
    width: 20rem;
    text-align: center;
    display: inline-block;
}
.one-product-info button {
    margin-top: 1.7rem;
    float: right;
    display: inline-block;
    cursor: pointer;
    width: 16rem;
    height: 5rem;
    box-sizing: border-box;
    border: 2px solid rgb(172, 26, 26);
    background-color: rgb(172, 26, 26);
    outline: none;
    font-size: 1.8rem;
}
.one-product-info button:hover {
    background-color: rgb(255, 242, 239);
    color: rgb(172, 26, 26);
}
.describe-header {
    margin: 2rem 0;
    display: block;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 4.5rem;
    line-height: 4.5rem;
    padding-left: 2rem;
    box-sizing: border-box;
    border: 2px solid rgb(172, 26, 26);
}
.describe-header:after {
    display: block;
    position: absolute;
    right: 2rem;
    top: 1.5rem;
    width: 2rem;
    height: 1rem;
    content: url(../img/d_arrow.png);
}
.cart-item {
    overflow: hidden;
    clear: both;
    margin: 5rem 0;
    padding-left: 1.5rem;
}
.cart-item table {
    width: 54rem;
}
.cart-item-image {
    width: 14rem;
    float: left;
    margin-right: 2rem;
}
.cart-item caption {
    text-align: left;
    font-size: 1.8rem;
}
.cart-item th {
    font-size: 1.4rem;
    padding: 1.5rem 0;
    text-align: left;
}
.cart-item tr {
    font-size: 1.4rem;
    text-align: left;

}
.cart-item td{
        vertical-align: top;
}
.cart-item td:nth-child(3),
.cart-item th:nth-child(3) {
    padding-left: 5.5rem;
}
.cart-item td:nth-child(1),
.cart-item th:nth-child(1) {
    width: 40%;
}
.cart-item-info img {
    float: left;
    margin-right: 0.5rem;
}
.cart-item-info p {
    line-height: 1.8rem;
}
.color {
    box-sizing: border-box;
    width: 3rem;
    height: 2rem;
    border-radius: 2px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    margin: 0 auto;
    margin-bottom: 1rem;
}
.color + p {
    font-size: 1rem;
    text-align: center;
}
.cart-summary {
    width: calc(100% - 4rem);
    text-align: right;
    padding-right: 4rem;
}
.order-list {
    display: block;
    width: 82rem;
    margin: 9rem auto;
    float: right;
}
.order-list label,
.order-list p {
    display: inline-block;
    cursor: pointer;
    vertical-align: top;
}
.order-list label {
    margin: 2rem 5rem 5rem 0;
    line-height: 1.8rem;
}
.order-list input[type="radio"] {
    display: none;
}
.custom-radio {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid rgb(172, 26, 26);
    border-radius: 1.5rem;
    margin-right: 1rem;
}
.order-list input:checked + .custom-radio:before {
    content: "";             
    display: block;          
    position: absolute;    
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: rgb(172, 26, 26);    
    border-radius: 4px;
}
.order-list-data {
    overflow:hidden;
}
.order-list button,
.order-list .next-button {
    cursor: pointer;
    width: 22rem;
    height: 5rem;
    box-sizing: border-box;
    border: 2px solid rgb(172, 26, 26);
    background-color: rgb(172, 26, 26);
    outline: none;
    font-size: 1.8rem;
    margin-top: 2rem;
}
.order-list .next-button {
    text-align: center;
    line-height: 5rem;
}
.order-list .next-button:hover,
.order-list button:hover {
    background-color: rgb(255, 250, 239);
    color: rgb(172, 26, 26);
}
.delivery-type {
    height: 10rem;
}
.your-data {
    height: 0;
    overflow: hidden;
}
.delivery-adress {
    display: block;
    box-sizing: border-box;
    width: 32rem;
    height: 0;
    opacity: 0;
    border: 2px solid rgb(0, 0, 0);
    padding-left: 2rem;
    margin-top: 2rem;
    overflow: hidden;
    -webkit-transition: height 0.6s ease-out 0.3s, opacity 0.5s ease-out 0.4s;
     -moz-transition: height 0.6s ease-out 0.3s, opacity 0.5s ease-out 0.4s;
     -o-transition: height 0.6s ease-out 0.3s, opacity 0.5s ease-out 0.4s;
     transition: height 0.6s ease-out 0.3s, opacity 0.5s ease-out 0.4s;
}
.order-list input:checked + .custom-radio + p + .delivery-adress {
    opacity: 1;
    height: 5rem;
}
.your-data-container {
    padding-bottom: 4rem;
}
.client-data input {
    display: block;
    box-sizing: border-box;
    width: 32rem;
    height: 5rem;
    border: 2px solid rgb(0, 0, 0);
    padding-left: 2rem;
    margin-top: 2rem;
}
.bill-adress {
    display: block;
    box-sizing: border-box;
    width: 32rem;
    height: 0;
    opacity: 0;
    border: 2px solid rgb(0, 0, 0);
    padding-left: 2rem;
    margin-top: 2rem;
    overflow: hidden;
    -webkit-transition: height 0.6s ease-out 0.3s, opacity 0.5s ease-out 0.4s;
     -moz-transition: height 0.6s ease-out 0.3s, opacity 0.5s ease-out 0.4s;
     -o-transition: height 0.6s ease-out 0.3s, opacity 0.5s ease-out 0.4s;
     transition: height 0.6s ease-out 0.3s, opacity 0.5s ease-out 0.4s;
}
.order-list input:checked + .custom-radio + p + .bill-adress {
    opacity: 1;
    height: 5rem;
}
.pay-type {
    height: 0;
    opacity: 0;
    overflow: hidden;
        -webkit-transition: height 0.6s ease-out 0.3s, opacity 0.5s ease-out 0.4s, margin 0.4s;
     -moz-transition: height 0.6s ease-out 0.3s, opacity 0.5s ease-out 0.4s, margin 0.4s;
     -o-transition: height 0.6s ease-out 0.3s, opacity 0.5s ease-out 0.4s, margin 0.4s;
     transition: height 0.6s ease-out 0.3s, opacity 0.5s ease-out 0.4s, margin 0.4s;
}
.pay-type label {
    display: block;
    margin: 1rem 0;
}
.order-list input:checked + .custom-radio + p + .pay-type {
    opacity: 1;
    height: 10rem;
}
.order-list-check {
    height: 0;
    overflow: hidden;
}
.order-list-check p {
    display: block;
}
.order-list-check p.big {
    margin: 3rem 0 1.5rem 0;
}
.order-list-check .go-back-button {
    position: relative;
    top: 2px;
    display: inline-block;
    cursor: pointer;
    width: 22rem;
    height: 5rem;
    box-sizing: border-box;
    outline: none;
    font-size: 1.8rem;
    margin: 4rem 2rem;
    border: 2px solid rgb(172, 26, 26);
    background-color: rgb(255, 250, 250);
    color: rgb(172, 26, 26);
    text-align: center;
    line-height: 5rem;
}
.order-list-check .go-back-button:hover {
    background-color: rgb(172, 26, 26);
    color: rgb(255, 242, 239);
}


/* ** * * *    H E L P    P A G E     * * * * * */


.help-menu {
    float: left;
    position: fixed;
    padding-left: 1.5rem;
    margin-top: 4rem;
}
.help-menu li a {
    color: black;
}
.help-menu li {
    margin: 2rem 0;
}
.help-wrapper {
    float: right;
    width: 62rem;
    padding-right: 1.5rem;
}
.help-wrapper h1:first-child {
    margin-top: 5rem;
}
.help-wrapper h1 {
    width: 100%;
    display: block;
    margin: 10rem 0 2rem 0;
}
.help-wrapper .contacts-container {
    padding: 0;
    margin-right: 0;
}
.help-wrapper .contacts-container .contacts-ukraine {
    margin-left: 0;
}
.help-wrapper .contacts-container h1 {
    width: 100%;
    display: block;
}
.help-wrapper {
    padding-bottom: 10rem;
}



/*  * * * * * * * * * * * * * *  S E R V I C E     P A G E   * * * * * * * * * * *  */


.service-header {
    margin: 5rem 0;
    padding-left: 1.5rem;
    display: block;
}
.mob-service {
    display: none;
}
.service-list {
    width: calc( 100% - 3rem);
    margin: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    text-align-last: justify;
    border-bottom: 2px solid rgb(196, 50, 21);
}
.service-list p {
    cursor: pointer;
    display: inline-block;
    padding: 1.5rem 3rem;
    max-width: 23rem;
    height: 6rem;
    text-align: left;
    text-align-last: left;
    line-height: 2rem;
}
.service-list p:first-child {
    color: rgb(255, 255, 255);
    background-color: rgb(172, 26, 26);
}

.service-text {
    width: calc(100% - 3rem);
    padding: 1.5rem;
    position: relative;
}
.service-text div {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5rem 0 10rem 0;
    overflow: hidden;
    height: auto;
}
.service-text div:nth-child(1) {
    display: block;
    position: static;
}
.service-text div img {
    float: left;
    width: 40rem;
    margin-right: 6rem;
}



/*    Jquerry CLASES * */

.display-block {
    display: block;
}
.header-search-show {
    display: block;
    opacity: 0;
    box-sizing: border-box;
    border: 2px solid black !important;
    padding: 0 3rem 3rem 1rem;
}
.catalog-photo-show {
    display: block;
    opacity: 0;
    left: 0;

}
.catalog-photo-wrapper img {
    height: auto;
}
.catalog-photo-slider {
    display: inline-block;
    position: relative;
    width: calc( 100rem - 3rem);
    padding: 10rem 1.5rem;
    height: 60vh;
    text-align: center;
    margin: 0 auto;
}
.photo-l-arrow, .photo-r-arrow {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 60%;
    height: 3rem;
    width: 2em;
    background-repeat: no-repeat; 
    z-index: 10;
}
.photo-l-arrow {
    background-image: url(../img/white_l_arrow.png);
    left: 15px;
}
.photo-r-arrow {
    background-image: url(../img/white_r_arrow.png);
    right: 0;
}
.photo-wrapper {
    position: relative;
    width: 100rem;
    margin: 0 auto;
    height: 100%;
}
.photo-wrapper p {
    color: white;
    margin-top: 2rem;
}
.photo-wrapper .photo-close {
    cursor: pointer;
    font-size: 2rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0;
    right: 2rem;
    color: white;
}
.photo-wrapper .photo-close:hover {
    color: black;
    background-color: white;
    border-radius: 2px;
}
