@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Black.ttf);
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-MediumItalic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
body, div, p, .wrapper, h1, h5, section, article, header, footer {
    font-family: 'Roboto', sans-serif;
}
html {
    font-size: 10px;                    /*********   ATTENTION     ************/
}
a {
    text-decoration: none;              /*********   ATTENTION     ************/
}


/* * * *        FONTS STYLE   * * * */


b {
    font-weight: 900;
}
h1 {
    font-size: 36px;
}
a,p,button,input,div,select,option {
    font-size: 16px;
}
p.small {
    font-size: 14px;
}
.big {
    font-size: 18px;
}
.red {
    color: rgb(196, 50, 21);
}
.sub-red {
    color: rgb(172, 26, 26);
}
.black {
    color: rgb(0, 0, 0);
}
.sub-white {
    color: rgb(255, 242, 239);
}
.white {
    color: rgb(255, 255, 255);
}
input {
    outline: none;
}
button {
    outline: none;
}



/******    H E A D E R    *******/


header, footer, .wrapper {
    width: calc(100rem - 3rem);
    padding: 0 1.5rem;
    margin: 0 auto;
}
.wrapper {
    padding-top: 3rem;
}
nav {
    width: calc(100% - 3rem);
    padding: 1rem 1.5rem 0 1.5rem;
    line-height: 5rem;
}
.burger {
    position: relative;
    display: inline-block;
    margin: 0  1.5rem 0 0;
    bottom: 1.9rem;
}
.burger img {
    display: inline-block;
    width: 4rem;
    height: 1.6rem;
}
.logo {
    display: inline-block;
    margin: 0 0.5rem;
    margin-top: -0.5rem;
}
.logo img {
    width: 5.3rem;
    height: 5.3rem;
}
.main-menu {
    text-align: justify;
    display: inline-block;
    width: 32.2rem;
    padding: 0 2rem;
    line-height: 5rem;
    margin-top: 1.5rem;
}
.main-menu:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: none;
    overflow: hidden;
}
.main-menu li {
    display: inline-block;
}
.main-menu li a {
    padding: 0.5rem;
    line-height: 16px;
}
.header-search {
    display: inline-block;
    float: right;
    margin: 1.7rem 2rem;
    position: relative;
    width: 36rem;
}
.header-search img {
    width: 1.6rem;
    height: 1.6rem;
}
.header-search input[type="text"] {
    box-sizing: border-box;
    width: 36rem;
    border: 2px solid rgb(0, 0, 0);
    height: 4rem;
    padding: 0 3rem 0 1rem;
    outline: none;
}
.header-search input[type="text"]::-webkit-input-placeholder,
.header-search input[type="text"]::-moz-placeholder,
.header-search input[type="text"]:-ms-input-placeholder,
.header-search input[type="text"]:-moz-placeholder,
.header-search input[type="text"]:placeholder {
    opacity: 0.5;
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-weight: 400;
    line-height: 4rem;
}
.header-search button {
    position: absolute;
    display: block;
    border: 0;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    right: 1rem;
    bottom: 1.2rem;
    z-index: 1;
}
.header-search button img {
    width: 1.6rem;
    height: 1.6rem;
}
.basket {
    float: right;
    margin: 3rem 0 0 0;
}
.basket img {
    width: 2rem;
    height: 1.5rem;
}
.catalog {
    width: calc(100% - 3rem);
    padding: 0 1.5rem;
    text-align: justify;
    margin-bottom: 2rem;
}
.catalog:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: none;
    overflow: hidden;
}
.catalog li {
    display: inline-block;
}
.catalog-show-more-button {
    cursor: pointer;
    display: inline-block;
    padding-right: 2rem;
    text-decoration: underline;
}

.catalog-search {
    width: calc(100% - 3rem);
    padding: 0 1.5rem;
    text-align: justify;
}
.catalog-search select {
    color: rgb(255, 242, 239);
    box-sizing: border-box;
    height: 6rem;
    width: 20rem;
    background-color: rgb(172, 26, 26);
    border: 2px solid rgb(172, 26, 26);
}
.catalog-search option {
    box-sizing: border-box;
    height: 6rem;
    width: 20rem;
    color: rgb(172, 26, 26);
    background-color: white;
    border: 2px solid rgb(172, 26, 26);
}
.catalog-search form {
        overflow: hidden;
    text-align: justify;
}
.catalog-search form:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: none;
    overflow: hidden;
}
.catalog-search button {
    cursor: pointer;
    display: inline-block;
    box-sizing: border-box;
    width: 9rem;
    height: 6rem;
    background-color: rgb(172, 26, 26);
    border: 2px solid rgb(172, 26, 26);
    position: relative;
    overflow: hidden;
    top: 1px;
}
.catalog-search button:hover {
    background-color: rgb(255, 242, 239);;
    border: 2px solid rgb(172, 26, 26);
    color: rgb(172, 26, 26);
}
.catalog-search input[type="text"] {
    box-sizing: border-box;
    width: 16rem;
    height: 6rem;
    padding: 0 0 0 2.5rem;
    border: 2px solid rgb(172, 26, 26);
    margin-left: 4rem;
}

.catalog-search input[type="text"]::-webkit-input-placeholder,
.catalog-search input[type="text"]::-moz-placeholder,
.catalog-search input[type="text"]:-ms-input-placeholder,
.catalog-search input[type="text"]:-moz-placeholder,
.catalog-search input[type="text"]:placeholder {
    width: 100%;
    opacity: 0.5;
    color: rgb(172, 26, 26);
    font-family: Roboto;
    font-weight: 400;
    line-height: 6rem;
}
.main-catalog {
    width: calc(100% - 3rem);
    padding: 0 1.5rem;
    text-align: justify;
    overflow: hidden;
}
.main-catalog:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: none;
    overflow: hidden;
}
.main-catalog a:nth-child(-n+5) {
    display: inline-block;
    width: 17rem;
    overflow: hidden;
    margin: 0;
}
.main-catalog a:nth-child(-n+5) p {
    font-size: 18px;
    font-weight: 900;
    line-height: 24px;
    height: 48px;
}
.main-catalog a:nth-child(5n+6) {
    margin-left: 0;
}
.main-catalog a:nth-child(5n+10) {
    margin-right: 0;
}
.main-catalog a {
    display: inline-block;
    width: 14rem;
    overflow: hidden;
    margin: 1.5rem;
}
.main-catalog a p {
    margin-top: 1rem;
    line-height: 18px;
    height: 36px;
}
.interier-catalog,
.exterier-catalog {
    width: calc(100% - 3rem);
    padding: 0 1.5rem;
    text-align: justify;
    margin: 5rem 0 10rem 0;
}
.interier-catalog a,
.exterier-catalog a {
    display: inline-block;
    position: relative;
    width: 14rem;
    height: 16rem;
    margin-bottom: 2.4rem;
}
.interier-catalog a img,
.exterier-catalog a img{
    width: 100%;
}
.interier-catalog a:nth-child(2),
.interier-catalog a:nth-child(6),
.exterier-catalog a:nth-child(2),
.exterier-catalog a:nth-child(6) {
    margin-left: 2rem;
}
.interier-catalog:after,
.exterier-catalog:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: none;
    overflow: hidden;
}
.interier-catalog .interier,
.exterier-catalog .exterier {
    position: relative;
    float: left;
    width: 30rem;
    height: 34.5rem;
}
.interier p, .exterier p {
    position: absolute;
    color: rgb(255,255,255);
    font-weight: 900;
    text-align: center;
    width: 100%;
    bottom: calc(50% - 1.8rem);
    font-size: 3.6rem;
}
.interier-catalog a div,
.exterier-catalog a div {
    position: absolute;
    width: 14rem;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.9);
    bottom: 0;
    left: 0;
    right:0;
}
.interier-catalog div p,
.exterier-catalog div p {
    line-height: 18px;
    margin: 1rem 1rem 1rem 1rem;
}
.interier-catalog div p:nth-child(2),
.exterier-catalog div p:nth-child(2) {
    margin-top: 0;
}

.catalog-video-container {
    width: calc(100% - 3rem);
    padding: 0 1.5rem;
    text-align: justify;
}
.catalog-video-container:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: none;
    overflow: hidden;
}
.catalog-video-container h1 {
    width: 100%;
    text-align: left;
    padding-bottom: 5rem;
}
.catalog-video {
    display: inline-block;
    width: calc(50% - 1rem);
    height: 27rem;
}
.catalog-photo-container {
    width: calc(100% - 3rem);
    margin-top: 10rem;
    padding: 0 1.5rem;
    text-align: justify;
}
.catalog-photo-container:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: none;
    overflow: hidden;
}
.catalog-photo-container h1 {
    width: 100%;
    text-align: left;
    padding-bottom: 3rem;
}
.catalog-photo {
    width: 29%;
    display: inline-block;
}
.catalog-photo img {
    width: 100%;
    height: 20rem;
    padding-bottom: 1rem;
}
.new-product-container {
    width: calc(100% - 3rem);
    padding: 0 1.5rem;
    margin-top: 10rem;
    text-align: justify;
}
.new-product-container:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: none;
    overflow: hidden;
}
.new-product-container h1 {
    width: 100%;
    text-align: left;
    padding-bottom: 5rem;
}
.new-product {
    position: relative;
    display: inline-block;
    width: 22rem;
    height: 16rem;
}
.new-product img {
    width: 100%;
    height: 100%;
}
.new-product div {
    position: absolute;
    width: calc(100% - 2rem);
    height: 4rem;
    padding: 1rem;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 1);
}
.new-product p {
    display: inline-block;
    line-height: 2.3rem;
}

.main-brand-container {
    margin-top: 10rem;
    width: calc(100% - 3rem);
    position: relative;
    padding: 0 1.5rem;
    margin-bottom: 10rem;
}
.main-brand-container h1 {
    width: 100%;
    text-align: left;
    padding-bottom: 5rem;
}
.main-l-arrow {
    cursor: pointer;
    position: absolute;
    display: block;
    left: -1.5rem;
    top: 9.5rem;
    width: 1.5rem;
    height: 2.7rem;
}
.main-r-arrow {
    cursor: pointer;
    position: absolute;
    display: block;
    right: -1.5rem;
    top: 9.5rem;
    width: 1.5rem;
    height: 2.7rem;
}
.main-r-arrow:hover, .main-l-arrow:hover {
    height: 3.1rem;
    width: 1.8rem;
}
.main-brand-viewer {
    overflow: hidden;
    width: 100%;
    height: 8rem;
}
.main-brand-wrapper {
    width: 1000rem;
    text-align: left;
    font-size: 0;
    line-height: 8rem;
}
.main-brand {
    display: inline-block;
    width: 14rem;
    height: 8rem;
    line-height: 8rem;
    text-align: center;
    padding: 0 1rem;
}
.main-brand img {
    cursor: pointer;
    display: inline-block;
    height: 5rem;
    max-width: 100%;
    max-height: 100%;
    line-height: 8rem;
}
.contacts-container {
    clear: both;
    padding-bottom: 10rem;
    width: calc(100% - 3rem);
    padding: 0 1.5rem 10rem 1.5rem;
    display: block;
    text-align: justify;
}
.contacts-container:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: none;
    overflow: hidden;
}
.contacts-container h1 {
    width: 100%;
    padding: 3rem 0;
}
.contacts-form {
    display: inline-block;
    width: 32rem;
}
.contacts-form input {
    box-sizing: border-box;
    width: 100%;
    height: 5rem;
    border: 2px solid rgb(0, 0, 0);
    padding-left: 2rem;
    margin-bottom: 1rem;
}

.contacts-form input[type="text"]::-webkit-input-placeholder,
.contacts-form input[type="text"]::-moz-placeholder,
.contacts-form input[type="text"]:-ms-input-placeholder,
.contacts-form input[type="text"]:-moz-placeholder,
.contacts-form input[type="text"]:placeholder {
    width: 100%;
    opacity: 0.5;
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-weight: 400;
    line-height: 5rem;
    font-size: 1.8rem;
}
.contacts-form button {
    cursor: pointer;
    box-sizing: border-box;
    margin-top: 2rem;
    width: 100%;
    height: 5rem;
    border: 2px solid rgb(196, 50, 21);
    background-color: rgb(196, 50, 21);
    font-size: 1.8rem;
}
.contacts-ukraine {
    display: inline-block;
    width: 28rem;
    vertical-align: top;
}
.contacts-ukraine {
    margin: 0 2rem 0 6rem;
}
.contacts-RB {
    display: inline-block;
    width: 24rem;
    vertical-align: top;
}
.contacts-ukraine p, .contacts-RB p {
    line-height: 2rem;
}
.contacts-RB a {
    display: inline-block;
    width: 4rem;
    height: 4rem;
    margin: 1rem 1rem 0 0;
}
.contacts-RB a img {
    width: 100%;
    height: 100%;
}
.work-time {
    margin: 1rem 0;
}

.footer-wrapper {
    width: 100%;
    background-color: rgba( 0, 0, 0, 1);
    height: 10rem;
    line-height: 10rem;
    overflow: hidden;
}
footer {

}
.footer-menu {
    float: left;
    width: 45%;
    text-align: justify;
    padding-right: 5%;
    padding-left: 1.5rem;
}
.footer-menu:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: none;
    overflow: hidden;
}
.footer-menu li {
    display: inline-block;
}
.footer-search {
    display: inline-block;
    float: right;
    margin: 2.7rem 2rem;
    position: relative;
}
.footer-search img {
    width: 1.6rem;
    height: 1.6rem;
}
.footer-search input[type="text"] {
    box-sizing: border-box;
    width: 36rem;
    border: 2px solid rgb(255, 242, 239);
    height: 4rem;
    padding: 0 3rem 0 1rem;
    outline: none;
    background-color: rgb(0, 0, 0);
}
.footer-search input[type="text"]::-webkit-input-placeholder,
.footer-search input[type="text"]::-moz-placeholder,
.footer-search input[type="text"]:-ms-input-placeholder,
.footer-search input[type="text"]:-moz-placeholder,
.footer-search input[type="text"]:placeholder {
    opacity: 0.5;
    color: rgb(255, 255, 254);
    font-family: Roboto;
    font-weight: 400;
    line-height: 4rem;
}
.footer-search button {
    cursor: pointer;
    position: absolute;
    display: block;
    border: 0;
    outline: none;
    opacity: 0.5;
    background-color: rgb(0, 0, 0);
    right: 1rem;
    bottom: 1.2rem;
    z-index: 1;
}
.footer-search button img {
    width: 1.6rem;
    height: 1.6rem;
}



/****     ABOUT US       * * * * * * */

.intro-block, .about-block {
    width: calc(100% - 3rem);
    padding: 0 1.5rem;
    overflow: hidden;
}
.intro-block {
    margin-bottom: 4rem;
    margin-top: 4rem;
}
.intro-block img {
    width: 46rem;
    float: left;
    max-height: 25.5rem;
}
.about-block img {
    float: right;
    width: 46rem;
    max-height: 25.5rem;
}
.intro-block p {
    width: 46rem;
    float: right;
}
.about-block p {
    width: 46rem;
    float: left;
}
.our-team {
    width: calc(100% - 3rem);
    padding: 0 1.5rem;
    margin-top: 10rem;
    text-align: justify;
    margin-bottom: 20rem;
}
.our-team:after {
    content: ".";
    display: inline-block;
    width: 100%;
    height: 0;
    visibility: none;
    overflow: hidden;
}
.our-team h1 {
    width: 100%;
    text-align: left;
    margin-bottom: 4.5rem;
}
.partner {
    display: inline-block;
    width: 22rem;
    vertical-align: top;
}
.partner img {
    width: 100%;
    max-height: 28rem;
    margin-bottom: 2rem;
}
.partner p, .partner a {
    line-height: 2.2rem;
    color: rgb( 0, 0, 0);
}


/*****        G O O D S       * * * * * */

.goods-slider {
    margin-top: 2rem;
    width: calc(100% - 3rem);
    padding: 0 1.5rem;
    margin-bottom: 10rem;
}
.goods-slider-viewer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 40rem;
}
.goods-slider-rounds {
    width: 100%;
    position: absolute;
    height: 1.5rem;
    text-align: center;  
    bottom: 2rem; 
}
.goods-slider-rounds div {
    cursor: pointer;
    display: inline-block;
    margin: 0 1.5rem;
    width: 1.5rem;
    height:1.5rem;
    box-sizing: border-box;
    border: 2px solid rgb(255, 242, 239);
    border-radius: 1.5rem;
}
.goods-slider-rounds div:nth-child(3) {
    background-color: rgb(255, 242, 239);
}
.goods-slider-wrapper {
    width: 10000rem;
    height: 40rem;
    font-size: 0;
}
.goods-slider-wrapper img {
    width: 94rem;
    height: 40rem;
    display: inline-block;
}
.goods-list {
    overflow: hidden;
}
.goods-filter {
    width: 18.5rem;
    padding-left: 1.5rem;
    overflow: hidden;
    float: left;
}
.filter, .filter-color {
    width: 100%;
    padding-bottom: 4rem;
}
.filter p {
    font-size: 1.8rem;
    width: 100%;
    margin-bottom: 2rem;
}
.filter span {
    margin-bottom: 1rem;
}
.filter label {
    cursor: pointer;
    display: block;
    margin-bottom: 1rem;
}
.filter-color p {
    margin-bottom: 2rem;
    font-size: 1.8rem;
    width: 100%;
}
.filter-color input {
    width: 3rem;
    height: 2rem;
    margin-bottom: 1rem;
}
.filter-color span {
    width: 3rem;
    margin-right: 1rem;
    display: inline-block;
    font-size: 1.2rem;
}
.filter-color .custom-checkbox {
    box-sizing: border-box;
    width: 3rem;
    height: 2rem;
    display: block;
    margin-bottom: 1rem;
}
.filter-color label {
    cursor: pointer;
    width: 3rem;
    display: inline-block;
    margin-right: 2rem;
}
.goods {
    width: 68.5rem;
    float: right;
    padding-right: 1.5rem;
    overflow: hidden;
}
.goods-list-type {
    width: 100%;
    height: 2.6rem;
}
.goods-list-type img {
    cursor: pointer;
    float: right;
    width: 3.6rem;
    height: 2.6rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}
.goods-product {
    position: relative;
    clear: both;
    width: 100%;
    height: 16rem;
    margin-bottom: 5rem;
}
.goods-product img {
    height: 16rem;
    margin-right: 2rem;
    float: left;
}
.goods-product button {
    cursor: pointer;
    width: 22rem;
    height: 5rem;
    position: absolute;
    bottom: 0;
    right: 0;
    box-sizing: border-box;
    border: 2px solid rgb(172, 26, 26);
    background-color: rgb(172, 26, 26);
    outline: none;
    font-size: 1.8rem;
}
.goods-product button:hover {
    background-color: rgb(255, 242, 239);
    color: rgb(172, 26, 26);
}
.goods-product-name {
    font-size: 2.4rem;
    margin-bottom: 1.4rem;
}
.goods-product-brand {
    margin-bottom: 1.6rem;
}
.goods-product-price {
    font-size: 2.4rem;
}
.goods-product .filter-color {
    margin-bottom: 2rem;
    padding-bottom: 0;
}
.goods-show-more {
    display: block;
    margin: 10rem auto;
    cursor: pointer;
    width: 22rem;
    height: 5rem;
    box-sizing: border-box;
    border: 2px solid rgb(172, 26, 26);
    background-color: rgb(255, 252, 249);
    color: rgb(172, 26, 26);
    outline: none;
    font-size: 1.8rem;
}
.goods-show-more:hover {
    background-color: rgb(172, 26, 26);
    color: rgb(255, 242, 239);
}
.checkbox {
    display: none;
}
.filter .custom-checkbox {
    position: relative; 
    display: inline-block;    
    width: 1.4rem;            
    height: 1.4rem;            
    border: 2px solid rgb(0, 0, 0);
}
 
.custom-checkbox,
.label {
    display: inline-block;
    vertical-align: middle;
}
.filter .checkbox:checked + .custom-checkbox::before {
    content: "";             
    display: block;          
    position: absolute;    
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    background: #413548;    
    border-radius: 2px;
}
.filter-color .checkbox:checked + .custom-checkbox {
    border: 3px solid rgb(172, 26, 26);
}












.one-goods-checkbox {
    display: none;
}
.one-goods-checkbox:checked + .one-goods-complect {
    border: 2px solid rgb(172, 26, 26);
}
