@media handheld and (max-width: 935px), screen and (max-width: 935px) {
    .wrapper, .fh_wrapper {
        width: 240px;
        position: relative;
    }
    .wrapper {
        padding-top: 35px;
        padding-bottom: 80px;
    }
    .mob_fix + header {
        background-color: white;
        height: 85px;
    }
    .mob_fix + header .main_menu:before {
        content: url("../img/gamburger_blue.png");
    }
    .mob_fix + header .lang p {
        color: #00293f;
    }
    .mob_fix + header .lang p:first-child:before {
        content: url("../img/darrow_blue.png");
    }

    header .logo {
        display: none;
    }
    header .main_menu {
        position: absolute;
        float: left;
        width: 200px;
        height: 0;
        margin: 40px 0 0 0;
        overflow: hidden;
        padding: 0;
        top: 0;
        left: 0;
        padding-top: 25px;
    }
    header .main_menu:before {
        cursor: pointer;
        position: absolute;
        top: 10px;
        left: 0;
        content: url("../img/gamburger.png");
        display: block;
    }
    header .main_menu li {
        display: block;
    }
    header .phone {
        display: none;
    }
    .mob_header {
       display: block;
       text-align: center;
       padding-bottom: 155px;
        padding-top: 155px;
    }
    h2 {
        display: block;
        margin: 40px 0 30px 0;
    }
    .mob_header p {
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
    }
    .main_page .top_slider {
        display: none;
    }
    .slider {
        height: 570px;
    }
    .choose_serv {
        margin-top: 35px;
        height: 660px;
        overflow: hidden;
        margin-bottom: 65px;
    }
    .choose_serv a {
        margin: 10px 0;
    }
    .choose_serv .serv {
        width: 196px;
    }
    .serv_img {
        left: 105px;
    }
    .services .button {
        display: block;
        color: #ffffff;
        width: 240px;
        font-size: 18px;
        font-weight: 700;
    }
    .industri {
        margin-top: 80px;
        height: 600px;
    }
    .main_ind img {
        display: none !important;
    }
    .industri + h1 {
        width: 255px;
    }
    .brand {
        margin-top: 25px;
        height: 265px;
        overflow: hidden;
        margin-bottom: 70px;
    }
    .brand img {
        width: 240px;
    }
    .brand + .button {
        display: block;
        color: #ffffff;
        width: 240px;
        font-size: 18px;
        font-weight: 700;
    }

    .mob_industri {
        margin-top: 0 !important;
        overflow: hidden;
        height: 765px;
    }

    .choose_industri {
        margin-top: 25px;
        margin-bottom: 40px;
        height:  612px;
        overflow: hidden;
    }
    .ind {
        width: 240px;
        margin-bottom: 30px;
    }
    .img_ind img {
        height: 160px;
        width: auto;
    }
    .img_ind img:nth-child(2) {
        display: none;
    }
    .img_ind {
        margin-bottom: 6px;
        height: 160px;
    }
    .ind:hover .img_ind img:nth-child(1){
        margin-left: 0;
        opacity: 1;
    }
    .choose_industri + .button {
        display: block;
        color: #ffffff;
        width: 240px;
        font-size: 18px;
        font-weight: 700;
        clear: both;
    }
    .articl + .button {
        display: block;
        color: #ffffff;
        width: 240px;
        font-size: 18px;
        font-weight: 700;
        clear: both
    }
    .articls .button + p {
        display: none;
    }
    .articls ul {
        display: none;
    }
    .expert {
        margin-bottom: 0 !important;
    }
    .exp_block:last-child {
        margin-bottom: 0;
    }
    .expert p {
        font-size: 16px;
    }
    .expert img {
        margin-bottom: 40px;
    }
    .articl {
        position: relative;
        height: 750px;
    }
    .articl img {
        height: 155px;
        float: left;
        margin: 0 0 80px 0;
    }
    .articl h1 {
        position: absolute;
        top: 175px;
    }

    footer {
        position: relative;
    }
    footer .soc_ico {
        width: 100px;
        position: absolute;
        left:0;
        top: 310px;
    }
    footer .phone {
        float: left;
        margin-left: -10px;
        margin-top: 40px;
        margin-bottom: 180px;
    }
    footer .copyright {
        width:auto;
        margin: 0;
    }
}