
/*   - - - L E G E N D main style   - - -   */

@font-face {
    font-family: Lato;
    src: url(../fonts/lato/Lato-Medium.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Lato;
    src: url(../fonts/lato/Lato-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Lato;
    src: url(../fonts/lato/Lato-MediumItalic.ttf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Lato;
    src: url(../fonts/lato/Lato-BoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}
body, div, p, .wrapper, h1, h5, section, article, header, footer {
    font-family: 'Lato', sans-serif;
}
a {
    text-decoration: none;
}
.news article a {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}
.wrapper {
    width: 940px;
    margin: 0 auto;
    padding-top: 100px;
    min-height: calc(100vh - 537px);
}
.fh_wrapper {
    width: 940px;
    margin: 0 auto;
}
h1 {
    color: #00293f;
    font-size: 36px;
    font-weight: 700;
}
footer h1 {
    color: #ffffff;
    width: 100%;
}
h5 {
    color: #00293f;
    font-size: 18px;
    font-weight: 400;
}
p {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
}
footer p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
}
header p {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
}
header a {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
b {
    font-weight: 700;
}
.tf_color {
    color: #00293f;
}
.bg_color {
    background-color: #00293f;
}
.opacity {
    opacity: 0.4;
}
.button {
    cursor: pointer;
    text-align: center;
    width: 260px;
    height: 50px;
    line-height: 50px;
    border-radius: 6px;
    background-color: #00293f;
}
.button p {
    color: #fff;
}
.button:hover {
    background-color: #004f79;
}
.button:active {
    background-color: #00293f;
}

/*    - - -   H E A D E R   - - -  */

header .logo {
    float: left;
    margin: 15px 0 0 5px;
}
header .main_menu {
    width: 610px;
    padding: 48px 0 48px 0;
    margin-left: 110px;
    text-align: justify;
}
header .main_menu li{
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.main_menu:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;

}

header .phone {
    float: right;
    margin: 45px 35px 0 0;
}
header .lang {
    float: right;
    margin-top: 50px;
}

/*   - - -   S E R V I C E S   - - -   */

.choose_serv {
    margin: 50px 0 125px 0;
    width: 100%;
    text-align: justify;
}
.choose_serv:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}
.serv {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    width: 177px;
    height: 158px;
    padding: 18px;
    border: 3px solid #00293f;
    transition: background-color 1s;
    text-align: center;
    margin: 17px 0;
}
.serv h5 {
    margin-top: 55px;
}
.serv_img {
    position: absolute;
    bottom: 28px;
    left: 94px;
    display: inline-block;
    width: 29px;
    height: 29px;
    background-image: url("../img/arrow.png");
    background-repeat: no-repeat;
    background-size: 100%;
}
.serv:hover {
    background-color: #00293f;
}
.serv:hover .serv_img {
    background-image: url("../img/arrow-hover.png");
}
.serv:hover h5 {
    color: #fff;
}

/*  - - -    I N D U S T R I    - - -   */

.choose_industri {
    width: 100%;
    margin: 65px 0 120px 0;
    overflow: hidden;
}
.ind {
    cursor: pointer;
    width: 460px;
    float: left;
    margin-bottom: 80px;
    overflow: hidden;
}
.ind:nth-child(even) {
    float: right;
}
.img_ind {
    width: 2200px;
    height: 310px;
    margin-bottom: 40px;
    overflow: hidden;
}
.img_ind img {
    display: inline-block;
    float: left;
    height:310px;
    transition: margin-left 1.5s, opacity 1.2s;
}
.img_ind img:nth-child(2) {
    margin-left: -200px;
    opacity: 0;
}
.ind:hover .img_ind img:nth-child(1){
    margin-left: -800px;
    opacity: 0;
}
.ind:hover .img_ind img:nth-child(2) {
    opacity: 1;
}


/*   - - -  A R T I C L E  - - -   */

.articls p, .articls li {
    color: #00293f;
}
.articl {
    overflow: hidden;
}
.articl img {
    margin: 57px 0 50px 0;
}
.articl p {
    line-height: 22px;
}
.articls ul {
    list-style-type: disc;
    list-style-position: inside;
}
.articls li {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}
.articls li span {
    display: inline-block;
    width: 18px;
}

.expert {
    overflow: hidden;
    margin: 120px 0 0 0;
}
.expert img {
    float: left;
    margin:0 60px 100px 0;
    height: 380px;
}
.articls h1 {
    margin-bottom: 20px;
}
.articls div {
    margin-bottom: 30px;
}

/*   - - -   A B O U T   U S   - - -   */

.aboutus section:nth-child(2) {
    margin: 50px 0 0 0;
    overflow: hidden;
}
.aboutus section:nth-child(3) {
    margin: 100px 0 100px 0;
    overflow: hidden;
}
.aboutus section:nth-child(2) img {
    display: block;
    float: right;
    width: 400px;
    height: 260px;
    background-color: #004f79;
}
.aboutus section:nth-child(2) p {
    display: block;
    width: 480px;
}
.aboutus section:nth-child(3) p {
    display: block;
    width: 545px;
    float: right;
}
.aboutus section:nth-child(3) img {
    display: block;
    float: left;
    width: 320px;
    height: 230px;
    background-color: #004f79;
}

.our_team {
    margin: 45px 0 120px 0;
    text-align: justify;
}
.our_team div {
    display: inline-block;
}
.our_team:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}
.our_team p {
    margin-top: 12px;
    color: inherit;
}
.our_team a {
    display: block;
    margin-top: 12px;
    text-decoration: underline;
    color: inherit;
}
/*   - - -   N E W S       - - -    */

.news_wrapper {
    overflow: hidden;
    margin: 55px 0 20px 0;
    text-align: justify;
    height: 900px;
}
.news_wrapper:after {
    width: 100%;
    height: 0;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}
.news article {
    display: inline-block;
    width: 300px;
    overflow: hidden;
    height: 370px;
}
.news article a:hover {
    text-decoration: underline;
}
.news_img {
    width: 300px;
    height: 230px;
    margin-bottom: 30px;
    background-image: url("../img/news2.jpg");
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
    transition: background-size 1s;
}
.news article:hover .news_img {
    background-size: 120%;
}
.news article:first-child {
    width: 100%;
    height: 540px;
}
.news article:first-child .news_img {
    background-image: url("../img/news1.jpg");
    height: 400px;
    width: 939px;
    background-size: cover;
}
.date {
    font-size: 16px;
    margin-top: 5px;
}
.news .button {
    margin: 0 auto 120px auto;
}


/*   - - -   F O O T E R   - - -    */


footer h1 {
    padding: 33px 0;
}
footer .adress {
    width: 240px;
    float: left;
}
footer .soc_ico {
    float: right;
    margin-right: 155px;
}
footer .phone {
    width:200px;
    margin: 0 auto;
}
footer .soc_ico img {
    width: 39px;
    height: 39px;
    margin-left: 5px;
    cursor: pointer;
}
footer .copyright {
    font-size: 18px;
    width:180px;
    margin: 90px auto 0 auto;
    padding-bottom: 15px;
}
