@media screen and (max-width: 700px) {
.logo, .menu, .top_text_days, .top_text_effective, .call_me_text, .blowballs, .top_triangle_wrapper, .span, .reason_block, .blowballs2, .reason_span, .reason_block_wrapper, .how_block_wrapper, .succes_block, .blowball3, .succes_block_wrapper, .stars_block, .star_block_wrapper, .friends_block  {
       display: none; 
    }
    header {
     
    }
    .top {
        background-image: url(img/top_mob_background.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 660px;
    }
    .top_text {
        margin-top: -70px;
        width: 300px;
        text-align: center;
    }
    .top_text_weight, .top_text_less {
        font-size: 72px;
    }
    .i_want_button {
        float: none;
        font-size: 14px;
        font-family: PFD;
        font-style: italic;
        margin: 335px auto 100px auto;
    }
    .first_step_discount {
        margin-bottom: 15px;
    }
    .time_viewer {
        width: 270px;
        text-align: center;
    }
    .timer_viewer {
         color: #673ab7;
    }
    .timer_text {
        color: #673ab7;
    }
    .timer_numb:after {
        display: none;
    }
    .call_me {
        margin-top: 380px;
        width: 270px;
    }
    .call_me_form {
        width: 100%;
    }
    
    .call_me_form input {
        border: 1px solid #6eb43f;
        margin: 5px;
    }
    .call_me_button {
        font-size: 14px;
        font-family: PFD;
        font-style: italic;
        margin-top: 10px;
    }
    .reason {
        padding-top: 30px;
    }
    .reason_header {
        text-align: center;
        font-size: 24px;
        margin: 0;
    }
    .reason_list {
        background-image: none;
        width: 90%;
        padding: 0 10px 10px 10px;
    }
    .reason_list li {
        font-size: 16px;
        width: auto;
        margin: 20px 0;
    }
    .how {
        padding-top: 0;
    }
    .how_header {
        font-size: 24px;
        margin-bottom: 0;
    }
    .how_first_article, .how_second_article {
        margin: 0;
        width: 100%;
        float: none;
        padding-left:5%;
    }
    .how_first_number, .how_second_number {
        color:  #daead2;
        width: 90%;
        text-align: right;
    }
    .how_first_header, .how_second_header {
        margin-top: -170px;
        font-size: 18px;
        line-height: 20px;
    }
    .how_first_text, .how_second_text {
        font-size: 14px;
        line-height: 18px;
        width: 80%;
        min-height: auto;
    }
    .how_first_img, how_second_img {
        width: 80%;
    }
}