@media screen and (max-width: 700px) {
.logo, .menu, .top_text_days, .top_text_effective, .call_me_text, .blowballs, .top_triangle_wrapper, .span, .reason_block, .blowballs2, .reason_span, .reason_block_wrapper, .how_block_wrapper, .succes_block, .blowball3, .succes_block_wrapper, .stars_block, .star_block_wrapper, .friends_block  {
       display: none; 
    }
    header {
     
    }
    .top {
        background-image: url(img/top_mob_background.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        height: 660px;
    }
    .top_text {
        margin-top: -70px;
        width: 300px;
        text-align: center;
    }
    .top_text_weight, .top_text_less {
        font-size: 72px;
    }
    .i_want_button {
        float: none;
        font-size: 14px;
        font-family: PFD;
        font-style: italic;
        margin: 335px auto 100px auto;
    }
    .first_step_discount {
        margin-bottom: 15px;
    }
    .time_viewer {
        width: 270px;
        text-align: center;
    }
    .timer_viewer {
         color: #673ab7;
    }
    .timer_text {
        color: #673ab7;
    }
    .timer_numb:after {
        display: none;
    }
    .i_want_window  .call_me_form {
        margin: 0;
    }
    .call_me {
        margin-top: 380px;
        width: 270px;
    }
    .call_me_form {
        width: 100%;
    }
    
    .call_me_form input {
        border: 1px solid #6eb43f;
        margin: 5px;
    }
    .call_me_button {
        font-size: 14px;
        font-family: PFD;
        font-style: italic;
        margin-top: 10px;
    }
    .reason {
        padding-top: 30px;
    }
    .reason_header {
        text-align: center;
        font-size: 24px;
        margin: 0;
    }
    .reason_list {
        background-image: none;
        width: 90%;
        padding: 0 10px 10px 10px;
    }
    .reason_list li {
        font-size: 16px;
        width: auto;
        margin: 20px 0;
    }
    .how {
        padding-top: 0;
    }
    .how_header {
        font-size: 24px;
        margin-bottom: 0;
    }
    .how_first_article, .how_second_article {
        margin: 0;
        width: 100%;
        float: none;
        padding-left:5%;
    }
    .how_first_number, .how_second_number {
        color:  #daead2;
        width: 90%;
        text-align: right;
    }
    .how_first_header, .how_second_header {
        margin-top: -170px;
        font-size: 18px;
        line-height: 20px;
    }
    .how_first_text, .how_second_text {
        font-size: 14px;
        line-height: 18px;
        width: 80%;
        min-height: auto;
    }
    .how_first_img, how_second_img {
        width: 80%;
    }
    
    .progress {
        padding: 20px 0;
        flex-direction: column;
    }
    .progress_article_header {
        font-size: 24px;
        margin: 5px 0;
    }
    .progress_article {
        padding: 0;
        width: 90% !important;
        margin: 0 !important;
    }
    .progress_article img {
        float: left;
        width: 55px;
        margin:  0 20px 97px 10px;
    }
    .progress_article:last-child .progress_article_header {
        margin: 10px 0;
    }
    .progress_article:last-child img {
        width: auto;
        height: 60px;
    }
    .succes {
        padding-bottom: 30px;
    }
    .succes_header {
        display: none;
    }
    .succes_mob_header {
        width: 100%;
        margin: 20px auto;
        text-align: center;
        display: block;
        font-size: 24px;
        font-family: PFDitalicbold;
        font-weight: bold;
        font-style: italic;
    }
    .succes_history {
        display: flex;
        flex-direction: column-reverse !important;
        margin: 0;
        width: 100%;
    }
    .succes_history_wrapper {
        width: 100%;
        margin:12px 0 20px 0 !important;
    }
    .succes_img img {
        width: 160px;
    }
    .succes_second_img {
        margin-left: -50px;
    }
    .succes_history_header {
        font-size: 18px;
        text-align: center !important;
        width: 100%;
    }
    .succes_text {
        font-size: 14px;
        line-height: 16px;
        font-style: italic;
        text-align: center !important;
        padding: 0 10px;
    }
    .before_after li {
        font-size: 12px;
        font-family: Roboto;
        font-weight: bold;
        height: 20px;
        padding: 0;
    }
    .before_after li p {
        margin-top: -2px;
    }
    .before_after li:first-child {
        width: 40px;
        left: 50px;
        top: 155px;
    }
    .before_after li:last-child {
        width: 60px;
        top: 160px;
        right: 50px;
    }
    .succes_img_block1 {
        text-align: center !important;
        top: 114px;
        right: -10px;
        left: auto !important;
        width: 110px;
        height: 34px;
        font-size: 12px;
        line-height: 16px;
        padding: 3px !important;
        font-family: Roboto !important;
        font-weight: lighter;
    }
    .succes_img_block1 p {
        font-family: Roboto;
        font-weight: bold;
        margin: 3px 0 0 10px;
    }
    .show_more {
        font-family: PFD;
        font-style: italic;
        font-size: 14px;
    }
    .second_span {
        position: relative;
        width: 100%;
        padding:70px 10px 25px 10px;
    }
    .second_span_header {
        width: 100%;
        font-family: PFD;
        font-style: italic;
        font-size: 24px;
        line-height: 36px;
        font-weight: normal;
        margin: 0;
    }
    .second_span_header span {
        display: block;
    }
    .second_span_header:before {
        display: none;
    }  
    .dout {
        display: block;
        position: absolute;
        font-size: 320px;
        font-family: PFDitalicbold;
        font-weight: bold;
        font-style: italic;
        color: #5b9833;
        transform: scale(0.8 , 1.1);
        top: 0px;
        right: 60px;
    }
    .stars_button {
        cursor: pointer;
        display: block;
        margin: auto;
        font-family: Roboto;
        font-style: italic;
        font-size: 14px;
        text-align: center;
        line-height: 48px;
        width: 243px;
        height: 48px;
        border-radius: 22px;
        background-color: #6eb43f;
        color: white; 
    }
    .stars_wrapper {
        padding: 10px 0;
        overflow: hidden;
    }
    .second_span_text {
        width: 95%;
        margin: 0;
        font-size: 16px;
        line-height: 20px;
    }
    .star_article:nth-child(n+4) {
        display: none;
    }
    .star_article_who {
        margin-bottom: 5px;
    }
    .star_article_text {
        text-align: center;
        line-height: 18px;
    }
    .star_article_block {
        right: 0;
    }
    .order {
        padding: 40px 0;
    }
    .order_header {
        font-size: 24px;
        color: black;
        margin-bottom: 25px;
    }
    .order_program_wrapper {
        flex-direction: column;
        padding: 15px;
        width: 90%;
        margin-bottom: 0;
    }
    .order_stage_header {
        margin: 14px 0;
        color: black;
        
    }
    .order_stage_text {
        line-height: 16px;
    }
    .order_program_stage:after {
        display: none;
    }
    .order_program_stage {
        margin: 0 auto;
        padding-bottom: 20px;
    }
    .order_stage_price {
        margin: 10px 0;
    }
    .order_subtext {
        line-height: 14px;
        margin-top: 8px;
    }
    .order_subtext span {
        display: block;
        font-weight: bold;
        line-height: 14px;
    }
    .order_button {
        margin: auto;
    }
    .order_via_privat {
        width: 100%;
        margin-top: 65px;
        text-align: center;
    }
    .privat_card {
        margin: auto;
        float: none;
    }
    .privat_header {
        width: 300px;
        font-size: 18px;
        text-align: left;
        line-height: 20px;
        padding-left: 20px;
        margin: 15px auto;
    }
    .privat_text {
        line-height: 16px;
        text-align: left;
        padding-left: 15px;
        width: 300px;
    }
    .privat_button {
        margin: 25px auto 0 auto;
    }
    .friends {
        background-color: white;
        padding-top: 47px;
    }
    .friends_header {
        font-size: 24px;
        color: black;
        line-height: 26px;
    }
    .network {
        margin: 10px;
    }
    .networks_wrapper {
        width: 90%;
        margin: 15px 0;
        justify-content: space-around;
        padding: 0 5%;
        align-items: stretch;
    }
    .friends_amount {
        font-size: 18px;
        min-width: auto;
        margin: 5px 0;
        
    }
    .network_ico {
        transform: scale(0.7);
    }
    
    
    
    
    
    
    
    
}

@media screen and (max-width:1260px) {
     .succes {
        padding-bottom: 30px;
    }
    .succes_header {
        display: none;
    }
    .succes_mob_header {
        width: 100%;
        margin: 20px auto;
        text-align: center;
        display: block;
        font-size: 24px;
        font-family: PFDitalicbold;
        font-weight: bold;
        font-style: italic;
    }
    .succes_history {
        display: flex;
        flex-direction: column-reverse !important;
        margin: 0;
        width: 100%;
    }
    .succes_history_wrapper {
        width: 100%;
        margin:12px 0 20px 0 !important;
    }
    .succes_img img {
        width: 380px;
    }
    .succes_second_img {
        margin-left: -50px;
    }
    .succes_history_header {
        font-size: 18px;
        text-align: center !important;
        width: 100%;
    }
    .succes_text {
        width: 80%;
        font-size: 14px;
        line-height: 16px;
        font-style: italic;
        text-align: center !important;
        padding: 0 10%;
    }
    .before_after li:first-child {
        width: 40px;
        left: 150px;
        top: 405px;
    }
    .before_after li:last-child {
        width: 60px;
        top: 395px;
        right: 130px;
    }
    .succes_img_block1 {
        text-align: center !important;
        top: 314px;
        right: 5px;
        left: auto !important;
        font-weight: lighter;
    }
    .succes_img_block1 p {
        font-family: Roboto;
        font-weight: bold;
        margin: 3px 0 0 10px;
    }
}
