body {
    width: 100%;
    height: 100%; 
    background-color: lightgray;
    font-family: arial;
    }
.wrapper {
    width: 100%;
    height: 100%;
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    color: white;
}
.menu {
    float: left;
    margin: 15px;

}
.logo {
    float: left;
    margin: 15px;
}
.timer {
    width: 286px;
    margin: auto;    
}
.timer_text {
    width: auto;
    margin: auto;
}
.timer_viewer {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-between;    
}
.first_step {
    background-color: #6eb43f;
}
.first_step_price {
    background-color: #6eb43f;
}
.first_step_discount, .first_step_discount_size {
    background-color: #f44336;
}
.timer_numb {
    width: 25%;
    margin: auto;
}
.timer_collect {
    width: 25%;
    margin: auto;
}
.time_viewer {
    width: 410px;
    height: 125px;
    margin: auto;
}
.time_viewer p {
    display: inline-block;
}
.i_want {
    width: 243px;
    height: 48px;
    border-radius: 22px;
    border: none;
    float: right;
    background-color: #6eb43f;
    margin: 25px;
    color: white;
}


/*  T O P    S E C T I O N  */


.top {
    width: 100%;
    height: 100%;
    padding-top: 225px;
    background-image: url(img/top_background.jpg);
    background-size: cover;
    
}
.top_text {
    width: 760px;
    color: white;
    transform: rotate(350deg);
    margin: 0 auto 150px auto;
}
.top_text_days, .top_text_effective {
    font-weight: bold;
    font-size: 18px;
    margin: 0 5%;
}
.top_text_days {
    float: left;
    text-align: right;
    width: 25%;
}
.top_text_effective {
    float: right;
    text-align: left;
    width: 50%;
}
.top_text_weight {
    font-size: 150px;
    font-weight: bold;
}
.top_text_less {
    font-size: 150px;
}
.call_me {
    width: 760px;
    margin: 0 auto;
}
.call_me_text {
    color: white;
    width: 600px;
    margin: 10px auto;
}
.call_me_form {
}
.call_me_form input, .call_me_button {
    width: 250px;
    height: 50px;
}

.call_me_name {
    
}

.call_me_number {
    
}

.call_me_button {
    color: white;
    background-color: #6eb43f;
    border-radius: 25px;
    border: none;
}

/*    I N F O    S P A N   */

.span {
   position: relative;
}
.span_recomend {
    width: 56%;
    position: absolute;
    top: -140px;
    left: -105px;
    text-align: right;
    transform: rotate(3deg);
    padding:65px 25px 50px 0;
    font-weight: bold;
    background-color: white;
}
.span_first_block {
    transform: rotate(7deg);
    width: 57%;
    height: 130px;
    background-color: white;
    position: absolute;
    right: -200px;
    bottom: -70px;
}
.span_second_block {
    transform: rotate(353deg);
    width: 57%;
    height: 130px;
    background-color: white;
    position: absolute;
    left: -200px;
    bottom: -70px;
}

.span_result {
    width: 55%;
    position: absolute;
    top: -140px;
    right: -105px;
    text-align: left;
    transform: rotate(357deg);
    padding: 65px 0 50px 25px;
    font-weight: bold;
    background-color: white;
}
.span_green_block {
    display: block;
    position: absolute;
    width: 100%;
    height: 120px;
    background-color: #6eb43f;
}

/*     R E A S O N s     */

.reason {
    margin-top: 120px;
    width: 100%;
    padding-bottom: 120px;
    background-color: #6eb43f;
}
.reason_header {
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin: 15px 0 0 15%;
}
.reason_list {
    width: 50%;
    margin: 25px auto 50px auto;
    color: white;
}
.reason_list li {
    margin: 10px;
}

/*    H O W   I T    W O R K S     */

.how {
    position: relative;
    padding-top: 110px;
    width: 100%;
    background-color: white;
    height
}
.how_first_block {
    transform: rotate(354deg);
    width: 60%;
    height: 130px;
    background-color: white;
    position: absolute;
    right: -100px;
    top: -70px;
}
.how_second_block {
    transform: rotate(7deg);
    width: 53%;
    height: 130px;
    background-color: white;
    position: absolute;
    left: -100px;
    top: -70px;
}

.how_header {
    width: 500px;
    margin: 0 auto 60px auto;
    font-size: 36px;
    font-weight: bold;
}

.how_first_article {
    width: 25%;
    margin: 25px 0 0 15%;
    float: left;
    font-size: 16px;
}
.how_second_article {
    width: 25%;
    margin: 25px 15% 0 0;
    float: right;
    font-size: 16px;
}
.how_first_number, .how_second_number {
    font-size: 200px;
    font-weight: bold;
    color: #e6f2f2;
}
.how_first_header, .how_second_header {
    margin-top: -160px;
    font-size: 40px;
    font-weight: bold;
    color: #354242;
    line-height: 140px;
}
.how_first_text, .how_second_text {
    line-height: 35px;
    height: auto;
    min-height: 250px;
} 
.clearfix { 
    zoom: 1; 
}
.clearfix:before, .clearfix:after {
    content: "\0020"; display: block; height: 0; visibility: hidden; 
}
.clearfix:after { 
    clear: both; 
}

.progress {
    display:flex;
    padding: 50px 0;
    width: 100%;
    background-color: #6eb43f;
    justify-content: center;
} 
.progress_article {
    width: 20%;
    margin: 25px;
    color: white;
}
.progress_article img {
    margin-bottom: 60px;
}
.progress_article_header {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: bold;
}

.succes  {
   width: 100%;
    padding: 45px 0;
   background-color: white;
}
.succes_header {
    width: 950px;
    margin: 0 auto 45px auto;
    font-size: 40px;
    font-weight: bold;
}
.succes_wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.succes_history_wrapper {
    width: 20%;
    margin: 3%;
}
.succes_history {
    margin: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.succes_history_header {
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
    text-align: right;
}
.succes_text {
    line-height: 24px;
    text-align: right;
}

.succes_history:nth-child(even) {
    flex-direction: row-reverse;    
}
.succes_history:nth-child(even)
.succes_text,
.succes_history:nth-child(even)
.succes_history_header {
    text-align: left;
}

.succes_second_img {
    margin-left: -120px;
-webkit-clip-path: polygon(91% 0, 100% 40%, 94% 100%, 28% 96%, 13% 46%, 0 3%);
clip-path: polygon(91% 0, 100% 40%, 94% 100%, 28% 96%, 13% 46%, 0 3%);
}
.succes_first_img {
-webkit-clip-path: polygon(73% 5%, 84% 44%, 100% 97%, 7% 100%, 0 60%, 5% 0);
clip-path: polygon(73% 5%, 84% 44%, 100% 97%, 7% 100%, 0 60%, 5% 0);
}

.show_more {
    color: white;
    display: block;
    width: 185px;
    height: 50px;
    margin: auto;
    background-color: #6eb43f;
    border-radius: 22px;
    border: none;
}

.second_span {
    background-color: #6eb43f;
    width: 100%;
    padding: 40px 0 40px 25%;
    line-height: 30px;
}
.second_span_header {
    font-size: 22px;
    color: white;
    font-weight: bold;
}
.second_span_text {
    color: white;
    width: 50%;
}

/*    S T A R S      */

.stars {
    background-color: white;
    padding: 45px 0;
}

.stars_wrapper {
    max-width: 1200px;
    margin: auto;
    align-self: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    justify-content: center;
}

.stars_header {
    font-size: 24px;
    width: 300px;
    margin: auto;
}

.star_article {
    width: 310px;
    margin: 30px;

}

.star_article_img {
    height: 320px;
    margin: auto;
    display: block;
-webkit-clip-path: polygon(9% 0, 91% 0, 100% 50%, 91% 100%, 58% 92%, 10% 100%, 0 66%);
clip-path: polygon(9% 0, 91% 0, 100% 50%, 91% 100%, 58% 92%, 10% 100%, 0 66%);
}

.star_article_header {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0;
}
.star_article_who {
    text-align: center;
    margin: 5px;
}
.star_article_text {
    text-align: left;
    line-height: 22px;
}

/*----  O R D E R  ------*/

.order {
    width: 100%;
    background-color: #6eb43f; 
    padding: 45px 0;
}  
.order_header {
    font-size: 26px;
    font-weight: bold;
    color: white;
    width: 700px;
    margin: 0 auto 45px auto;
}
.order_program_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    padding: 25px 15%;
}
.order_program_stage {
    margin: 15px;
}
.order_stage_header {
    color: #354242;
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}
.order_stage_text {
    color: white;
    line-height: 22px;
    margin-bottom: 10px;
}
.order_old_price {
    display: inline;
    color: red;
    font-weight: bold;
}
.order_stage_price {
    display: inline;
    color: white;
    font-weight: bold
}
.order_subtext {
    color: white;
    font-size: 10px;
}
.order_button {
    width: 245px;
    margin-left: 15%;
    padding: 15px 0;
    background-color: white;
    text-align: center;
    border-radius: 25px;
}
.order_via_privat {
    width: 700px;
    margin: auto;
}
.privat_card {
    float: left;
    margin-right: 40px;
    -webkit-box-shadow: -5px 10px 11px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: -5px 10px 11px 0px rgba(0,0,0,0.5);
    box-shadow: -5px 10px 11px 0px rgba(0,0,0,0.5);
}
.privat_header {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}
.privat_text {
    color: white;
    line-height: 22px;
}
.privat_button {
    display: block;
    margin: 25px 0 0 340px;
    color: white;
    background-color: #354242;
    width: 215px;
    padding: 14px 0;
    text-align: center;
    border-radius: 25px;
}

/*        F R I E N D S        */


    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    f

