@media screen and (max-width: 768px), handheld and (max-width: 768px) {
	html {
		font-size: 10px;
	}
    .wrapper,
    .nav_menu_wrapper {
        width: 24rem;
    }
    .nav_menu_list,
    .nav_main_phone,
    .main_first_decor,
    .main_text_wrapper,
    .main_section_info,
    .main_third_decor {
        display: none;
    }
    .main_second_decor {
        left: 10rem;
        top: 0rem;
    }
    .main_section_header {
        margin-top: 10rem;
        font-size: 3rem;
        line-height: 3.2rem;
    }
    .pay_article_wrapper {
        margin-top: 0;
    }
    .info_section_wrapper h4 {
        width: 100%;
        color: rgb(64, 113, 183);
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
    .hide_btn {
        display: block;
    }
    .text_wrapper {
        height: 0;
        overflow: hidden;
    }
    .pay_ilu_zero {
        top: 0;
    }
    
}
@media handheld and (min-width: 768px), screen and (min-width: 768px) {
	html {
		font-size: 8px;
	}
}
@media handheld and (min-width: 992px), screen and (min-width: 992px) {
	html {
		font-size: 10px;
	}
}

/*

@media handheld and (min-width: 1200px), screen and (min-width: 1200px) {
	html {
		font-size: 12px;
	}
}
*/
