@media screen and (max-width: 768px), handheld and (max-width: 768px) {
	html {
		font-size: 10px;
	}
    .wrapper,
    .nav_menu_wrapper {
        width: 24rem;
    }
    .nav_menu_list,
    .nav_main_phone,
    .main_first_decor,
    .main_text_wrapper,
    .main_section_info,
    .main_third_decor {
        display: none;
    }
    .main_second_decor {
        left: 10rem;
        top: 0rem;
    }
    .main_section_header {
        margin-top: 10rem;
        font-size: 3rem;
        line-height: 3.2rem;
    }
    .info_section_wrapper article {
        margin-top: 2rem;
    }
    .info_section_wrapper h4 {
        width: 100%;
        color: rgb(64, 113, 183);
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        margin-top: 16rem;
        margin-left: 0 !important; 
    }
    .hide_btn {
        display: block;
    }
    .text_wrapper {
        height: 0;
        overflow: hidden;
    }
    .illustration {
        position: absolute;
        top: 0;
        height: 16rem;
        width: 100% !important;
    }
    .illustration img {
        max-width: 100%;
    }
    .info_section_wrapper article .pay_ilu_zero {
        top: 55%;
    }
    .info_section_wrapper article .pay_ilu_one {
        width: 5rem;
        top: 26%;
        left: 5%;
    }
    .info_section_wrapper article .pay_ilu_two
    {
        width: 5rem;
        top: 70%;
        left: 9rem;
    }
    .info_section_wrapper article .pay_ilu_three {
        width: 5rem;
        top: 26%;
        right: 5%;
    }
    .info_section_wrapper article .mig_ilu_zero {
        width: 14rem;
        left: 5rem;
    }
    .info_section_wrapper article .saf_ilu_zero {
        width: 18rem !important;
        margin: 0 0 0 3.5rem;
    }
    .info_section_wrapper article .saf_ilu_one {
        top: 7rem;
        left: 6.3rem;
    }
    .info_section_wrapper article .hel_ilu_zero {
        width: 12rem !important;
        margin: 0 0 0 2.5rem;
    }
    .info_section_wrapper article .hel_ilu_one {
        width: 22rem;
        top: -2.3rem;
        left: 2.8rem;
    }
    .info_section_wrapper article .wor_ilu_zero {
        width: 21rem !important;
        top: 0;
        right: 9rem;
            left: 0;
    }
    .info_section_wrapper article .wor_ilu_one {
        width: 9rem;
        top: 2rem;
        right: 4.8rem;
    }
    .info_section_wrapper article .wor_ilu_two {
        width: 9rem !important;
        top: 7rem;
        right: 8rem;
    }
    .info_section_wrapper article .wor_ilu_three {
        width: 7rem;
        top: 7rem;
        right: 1rem;
    }
    .info_section_wrapper .text {
        width: 100%;
        font-size: 16px;
        line-height: 18px;
        margin-left: 0 !important;
    }
    .service_section_header {
        color: rgb(64, 113, 183) !important;
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
    .service_section_list {
        width: 100%;
    }
    .service_price_wrapper {
        position: static;
        width: 100%;
        margin-top: 6rem;
    }
    .service_price_header {
        color: rgb(64, 113, 183);
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
    .service_price_count input {
        width: 100%;
    }
    .service_price_button {
        width: 100%;
        margin-top: 1rem;
    }
    .feedback_slider_viewer {
        width: 24rem;
    }
    .feedback_slide {
        width: 24rem;
    }
    .feedback_l_arrow {
        left: -25px;
    }
    .feedback_r_arrow {
        right: -25px;
    }
    .feedback_slide_header {
        color: rgb(64, 113, 183);
        font-family: Lato;
        font-size: 30px;
        font-weight: 200;
        font-style: italic;
        line-height: 36px;
    }
    .feedback_slide_author {
        color: rgb(93, 155, 213);
        font-family: Lato;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    .feedback_slide_text {
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
    }
    .feedback_read_all {
        color: rgb(64, 113, 183);
        font-family: Lato;
        font-size: 16px;
        font-weight: 300;
        line-height: 18px;
    }
    .ping_us_header {
        color: rgb(64, 113, 183);
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
    }
    .ping_us_form {
        width: 100%;
    }
    .dis_input {
        display: none;
    }
    .mob_input {
        display: block;
    }
    .ping_us_contact {
        margin: 6rem 0 0 0;
        font-size: 16px !important;
    }
    .ping_us_phone {
        width: 100%;
    }
    .ping_us_network {
        margin-right: 1rem;
    }
    footer {
        text-align: left;
    }
    .desighn_development {
        top: -7rem;
    }
    
    
}
@media handheld and (min-width: 768px), screen and (min-width: 768px) {
	html {
		font-size: 8px;
	}
}
@media handheld and (min-width: 992px), screen and (min-width: 992px) {
	html {
		font-size: 10px;
	}
}

/*

@media handheld and (min-width: 1200px), screen and (min-width: 1200px) {
	html {
		font-size: 12px;
	}
}
*/
