@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Light.woff2") format("woff2"),
         url("../fonts/Lato-Light.woff") format("woff");
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.woff2") format("woff2"),
         url("../fonts/Lato-Regular.woff") format("woff");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Medium.woff2") format("woff2"),
         url("../fonts/Lato-Medium.woff") format("woff");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Semibold.woff2") format("woff2"),
         url("../fonts/Lato-Semibold.woff") format("woff");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.woff2") format("woff2"),
         url("../fonts/Lato-Bold.woff") format("woff");
    font-style: normal;
    font-weight: 600;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Heavy.woff2") format("woff2"),
         url("../fonts/Lato-Heavy.woff") format("woff");
    font-style: normal;
    font-weight: 800;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Black.woff2") format("woff2"),
         url("../fonts/Lato-Black.woff") format("woff");
    font-style: normal;
    font-weight: 900;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-LightItalic.woff2") format("woff2"),
         url("../fonts/Lato-LightItalic.woff") format("woff");
    font-style: italic;
    font-weight: 200;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Italic.woff2") format("woff2"),
         url("../fonts/Lato-Italic.woff") format("woff");
    font-style: italic;
    font-weight: 300;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-BoldItalic.woff2") format("woff2"),
         url("../fonts/Lato-BoldItalic.woff") format("woff");
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-BlackItalic.woff2") format("woff2"),
         url("../fonts/Lato-BlackItalic.woff") format("woff");
    font-style: italic;
    font-weight: 900;
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-BlackItalic.woff2") format("woff2"),
         url("../fonts/Lato-BlackItalic.woff") format("woff");
    font-style: italic;
    font-weight: 900;
}

/*    L E G E N D   */


h4 {
    color: rgb(64, 113, 183);
    font-family: Lato;
    font-size: 3.6rem;
    font-weight: 200;
    line-height: 4.8rem;
}
.text {
    color: rgb(93, 155, 213);
    font-family: Lato;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.4rem;
}
.white {
    color: white;
}
.blue {
    color: rgb(64, 113, 183);
}
.btn {
    cursor: pointer;
    display: inline-block;
    line-height: 5rem;
    box-shadow: 3px 2px 6px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    background-color: rgb(64, 113, 183);
/*    transition: box-shadow 0.5s;*/
    border: none;
}
.btn:hover {
    background-color: rgb(77, 134, 215);
    box-shadow: 4px 3px 7px 1px rgba(0, 0, 0, 0.3);
}
.btn:active {
    background-color: rgb(60, 105, 169);
    box-shadow: 3px 2px 5px 1px rgba(0, 0, 0, 0.2);
}
input {
    line-height: 5rem;
    box-shadow: 3px 2px 6px 1px rgba(0, 0, 0, 0.1);
    border-radius: 0.8rem;
    border: 1px solid rgb(64, 113, 183);
    outline: none;
    font-size: 1.8rem;
    font-weight: 400;
    font-family: Lato;
    color: rgb(64, 113, 183);
}
input::-webkit-input-placeholder {
    color: rgba(64, 113, 183, 0.4);
    font-size: 1.8rem;
    font-weight: 400;
}
input::-moz-placeholder {
    color: rgba(64, 113, 183, 0.4);
    font-size: 1.8rem;
    font-weight: 400;
}
input:-ms-input-placeholder {
    color: rgba(64, 113, 183, 0.4);
    font-size: 1.8rem;
    font-weight: 400;
}
input:-moz-placeholder {
    color: rgba(64, 113, 183, 0.4);
    font-size: 1.8rem;
    font-weight: 400;
}
input::placeholder { 
    color: rgba(64, 113, 183, 0.4);
    font-size: 1.8rem;
    font-weight: 400;
}
input:placeholder { 
    color: rgba(64, 113, 183, 0.4);
    font-size: 1.8rem;
    font-weight: 400;
}

a {
    text-decoration: none;
}
.page_wrapper {
    width: 100%;
    overflow: hidden;
}
.wrapper {
    width: 94rem;
    margin: 9rem auto 0 auto;
}
.hide_btn {
    display: none;
    color: rgb(64, 113, 183);
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    line-height: 60px;
    text-decoration: underline;
}
.text_wrapper {
    display: inline-block;
}
/*   HEADER  */

header {
    padding: 3rem 0;
    overflow: hidden;
    position: absolute;
    width: 100%;
    
}
.nav_menu_wrapper {
    width: 94rem;
    display: block;
    text-align: right;
    margin: 0 auto;
}
.active_header {
/*    background-color: rgb(93, 155, 213);*/
    position: fixed;
    z-index: 3;
    background-color: white;
}
/*
.active_header a,
.active_header p {
    color: white;
}
*/
.logo {
    float: left;
    width: 16rem;
}
.logo img {
    width: 100%;
}
.active_header .logo2 {
    display: block;
}
.active_header .logo {
    display: none;
}
.logo2 {
    display: none;
    float: left;
    width: 16rem;
}
.logo2 img {
    width: 100%;
}
.nav_menu_list {
    display: inline-block;
}
.nav_menu_list li {
    display: inline-block;
    margin-left: 4rem;
}
.nav_menu_list a {
    position: relative;
}
.nav_menu_list a:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    left: 50%;
    background-color: rgb(64, 113, 183);
    transition: width 0.7s, left 0.7s;
}
.nav_menu_list li:hover a:after {
    width: 100%;
    left: 0;
}
.nav_main_phone {
    display: inline-block;
    margin-left: 5rem;
}
/* MAIN SECTION*/ 
.main_first_decor {
    position: absolute;
    width: 70rem;
    right: -40rem;
    opacity: 0.3;
    top: 30vh;
}
.main_second_decor {
    position: absolute;
    width: 65rem;
    right: -50rem;
    top: 39vh;
    transform: rotate(180deg);
}
.main_third_decor {
    position: absolute;
    left: -65rem;
    top: 52vh;;
    width: 60rem;
}
.main_section_wrapper {
    position: relative;
    width: 100%;
    display: block;
    height: 100vh;
}
.main_section_header {
    margin-top: 30vh;
    display: inline-block;
    color: rgb(64, 113, 183);
    font-family: Lato;
    font-size: 6rem;
    font-weight: 300;
    line-height: 7.2rem;
    vertical-align: baseline;
    position: relative;
    z-index: 1;
}
.main_text_wrapper {
    margin-top: 4rem;
}
.main_text {
    display: inline-block;
    margin-right: 5rem;
}
.main_section_button {
    float: left;
    width: 25rem;
    text-align: center;
    margin: 7rem 3rem 0 0;
}
.main_section_info {
    margin-top: 7rem;
    line-height: 5rem;
    display: inline-block;
    position: relative;
}
.main_section_info:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(64, 113, 183);
    left: 0;
    bottom: 1.6rem;
}
.main_section_info:hover {
    color: rgb(93, 155, 213);
}
.info_section_wrapper {
    width: 100%;
    display: block;
}
.info_section_wrapper h4 {
    width: 64rem;
    display: inline-block;
}
.info_section_wrapper .text {
    width: 63rem;
    display: inline-block;
    margin-top: 4rem;
    transform: rotateX(90deg);
    transition: transform 2s;
}
.info_section_wrapper article .text_show {
    transform: rotateX(0);
}

.info_section_wrapper article {
    margin-top: 13rem;
    display: inline-block;
    width: 100%;
    position: relative;
}
.info_section_wrapper .pay_article_wrapper {
    margin-top: 0;
}
.info_section_wrapper article .illustration {
    display: inline-block;
    width: 30rem;
    float: right;
}
.info_section_wrapper article:nth-child(2n) .illustration {
    float: left;
}
.info_section_wrapper article:nth-child(2n) .text,
.info_section_wrapper article:nth-child(2n) h4 {
    margin-left: 30rem;
}
.pay_article_text {
    overflow: hidden;
}
.pay_image_wrapper {
}
.pay_image_wrapper img {
    width: 7rem;
    position: absolute;
    top: 30%;
    height: 7rem;
}
.pay_image_wrapper img:first-child {
    width: 30rem;
    position: absolute;
    top: 60%;
    right: 0;
    height: 2rem;
}
.pay_image_wrapper img:nth-child(2) {
    right: 3rem;
}
.pay_image_wrapper img:nth-child(3) {
    right: 12rem;
    top: 90%;
}
.pay_image_wrapper img:nth-child(4) {
    right: 21rem;
}
.mig_ilu_zero {
    position: absolute;
    width: 19rem;
    left: 6%;
    top: 15%;
}
.saf_ilu_zero {
    width: 24rem;
    margin: 0 5rem;
}
.saf_ilu_one {
    width: 3rem;
    position: absolute;
    right: 18rem;
    top: 20rem;
    transition: transform 15s;
}
.ilu_rotate {
    transform: rotate(1220deg);
}
.hel_ilu_zero {
    width: 18rem;
    position: absolute;
    top: 3rem;
    left: 5rem;
    transition: transform 12s;
}
.hel_ilu_one {
    position: absolute;
    top: -35rem;
    width: 90rem;
    left: -30rem;
    transition: top 4s, left 4s, width 4s, height 4s;
}
.small_ilu {
    top: -5rem;
    width: 33rem;
    left: -2rem;
}
.hel_ilu_rotate {
    transform: rotate(280deg);
}

.wor_ilu_zero {
    width: 28rem;
    position: absolute;
    top: 12rem;
    right: -5rem;
}
.wor_ilu_one {
    width: 14rem;
    position: absolute;
    top: 13rem;
    right: 18rem;
}
.wor_ilu_two {
    width: 11rem;
    position: absolute;
    top: 21rem;
    right: 9rem;
    transition: transform 6s;
}
.wor_ilu_three {
    width: 9rem;
    position: absolute;
    top: 21rem;
    right: 0rem;
    transition: transform 6s;
}
.ilu_rotate_back {
    transform: rotate(-220deg);
}
.ilu_rotate_forward {
    transform: rotate(280deg);
}



.service_section_wrapper {
    width: 100%;
    display: block;    
    padding: 13rem 0;
    overflow: hidden;
    height: auto;
    position: relative;
}
.service_section_header {
    margin-bottom: 4rem;
}
.service_section_list {
    display: inline-block;
    list-style-type: decimal;
    width: 40rem;
    margin-left: 1.8rem;
    float: left;
}
.service_section_list li {
    line-height: 2.2rem;
}
.service_price_wrapper {
    width: 46rem;
    display: inline-block;
    position: absolute;
    bottom: 13rem;
    right: 0;
}
.service_price_header {
    margin-bottom: 2rem;
}
.service_price_wrapper input {
    width: 25rem;
    height: 5rem;
    box-sizing: border-box;
    padding-left: 1rem;
}
.service_price_button {
    width: 19rem;
    text-align: center;
    float: right;
}
.feedback_section_slider {
    position: relative;
}
.feedback_slide_header {
    font-style: italic;
}
.feedback_slider_wrapper {
    width: 10000px;
    font-size: 0;
}
.feedback_slider_viewer {
    width: calc(100% - 16rem);
    overflow: hidden;
    margin: 0 auto;
}
.feedback_slide {
    display: inline-block;
    width: 78rem;
}
.feedback_slide_text_wrapper {
    overflow: hidden;
    height: 0;
}
.feedback_slider_counter {
    margin: 3rem auto;
    width: 7rem;
    text-align: center;
}
.feedback_slide_author {
    margin: 2rem 0 3rem 0;
}
.feedback_read_all {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.feedback_read_all:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(64, 113, 183);
}
.feedback_l_arrow,
.feedback_r_arrow {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 45%;
}
.feedback_l_arrow {
    left: 0;
}
.feedback_r_arrow {
    right: 0;
}
.ping_us_network {
    display: inline-block;
    width: 4rem;
    height: 4rem;
}
.ping_us_wrapper {
    margin-top: 10rem;
}
.ping_us_header {
    margin-bottom: 4rem;
}
.ping_us_form {
    width: 38rem;
    display: inline-block;
}
.ping_us_form input {
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 1rem;
    padding-left: 1rem;
}
.ping_us_button {
    width: 100%;
    margin-top: 1rem;
}
.ping_us_network img {
    width: 100%;
}
.ping_us_contact {
    margin-left: 8rem;
    display: inline-block;
    vertical-align: top;
}
.ping_us_adress {
    width: 21rem;
    margin-bottom: 1rem;
}
.ping_us_map {
    cursor: pointer;
    display: inline-block;
    margin-bottom: 1rem;
    position: relative;
}
.ping_us_map:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color:rgb(64, 113, 183);
}
.map_wrapper {
    display: none;
    text-align: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    z-index: 5;
}
.map {
    width: 90vw;
    margin-top: 5vh;
    display: inline-block;
    vertical-align: middle;
}
.map iframe {
    width: 90vw;
    height: 90vh;
}
.ping_us_phone {
    margin: 1rem 0 2rem 0;
    width: auto;
}
.ping_us_email {
    position: relative;
    display: inline-block;
}
.ping_us_email:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color:rgb(64, 113, 183);
}
.ping_us_pdf {
    cursor: pointer;
    display: inline-block;
    margin: 1rem 0;
    position: relative;
}
.ping_us_pdf:before {
    content: url(../img/pdf.svg);
    width: 2.2rem;
    height: 2.2rem;
    display: block;
    position: absolute;
    left: -2.8rem;
    top: 0;
}
.ping_us_pdf:after {
    content: "";
    display: block;
    position: absolute;
    bottom: 2px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color:rgb(64, 113, 183);
}
footer {
    position: relative;
    width: 100%;
    margin-top: 12rem;
    padding-bottom: 5rem;
    text-align: center;
    display: inline-block;
}
.copyright {
    display: inline-block;
}
.desighn_development {
    display: inline-block;
    position: absolute;
    right: 0;
}

.get_free_block {
    width: 86rem;
    box-shadow: 3px 2px 6px 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: rgb(14, 170, 231);
    padding: 5rem 4rem;
    position: relative;
    margin: 0 auto;
}
.get_free_close {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}
.get_free_header {
}
.get_free_form {
    margin-top: 2rem;
}
.get_free_form input {
    box-sizing: border-box;
    display: inline-block;
    outline: none;
    border: 1px solid white;
    background-color: rgb(14, 170, 231);
    width: 28rem;
    margin-right: 0.8rem;
    height: 5rem;
    padding-left: 1rem;
}
.get_free_button {
    width: 28rem;
    float: right;
    box-sizing: border-box;
    padding: 0;
}
.get_free_block input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.8rem;
    font-weight: 400;
}
.get_free_block input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.8rem;
    font-weight: 400;
}
.get_free_block input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.8rem;
    font-weight: 400;
}
.get_free_block input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.8rem;
    font-weight: 400;
}
.get_free_block input::placeholder { 
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.8rem;
    font-weight: 400;
}
.get_free_block input:placeholder { 
    color: rgba(255, 255, 255, 0.4);
    font-size: 1.8rem;
    font-weight: 400;
}
.get_free_wrapper {
    display: none;
    box-sizing: border-box;
    padding-top: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.mob_input {
    display: none;
}

.main_second_decor,
.main_third_decor,
.illustration img {
    opacity: 0.7;
}










