@media handheld and (max-width: 935px), screen and (max-width: 935px) {
    html {
        font-size: 8px;
    }
    .main article {
        max-height: 90vw !important;
    }

}
@media handheld and (max-width: 640px), screen and (max-width: 640px) {
    .main article {
        max-height: 105vw !important;
    }
}
@media handheld and (max-width: 460px), screen and (max-width: 460px) {
    html {
        font-size: 6px;
    }
    .main article {
        max-height: 120vw !important;
    }

}
@media handheld and (max-width: 320px), screen and (max-width: 320px) {
    html {
        font-size: 4px;
    }
    .main article {
        max-height: 110vw !important;
    }
}