
/*        L E G E N D       */

@font-face {
    font-family: Gotha;
    src: url(../fonts/GothaProReg.otf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Gotha;
    src: url(../fonts/GothaProBol.otf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Gotha;
    src: url(../fonts/GothaProIta.otf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Gotha;
    src: url(../fonts/GothaProBolIta.otf);
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: Gotha;
    src: url(../fonts/GothaProBla.otf);
    font-weight: 900;
    font-style: normal;
}
html {
    font-size: 12px;
}
h1, h2, h3, h4, h5, h6, p, div, input, section, article, span, b, u, i, a, s, ul, li {
    font-family: Gotha, serif;
    color: #2d2c2c;
    letter-spacing: 0.05rem;
}
h1 {
    font-size: 8rem;
    font-weight: 900;
    line-height: 8.34rem;
    text-transform: uppercase;
    color: #ffffff;
}
h3 {
    font-size: 6rem;
    font-weight: 700;
    line-height: 7.5rem;
    text-transform: uppercase;
    color: #c63232;
}
h4 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 5rem;
}
p {
    font-size: 3rem;
    font-weight: 400;
    line-height: 4rem;
}
b {
    font-weight: 700;
}
h1 span {
    color: #c63232;
}
p span {
    color: #c63232;
    font-weight: 700;
  }
a {
    text-decoration: none;
}
section p {
    font-size: 1.5rem;
    line-height: 2rem;
}
.create_site p, .our_case p, .our_sale p, .first_stage p, .second_stage p, .you_need p {
    font-size: 2.5rem;
    line-height: 3.34rem;
}
.our_result h3 {
    font-size: 2.5rem;
    line-height: 3.34rem;
}
article {
    width: 90%;
    max-width: 940px;
    min-width: 240px;
    margin: 0 auto;
    /*height: 100vh;*/
    /*max-height: 100%;*/
}
.white {
    color: #ffffff;
}
.red {
    color: #c63232;
}

/*     M A I N     S E C T I O N     */

.wrapper {
    width: 100%;
    overflow: hidden;
    background-color: #2d2c2c;
}
.stars {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
}
.main {

    width: 100%;
    overflow: hidden;
    transition: height 1s;
    background-color: rgba(45,44,44, 0.8);
}
.main article {
    position: relative;
    height: 100vh;
    max-height: 100%;
}
.main_wrapper {
    position: fixed;
}
.main img {
    position: absolute;
    height: 105%;
    right: 6%;
    top: 45%;
}
.main p {
    position: relative;
    z-index: 1;
    width: 65%;
    margin-top: 7rem;
}
.main h1 {
    position: relative;
    z-index: 1;
    padding-top: 22%;
    width: 60%;
}
.start {
    text-align: center;
    width: 100%;
    background-color: white;
    position: relative;
    /*height: 115vh;*/
}
.start article {
    overflow: hidden;

}
.shadow {
    position: absolute;
    width: 120%;
    height: 100%;
    top:0;
    left: -10%;
    /*-webkit-box-shadow: inset 0px 0px 52px 45px rgba(255,255,255,1);*/
    /*-moz-box-shadow: inset 0px 0px 52px 45px rgba(255,255,255,1);*/
    /*box-shadow: inset 0px 0px 52px 45px rgba(255,255,255, 1);*/
}

.astronaut {
    position: fixed;
    z-index: 0;
    width:25%;
    bottom: 10%;
    right: -25%;
}
.start article {
    overflow: visible;
}
.start_wrapper {
    position: relative;
    padding-bottom: 35%;
}
.start h3 {
    padding-top:  10%;
    position: relative;
    z-index: 2;
}
.start h4 {
    text-transform: uppercase;
    margin-top: 3%;
}
.start p {
    margin: 20% auto 0 auto;
    position: relative;
    z-index: 2;
}
.start p + h3{
    margin-top: 3%;
    text-align: left;
}
.start h3 + ol {
    text-align: left;
    width: 75%;
    margin-top: 13%;
}
.start ol p {
    margin-top: 10%;
}
.create_site {
    position: relative;
    overflow: hidden;
    background-color: rgba(45,44,44, 0.5);
}
.create_site article {
    padding-bottom: 8%;
}
.create_site img{
    height: 33%;
    position: absolute;
    right: -7%;
    bottom:-9%;
}
.create_site h3 {
    margin-top: 13%;
}
.create_site p {
    margin-top: 7%;
    font-weight: 700;
}
.left_pagination {
    float: left;
    width: 1.9rem;
    margin: 5% 7% 0 -10%;
    height: 95%;
}

.create_site .left_pagination li:first-child {
    background-color: white;
}
.left_pagination li:nth-child(odd) {
    display: block;
    border: 2px solid white;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1rem;
    margin: 0 auto;
}
.left_pagination li:nth-child(even) {
    display: block;
    height: 19rem;
    width: 2px;
    background-color: white;
    margin: 0 auto;
}
.about_site {
    background-color: white;
    position: relative;
}
.about_site p {
    padding-top: 8%;
    width: 68%;
}
.pseudo_site {
    padding-top: 12%;
    width: 100%;
    text-align: center;
    background-color: #c63232;
}
.about_site article {
    padding-bottom: 9%;
}
.pseudo_site_menu + .pseudo_site {
    padding-top: 7%;
}
.pseudo_site p {
    margin: 5% auto 0 auto;
    padding-bottom: 8%;
    padding-top: 0;
    font-weight: 700;
}
.pseudo_site p span {
    text-decoration: underline;
    color: white;
}
.pseudo_site img {
    width: 65%;
}
.about_site ul {
    text-align: justify;
    font-size: 0;
    margin-top: 5%;
}
.about_site ul:after {
    content: '';
    display: inline-block;
    height: 0;
    width: 100%;
}
.about_site li {
    display: inline-block;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    width: 17%;
    padding: 0 0.99999%;
    line-height: 4rem;
    background-color: #2d2c2c;
}
.pseudo_site_menu {
    text-align: left !important;
}
.pseudo_site_menu li {
    margin-right: 1.2%;
}
.our_case {
    overflow: hidden;
    position: relative;
}
.our_case article {
    padding-bottom: 4%;
}
.our_case img{
    width: 25%;
    position: absolute;
    right: -10%;
    bottom:-5%;
}
.our_case h3 {
    margin-top: 10%;
    width: 100%;
}
.our_case p {
    margin-top: 4%;
    font-weight: 700;
}
.our_case li:nth-child(3) {
    background-color: white;
}
.our_case a {
    width:100%;
    text-align: center;
}
.our_case a p {
    margin-top: 17%;
}
.our_case a p:before {
    content: url("../img/d_arrow_red.png");
    display: inline-block;
    margin-right: 1.5%;
}

.our_result {
    position: relative;
    background-color: white;
}
.our_result article {
    position: relative;
    padding-bottom: 15%;
}
.r_slider_arrow {
    position: absolute;
    display: block;
    cursor: pointer;
    left: 105%;
    top: 27%;
    height: 7%;
}
.shuttle {
    width: 50%;
    position: absolute;
    right: -28%;
    bottom: 12%;
}
.result_slider_viewer {
    position: relative;
    padding-top: 10%;
    width: 100%;
    height: 30rem;
    overflow: hidden;
}
.result_slide h3 {
    text-transform: none;
    width: 45%;
}
.result_slide p {
    width: 45%;
    margin-top: 3%;
}
.result_slide {
    position: absolute;
    width: 100%;
    height: inherit;
    display: block;
    left: 100%;
}
.result_slide:first-child {
    left: 0;
}
.result_slide img {
    float: right;
    width: 52%;
}
.shuttle + section {
    text-align: center;
    margin-top: 7%;
}
.shuttle + section h3 {
    text-transform: none;
}
.shuttle + section p {
    width: 82%;
    margin: 3% auto 0 auto;
}
.our_sale {
    overflow: hidden;
}
.our_sale article {
    position: relative;
    padding-bottom: 30%;
}
.our_sale img:nth-child(1){
    height: 60%;
    position: absolute;
    right: -30%;
    bottom:0;
}
.our_sale img:nth-child(2){
    height: 60%;
    position: absolute;
    right: -5%;
    bottom:-16%;
}
.our_sale img:nth-child(3){
    height: 60%;
    position: absolute;
    right: 22%;
    bottom:-29%;
}
.our_sale h3 {
    margin-top: 10%;
    width: 110%;
}
.our_sale p {
    margin-top: 4%;
    font-weight: 700;
    width: 90%;
}
.our_sale li:nth-child(5) {
    background-color: white;
}
.first_stage, .second_stage {
    background-color: white;
    position: relative;
}
.first_stage article {
    padding-bottom: 8%;
}
.first_stage p {
    font-weight: 700;
    padding-top: 12%;
}

.second_stage article {
    position: relative;
    padding-bottom: 11%;
}
.second_stage p {
    position: relative;
    padding-top: 3%;
    font-weight: 700;
    margin-bottom: 16%;
}
.second_stage section p {
    position: relative;
    width: 80%;
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 4rem;
    padding-top: 0;
}
.second_stage img {
    position: absolute;
    height: 57%;
    right: -17%;
    bottom: 10%;
}
.attention {
    background-color: #c63232;
    position: relative;
}
.attention p {
    font-weight: 700;
    width: 70%;
}
.attention article {
    padding-top: 4vw;
    padding-bottom: 7vw;
}
.you_need {
    position: relative;
    background-color: white;
}
.you_need article {
    padding-top: 5%;
    padding-bottom: 9%;
}
.you_need p {
    font-weight: 700;
}
.about_us {
    position: relative;
    background-color: white;
}
.about_us article {
    padding-bottom: 20%;
}
.author {
    margin-top: 8%;
    width: 37%;
}
.author img {
    width: 100%;
}
.author p {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-top: 1rem;
}
.author a {
    text-decoration: underline;
}