@font-face {
    font-family: Gothic;
    src: url('../fonts/Gothic.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Gothic;
    src: url('../fonts/GothicB.ttf');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Anglecia;
    src: url('../fonts/AngleciaRegular.otf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Anglecia;
    src: url('../fonts/AngleciaItalic.otf');
    font-weight: 400;
    font-style: italic;
}
html {
    font-size: 10px;                    /*********   ATTENTION     ************/
}
a {
    text-decoration: none;              /*********   ATTENTION     ************/
}
a:hover {
    text-decoration: none;
}
header, footer, .wrapper {
    width: calc(100rem - 3rem);
    padding: 0 1.5rem;
    margin: 0 auto;
}
.m-wrapper {
    overflow: hidden;
    width: 100%;
}
.video-wrapper {
    text-align: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}
.main-white-filter {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7);
}
.main-img-wrapper {
    text-align: center;
    display: inline-block;
    background-image: url(../img/bg.jpg);
    width: auto;
    height: 140%;
    position: absolute;
    left: -20%;
    top: -20%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header {
    padding-top: 2rem;
    position: relative;
    z-index: 1;
    height: 100vh;
    overflow: hidden;
}
.top-menu {
    width: 100%;
    overflow: hidden;
}
.logo {
    float: left;
    width: 14rem;
}
.logo img {
    width: 100%
}
.top-menu-container {
    float: right;
    width: 48rem;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    text-align-last: justify;
    margin-top: 2rem;
}
.top-menu-container li a {
    position: relative;
    color: rgb(97, 105, 118);
    font-family: "Gothic", sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-transform: uppercase;
}
.top-active {
    color: black;
}
.top-active a:after {
    background-color: black;
    width: 100%;
}
.top-menu-container li a:after {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 1px;
    background-color: rgb(97, 105, 118);
    width: 0;
    transition: width 0.8s;
}
.top-menu-container li a:active,
.top-menu-container li a:-webkit-any-link
 {
    text-decoration: none;
}
.top-menu-container li:hover a:after {
    width: 100%;
}
.top-info-text {
    margin-top: 20vh;
    width: 70rem;
    height: auto;
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 5.7rem;
    font-weight: 400;
    line-height: 7rem;
}
.top-connect-btn {
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    width: 16rem;
    height: 5rem;
    margin-top: 5rem;
/*    border: 1px solid rgb(97, 105, 118);*/
    box-shadow: inset 0 0 0 1px rgb(97, 105, 118);
    color: rgb(97, 105, 118);
    font-family: Gothic, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 5rem;
    transition: color 0.7s;
    padding: 1px 2px;

}
.top-connect-btn::before, .top-connect-btn::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.top-connect-btn {
  transition: color 0.25s;
}
.top-connect-btn::before, .top-connect-btn::after {
  border: 1px solid transparent;
  width: 0;
  height: 0;
}
.top-connect-btn::before {
  top: 0;
  left: 0;
}
.top-connect-btn::after {
  bottom: 0;
  right: 0;
}
.top-connect-btn:hover {
  color: #000;
}
.top-connect-btn:hover::before, .top-connect-btn:hover::after {
  width: 100%;
  height: 100%;
}
.top-connect-btn:hover::before {
  border-top-color: #000;
  border-right-color: #000;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.top-connect-btn:hover::after {
  border-bottom-color: #000;
  border-left-color: #000;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.ask-fixed {
    position: fixed;
    bottom: 0;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 4.5rem;
    width: 16rem;
    height: 4rem;
    color: rgb(255, 255, 255);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 4rem;
    background-color: rgba(97, 105, 118, 0.7);
    background-image: linear-gradient(45deg, rgba(242, 212, 236, 0.25) 0%, rgba(117, 183, 206, 0.25) 100%);
    transition: bottom 0.7s;
}
.ask-fixed:before {
    position: absolute;
    display: inline-block;
    content: url(../img/message_line.svg);
    height: 2.5rem;
    width: 2.5rem;
    line-height: 4rem;
    top: 1rem;
    left: 1rem;
}
.ask-fixed:hover {
    bottom: 1rem;
}
.about {
    padding-top: 14rem;
}
.about-header {
    float: left;
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
    word-wrap: normal;
    width: 75rem;
    margin-bottom: 2rem;
    overflow: visible;
    position: relative;
    z-index: 3;
    letter-spacing: 3.7px;
    text-transform: uppercase;
}
.about-slider {
    position: relative;
    width: 48rem;
    overflow: hidden;
    float: right;
    margin-top: -7rem;
}
.about-slider-wrapper {
    width: 1000rem;
    height: 36rem;
}
.about-slider:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 48rem;
    height: 36rem;
    background-color: rgba(255,255,255,0.3);
    z-index: 2;
}
.about-slider:after {
    position: absolute;
    display: block;
    content: "";
    width: 40rem;
    height: 32rem;
    top: 4rem;
    left: 4rem;
    box-shadow: 0 1.3rem 4.5rem rgba(54, 57, 63, 0.45);
}
.about-slider-wrapper img {
    position: absolute;
    width: 48rem;
    height: 36rem;
    display: inline-block;
    margin-bottom: 2rem;
    z-index: 1;
}
.about-text {
    width: 40rem;
    float: left;
    padding-bottom: 3rem;
    color: rgb(97, 105, 118);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 25px;
}
.about-slider-counter {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
}
.about-counter-text {
    margin: 0 1rem;
    width: 4.7rem;
    text-align: center;
    overflow: hidden;
}
.about-l-arrow, .about-r-arrow {
    color: rgb(76, 203, 202);
    font-family: Anglecia;
    font-size: 3.5rem;
    font-weight: 400;
    cursor: pointer;
    height: 5rem;
    display: inline-block;
    line-height: 5rem;
    vertical-align: top;
}
.grace-is {
    clear: both;
    padding-top: 5rem;
}
.grace-is-header {
    text-align: center;
    width: 100%;
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
    text-transform: uppercase;
    margin-bottom: 3.5rem;
}
.grace-is-container {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    text-align-last: justify;
    flex-wrap: wrap;
    flex-direction: row;
}
.grace-is-img {
    width: 16rem;
    padding-bottom: 3rem;
}
.grace-is-punct {
    width: 45rem;
    text-align: left;
    text-align-last: left;
    margin-bottom: 3.5rem;
}
.grace-is-punct-header {
    width: 100%;
    color: rgb(97, 105, 118);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}
.grace-is-text {
    width: 100%;
    color: rgb(97, 105, 118);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
}
.our-team {
    padding-top: 15rem;
    clear: both;
}
.our-team-header {
    text-align: center;
    width: 100%;
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.our-team-counter {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
    margin-bottom: 4rem;
}
.our-team-counter-text {
    margin: 0 1rem;
    width: 4.7rem;
    text-align: center;
    overflow: hidden;
}
.our-team-l-arrow, .our-team-r-arrow {
    color: rgb(76, 203, 202);
    font-family: Anglecia;
    font-size: 35px;
    font-weight: 400;
    cursor: pointer;
    height: 5rem;
    display: inline-block;
    line-height: 5rem;
    vertical-align: top;
}
.our-team-slider {
    overflow: hidden;
    padding-bottom: 10rem;
}
.our-team-slider-text {
    width: 58rem;
    float: left;
}
.teamate-name {
    width: 100%;
    color: rgb(97, 105, 118);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
.teamate-text {
    width: 100%;
    height: 9rem;
    overflow: hidden;
}
.teamate-text-wrapper {
    color: rgb(97, 105, 118);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.3rem;
}
.teamate-text-wrapper a {
    color: rgb(97, 105, 118);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.3rem;
    text-decoration: underline;
}
.teamate-text a {
    display: inline;
    text-decoration: underline;
}
.teamate-text-more {
    width: auto;
    display: block;
    cursor: pointer;
    margin-top: 2rem;
    color: rgb(76, 203, 202);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.2rem;
    
}
.teamate-text-more p {
    display: inline-block; 
    line-height: 2.2rem;
    border-bottom: 1px dashed rgb(76, 203, 202);
}
.teamate-years {
    display: inline-block;
    margin: 3.5rem 5rem 4.5rem 0;
}
.teamate-years-img {
    height: 3rem;
    margin-bottom: 1.5rem;
}
.teamate-years-text {
    width: 19rem;
    color: rgb(0, 0, 0);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.1rem;
}
.teamate-operation {
    display: inline-block;
}
.teamate-operation-img {
    height: 3rem;
    margin-bottom: 1.5rem;
}
.teamate-operation-text {
    width: 19rem;
    color: rgb(0, 0, 0);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.1rem;
}
.teamate-expiriance-header {
    cursor: pointer;
    position: relative;
    color: rgb(76, 203, 202);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
.teamate-expiriance-header:after {
    content: url(../img/arrow_d.png);
    display: inline-block;
    position: absolute;
    width: 1.5rem;
    height: 1rem;
    left: 13rem;
}
.teamate-expiriance-list {
    padding-left: 2rem;
    padding-bottom: 3rem;
}
.teamate-expiriance-list li {
    position: relative;
    color: rgb(97, 105, 118);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.teamate-expiriance-list li:before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.6rem;
    background-color: rgb(76, 203, 202);
    left: -1.3rem;
    top: 0.7rem;
}
.teamate-edu-header {
    cursor: pointer;
    position: relative;
    color: rgb(76, 203, 202);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
.teamate-edu-header:after {
    content: url(../img/arrow_d.png);
    display: inline-block;
    position: absolute;
    width: 1.5rem;
    height: 1rem;
    left: 13rem;
}
.t-active {
    color: rgb(58, 129, 128);
}
.t-active:after {
    content: url(../img/arrow_u.png);
}
.teamate-edu-text {
    position: relative;
    color: rgb(97, 105, 118);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.teamate-edu-wrapper {
    height: 2.5rem;
    overflow: hidden;
}
.teamate-expiriance-wrapper {
    overflow: hidden;
}
b {
    font-weight: 700;
}

.our-team-slider-img {
    float: right;
    position: relative;
    width: 32rem;
    height: 53rem;
    z-index: 3;
}
.our-team-slider-img-wrapper {
    width: 32rem;
    height: 53rem;
    overflow: hidden;
    position: relative;
    font-size: 0;
}

.our-team-slider-img:after {
    position: absolute;
    display: block;
    content: "";
    width: 26rem;
    height: 49rem;
    top: 4rem;
    left: 3rem;
    box-shadow: 0 1.3rem 4.5rem rgba(54, 57, 63, 0.45);
}
.team-img-slide {
    position: absolute;
    width: 32rem;
    height: 53rem;
    background-color: rgb(247, 247, 247);
    background-image: linear-gradient(45deg, rgba(103, 255, 254, 0.15) 0%, rgba(255, 204, 228, 0.15) 100%);
    z-index: 4;
    overflow: hidden;
}
.teamate-photo {
    position: relative;
    z-index: 5;
    width: 100%;
}
/*
.teamate-photo:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    z-index: 5;
}
*/
.teamate-say {
    position: absolute;
    top: 28rem;
    box-sizing: border-box;
    padding: 0 1rem;
    text-align: center;
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: Anglecia;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 2.3rem;
    text-transform: uppercase;
    z-index: 6;
}
.teamate-say:after,
.teamate-say:before {
    content: url(../img/Quotes.svg);
    display: block;
    width: 3.3rem;
    text-align: center;
    margin: 1.5rem auto;
}
.teamate-say:before {
    transform: rotate(180deg);
}
.service {
}
.service-first-img {
    position: relative;
    width: 32rem;
    float: left;
    margin-right: 6rem;
    text-align: center;
}
.service-first-img img {
    position: relative;
    width: 26rem;
    z-index: 1;
}
/*
.service-first-img:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 32rem;
    height: 40rem;
    background-color: rgba(255,255,255,0.4);
    z-index: 2;
}
.service-first-img:after {
    position: absolute;
    display: block;
    content: "";
    width: 26rem;
    height: 36rem;
    top: 4rem;
    left: 3rem;
    box-shadow: 0 1.3rem 4.5rem rgba(54, 57, 63, 0.45);
}
*/
.service-header {
    padding-top: 4rem;
    margin-bottom: 4rem;
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
    text-transform: uppercase;
}
.service-text {
    color: rgb(0, 0, 0);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
}
.service-type-nav {
    position: relative;
    margin-top: 10rem;
    clear: both;
    float: left;
    width: 26rem;
    padding-left: 5.2rem;
    margin-left: 1.5rem;
    margin-right: 10rem;
    border-left: 1px solid rgb(76, 203, 202);
}
.service-type-nav:after {
    position: absolute;
    content: '';
    display: block;
    bottom: 0;
    left: -1px;
    width: 1px;
    height: 2.5rem;
    background-color: white;
}
.service-type-nav li{
    cursor: pointer;
    position: relative;
    color: rgb(97, 105, 118);
    font-family:  Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    margin-bottom: 7.5rem;
    text-transform: uppercase;
}
.service-type-nav li:last-child {
    margin-bottom: 0;
}
.service-type-nav li:before {
    z-index: 2;
    content: "";
    width: 3rem;
    height: 3rem;
    box-shadow: 0 2px 4px rgba(0, 60, 60, 0.5);
    border: 1px solid rgb(76, 203, 202);
    background-color: rgb(255, 255, 255);
    border-radius: 3rem;
    display: block;
    position: absolute;
    left: -6.8rem;
    top: -0.3rem;
    background-color: white;
    transition: box-shadow 0.3s;
}
.service-type-nav li:hover {
    color: rgba(0, 0, 0, 0.8);
}
.service-type-nav li:hover:before {
    box-shadow: 0 5px 10px rgba(0, 60, 60, 0.35);
}
.service-type-nav li.nav-active:after {
    content: "";
    z-index: 2;
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: rgb(76, 203, 202);
    left: -6.3rem;
    top: 0.2rem;
    border-radius: 2rem;
}
.service-type-nav li.nav-active:before{
    box-shadow: 0 2px 4px rgba(0, 60, 60, 0.5);
}
.service-type-text {
    margin-top: 9rem;
    width: 56rem;
    min-height: 70rem;
    float: right;
    display: none;
    opacity: 0;
}
.service-type-text span {
    display: block;
}
.service-type-header {
    width: 100%;
    text-align: left;
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}
.service-type-info {
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    padding-bottom: 3rem;
}
.service-type-img-one,
.service-type-img-two {
    width: 28rem;
    position: relative;
    height: 33rem;
    margin-bottom: 4.4rem;
}
.service-type-img-one {
    float: left;
}
.service-type-img-two {
    float: right;
}
.service-type-img-one img,
.service-type-img-two img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
}
.service-type-img-one:before,
.service-type-img-two:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 28rem;
    height: 33rem;
    background-color: rgba(255,255,255,0.4);
    z-index: 2;
}
.service-type-img-one:after,
.service-type-img-two:after {
    position: absolute;
    display: block;
    content: "";
    width: 23rem;
    height: 29rem;
    top: 3rem;
    left: 2rem;
    box-shadow: 0 1.3rem 4.5rem rgba(54, 57, 63, 0.45);
}
.service-about-header {
    clear: both;
    display: block;
    cursor: pointer;
    position: relative;
    color: rgb(76, 203, 202);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.service-about-header:after {
    content: url(../img/arrow_d.png);
    display: inline-block;
    width: 1.6rem;
    height: 1rem;
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
}
.service-type-about .about-active {
    color: rgb(58, 129, 128);
}
.service-type-about .about-active:after {
    content: url(../img/arrow_u.png);
}
.service-about-wrapper {
    display: inline-block;
    width: 100%;
    opacity: 0.8;
    color: rgb(0, 0, 0);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.3rem;
}
.service-type-about {
    clear: both;
    height: auto;
    margin-bottom: 3.5rem;
    overflow: hidden;
}
.service-type-about span {
    margin-bottom: 2rem;
}
.service-type-about li {
    margin-bottom: 2rem;
}
.service-img-wrapper {
    float: left;
    width: 28rem;
    margin-top: 7.5rem;
}
.service-img-block {
    width: 100%;
    display: none;
    opacity: 0;
}
.results {
    clear: both;
}
.results-header {
    width: 100%;
    text-align: center;
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
    text-transform: uppercase;
    margin-bottom: 2.8rem;
    padding-top: 1rem;    
}
.result-slider {
    width: 94rem;
    height: 38rem;
    overflow: hidden;
}
.result-slider-wrapper {
    height: 100%;
    font-size: 0;
    position: relative;
    width: 10000rem;
}
.result-slide {
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    width: 47rem;
    height: 100%;
    padding: 1.5rem;
    padding-bottom: 4rem;
    position: relative;
    z-index: 1;
}
.result-slide-img-one,
.result-slide-img-two {
    position: relative;
    width: 44rem;
    height: 32rem;
    text-align: center;
}
.result-slide-img-one {
    float: left;
}
.result-slide-img-two {
    float: right;
}
.result-slide-img-one img,
.result-slide-img-two img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}
.result-slide-img-one:before,
.result-slide-img-two:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 43rem;
    height: 30rem;
    background-color: rgba(255,255,255,0.4);
    z-index: 2;
    transition: background-color 0.7s;
}
.result-slide-img-one:after,
.result-slide-img-two:after {
    position: absolute;
    display: block;
    content: "";
    width: 40rem;
    height: 28rem;
    top: 3rem;
    left: 2rem;
    background-color: white;
    box-shadow: 0 1.3rem 4.5rem rgba(54, 57, 63, 0.45);
    transition: box-shadow 0.7s, background-color 0.7s;
}
.result-slide-img-one:hover:before,
.result-slide-img-two:hover:before {
    background-color: rgba(255,255,255,0.8);
}
.result-slide-img-one:hover:after,
.result-slide-img-two:hover:after {
    box-shadow: 0 25px 55px rgba(54, 57, 63, 0.25);
    background-color: rgb(247, 247, 247);
}
.results-slider-counter {
    position: relative;
    top: -2rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
}
.results-counter-text {
    margin: 0 1rem;
        width: 4.7rem;
    text-align: center;
    overflow: hidden;
}
.results-l-arrow, .results-r-arrow {
    color: rgb(76, 203, 202);
    font-family: Anglecia;
    font-size: 35px;
    font-weight: 400;
    cursor: pointer;
    height: 5rem;
    display: inline-block;
    line-height: 5rem;
    vertical-align: top;
}
.clients {
    width: 100%;
    clear: both;
    position: relative;
}
.clients-decor {
    position: absolute;
    width: 60rem;
    right: -45rem;
    bottom: -30rem;
    opacity: 0.35;
}
.clients-decor img {
    width: 100%;
}
.clients-slider {
    position: relative;
    top: -3rem;
    height: 26rem;
    overflow: hidden
}
.clients-header {
    width: 100%;
    text-align: center;
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
    text-transform: uppercase;
    margin-top: 6rem;
}
.clients-slider-wrapper {
    position: relative;
    height: 26rem;
    font-size: 0;
}
.client-slide {
    position: absolute;
    top: 0;
    overflow: hidden;
    height: 26rem;
    display: inline-block;
    width: 94rem;
}
.client-slide-img {
    display: inline-block;
    float: left;
    width: 22rem;
    height: 22rem;
    border-radius: 22rem;
    position: relative;
}
.client-slide-img img {
    width: 22rem;
    height: 22rem;
    border-radius: 22rem;
    position: relative;
    z-index: 1;    
}
.client-slide-img:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 22rem;
    height: 22rem;
    border-radius: 22rem;
    background-color: rgba(255,255,255,0.2);
    z-index: 2;
    transition: background-color 0.7s;
}
.client-slide-img:after {
    position: absolute;
    display: block;
    content: "";
    width: 17.5rem;
    height: 17.5rem;
    border-radius: 17.5rem;
    top: 4.5rem;
    left: 2rem;
    background-color: white;
    box-shadow: 0 1.3rem 4.5rem rgba(54, 57, 63, 0.45);
    transition: box-shadow 0.7s, background-color 0.7s;
}
.client-slide-img:hover:after {
    box-shadow: 0 2.6rem 5.5rem rgba(54, 57, 63, 0.30);
}
.client-slide-img:active:after {
    box-shadow: 0 0.6rem 3.5rem rgba(54, 57, 63, 0.5);
}
.client-slide-text {
    float: right;
    display: inline-block;
/*    width: 63.5rem;*/
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-left: 8rem;
    padding-top: 6rem;
    letter-spacing: 0.15rem;
}
.client-slide-name {
    float: right;
    margin-top: 3rem;
    text-align: right;
    color: rgb(0, 0, 0);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
    overflow: hidden;
    white-space: nowrap; 
}
.clients-slider-counter {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
}
.clients-counter-text {
    margin: 0 1rem;
        width: 4.7rem;
    text-align: center;
    overflow: hidden;
}
.clients-l-arrow, .clients-r-arrow {
    color: rgb(76, 203, 202);
    font-family: Anglecia;
    font-size: 35px;
    font-weight: 400;
    cursor: pointer;
    height: 5rem;
    display: inline-block;
    line-height: 5rem;
    vertical-align: top;
}
.consult {
    width: 100%;
    clear: both;
}
.consult-form-header {
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
    text-transform: uppercase;
    margin-top: 10rem;
}
.consult-form-container {
    margin-top: 5rem;
    width: 100%;
    overflow: hidden;
}
.consult-form-text {
    width: 45rem;
    float: left;
    display: inline-block;
    overflow: hidden;
}
.consult-text {
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.3rem;
}
.consult-required {
    color: rgb(97, 105, 118);
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.3rem;
    margin-top: 2.2rem;
    margin-bottom: 5.3rem;
}
.contacts {
    width: 22.5rem;
    display: inline-block;
    padding-bottom: 10rem;
}
.contacts-header, .adress-header {
    width: 100%;
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: rgb(0, 0, 0);
    font-weight: 700;
}
.contacts-info, .adress-info {
    width: 100%;
    font-family: Gothic, sans-serif;
    font-size: 1.5rem;
    line-height: 2.5rem;
    color: rgb(0, 0, 0);
}

.contacts-info a {
    color: rgb(76, 203, 202);
    font-weight: 700;
}
.adress {
    width: 16.5rem;
    display: inline-block;
    margin-left: 2rem;
    vertical-align: top;
}
.consult-form {
    display: inline-block;
    width: 30rem;
    float: right;
    margin-right: 7.5rem;
}
.consult-form input,
.consult-form textarea {
    width: 100%;
    height: 3rem;
    margin-bottom: 1.5rem;
    outline: none;
    border: 0;
    border-color: rgb(76, 203, 202);
    border-bottom: 1px solid rgb(76, 203, 202);
    overflow: hidden;
    text-align: left;
    color: rgb(0, 0, 0, 0.3);
    font-family: Gothic, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
}
.consult-form button {
    position: relative;
    padding: 0;
    width: 100%;
    height: 5rem;
    background-color: rgb(76, 203, 202);
    border: 0;
    outline: none;
    color: rgb(255, 255, 255);
    font-family: Gothic, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
}
.consult-form button p {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 3;
    line-height: 5rem;
    background-color: rgb(76, 203, 202);
    color: rgb(255, 255, 255);
    font-family: Gothic, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
}
.consult-form button:after {
    z-index: 1;
    content: "";
    display: block;
    position: absolute;
    top: 2rem;
    left: 1rem;
    width: 28rem;
    height: 3rem;
    box-shadow: 0 5px 2.5rem rgba(0, 60, 60, 0.6);
    background-color: rgb(76, 203, 202);
    transition: box-shadow 0.7s;
}
.consult-form button:hover {
    background-color: rgb(88, 215, 214);
}
.consult-form button:hover:after {
    box-shadow: 0 1rem 3rem rgba(0, 60, 60, 0.4);
    background-color: rgb(76, 203, 202);
}
.consult-form button:active:after {
    box-shadow: 0 3px 2rem rgba(0, 60, 60, 0.75);
}
.consult-form button:active {
    background-color: rgb(66, 179, 178);
}
.consult-form input::-webkit-input-placeholder,
.consult-form input[placeholder],
.consult-form input::-moz-placeholder, 
.consult-form input:-moz-placeholder,
.consult-form input:-ms-input-placeholder,
.consult-form input::placeholder,
.consult-form textarea::-webkit-input-placeholder,
.consult-form textarea[placeholder],
.consult-form textarea::-moz-placeholder, 
.consult-form textarea:-moz-placeholder,
.consult-form textarea:-ms-input-placeholder,
.consult-form textarea::placeholder{
        opacity: 0.3;
        color: rgb(0, 0, 0, 1);
        font-family: Gothic, sans-serif;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.4rem;
}



/*.consult-form .textarea:after {
    content: url(../img/ta-ico.png);
    display: block;
    background-color: white;
    position: absolute;
    bottom: 7px;
    right: -4px;
    width: 13px;
    height: 15px;
    pointer-events: none;
}*/
.wrapper .top-menu {
    width: 94rem;
}
.wrapper .top-menu-container {
    float: left;
    margin-left: 10rem;
    overflow: hidden;
    margin-top: 2rem;
}
.menu-connect-btn {
    display: none;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    width: 16rem;
    height: 5rem;
    margin-top: 0.6rem;
    float: right;
    box-shadow: inset 0 0 0 1px rgb(97, 105, 118);
    color: rgb(97, 105, 118);
    font-family: Gothic, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 5rem;
    transition: color 0.7s;
    padding: 1px 2px;

}
.menu-connect-btn::before, .menu-connect-btn::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.menu-connect-btn {
  transition: color 0.25s;
}
.menu-connect-btn::before, .menu-connect-btn::after {
  border: 1px solid transparent;
  width: 0;
  height: 0;
}
.menu-connect-btn::before {
  top: 0;
  left: 0;
}
.menu-connect-btn::after {
  bottom: 0;
  right: 0;
}
.menu-connect-btn:hover {
  color: #000;
}
.menu-connect-btn:hover::before, .menu-connect-btn:hover::after {
  width: 100%;
  height: 100%;
}
.menu-connect-btn:hover::before {
  border-top-color: #000;
  border-right-color: #000;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.menu-connect-btn:hover::after {
  border-bottom-color: #000;
  border-left-color: #000;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.top-menu-container .top-active {
    color: black;
}
.top-menu-container .top-active a:after {
    background-color: black;
    width: 100%;
}
.consult-form textarea {
    width: 30rem;
/*    outline-color: rgb(76, 203, 202);
    background-image: url(../img/ta-ico.jpg);
    background-repeat: no-repeat;
    background-position: right bottom;*/
    position: relative;
    margin-bottom: 0;
}
.wrap {
    position: relative;
    display: inline-block;
    margin-bottom: 1.5rem;
    width: auto;
}
/*.wrap:after {
    content:"";
    border-top: 20px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    -webkit-transform: rotate(-45deg);
    z-index: 1;
    opacity: 0.5;
    position: absolute;
    right: -18px;
    bottom: -3px;
    pointer-events: none;
}*/
.pull-tab {
/*    height: 0px;
    width: 0px;
    border-top: 20px solid cyan;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    -webkit-transform: rotate(-45deg);*/
    background-image: url(../img/ta-ico.jpg);
    background-repeat: no-repeat;
    background-color: white;
    width: 9px;
    height: 9px;
    position: absolute;
    bottom: 6px;
    right: 0px;
    pointer-events: none;
    z-index: 2;
}
.serv-connect-btn {
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    width: 28rem;
    height: 5rem;
    margin-top: 0.6rem;
    float: left;
    box-shadow: inset 0 0 0 1px rgb(97, 105, 118);
    color: rgb(97, 105, 118);
    font-family: Gothic, sans-serif;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 5rem;
    transition: color 0.7s;
    padding: 1px 2px;

}
.serv-connect-btn::before, .serv-connect-btn::after {
  box-sizing: inherit;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
}

.serv-connect-btn {
  transition: color 0.25s;
}
.serv-connect-btn::before, .serv-connect-btn::after {
  border: 1px solid transparent;
  width: 0;
  height: 0;
}
.serv-connect-btn::before {
  top: 0;
  left: 0;
}
.serv-connect-btn::after {
  bottom: 0;
  right: 0;
}
.serv-connect-btn:hover {
  color: gree;
}
.serv-connect-btn:hover::before, .serv-connect-btn:hover::after {
  width: 100%;
  height: 100%;
}
.serv-connect-btn:hover::before {
  border-top-color: #000;
  border-right-color: #000;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}
.serv-connect-btn:hover::after {
  border-bottom-color: #000;
  border-left-color: #000;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
}
.wrapper ul.grace-list {
}
.grace-list li {
    position: relative;
    margin-left: 1.6rem;
}
.grace-list li:before {
    position: absolute;
    content: '';
    width: 0.5rem;
    height: 0.5rem;
    display: inline-block;
    border-radius: 0.5rem;
    left: -1.2rem;
    top: 1.1rem;
    background-color: rgb(76, 203, 202);
}
.atention {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5rem;
    color: rgb(97, 105, 118);
    font-size: 1.6rem;
    line-height: 2.4rem;
}
.sound-btn,
.mute-btn {
    font-size: 1.6rem;
    display: block;
    width: 3rem;
    height: 3rem;
    position: absolute;
    cursor: pointer;
    bottom: 5%;
    right: 5%;
    text-decoration: underline;
}
.mute-btn {
    display: none;
    width: 4.7rem;
    height: 5rem;
    bottom: calc(5% - 2rem);
    right: calc(5% - 1.3rem);
    
}
.sound-btn img,
.mute-btn img {
    width: 100%;
}
























