@font-face {
    font-family: Anglecia;
    src: url(../fonts/AngleciaRegular.otf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Anglecia;
    src: url(../fonts/AngleciaItalic.otf);
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Gothic;
    src: url(../fonts/GOTHIC.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Gothic;
    src: url(../fonts/GOTHICB.ttf);
    font-weight: 700;
    font-style: normal;
}
html {
    font-size: 10px;                    /*********   ATTENTION     ************/
}
a {
    text-decoration: none;              /*********   ATTENTION     ************/
}
a:hover {
    text-decoration: none;
}
header, footer, .wrapper {
    width: calc(100rem - 3rem);
    padding: 0 1.5rem;
    margin: 0 auto;
}
.main-img-wrapper {
    display: block;
    background-image: url(../img/bg.jpg);
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
header {
    padding-top: 2rem;
    position: relative;
    z-index: 1;
    height: 100vh;
    overflow: hidden;
}
.top-menu {
    width: 100%;
    overflow: hidden;
}
.logo {
    float: left;
    width: 14rem;
}
.logo img {
    width: 100%
}
.top-menu-container {
    float: right;
    width: 52rem;
    display: flex;
    justify-content: space-between;
    text-align: justify;
    text-align-last: justify;
    margin-top: 2rem;
}
.top-menu-container li a {
    position: relative;
    color: rgb(97, 105, 118);
    font-family: "Gothic";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-transform: uppercase;
}
.top-menu-container li a:after {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 1px;
    background-color: rgb(97, 105, 118);
    width: 0;
    transition: width 0.8s;
}
.top-menu-container li:hover a:after {
    width: 100%;
}
.top-info-text {
    margin-top: 20vh;
    width: 70rem;
    height: auto;
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 5.7rem;
    font-weight: 400;
    line-height: 7rem;
}
.top-connect-btn {
    cursor: pointer;
    box-sizing: border-box;
    width: 16rem;
    height: 5rem;
    margin-top: 5rem;
    border: 1px solid rgb(97, 105, 118);
    color: rgb(97, 105, 118);
    font-family: "Gothic";
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
    text-transform: uppercase;
    text-align: center;
    line-height: 5rem;
}
.ask-fixed {
    position: fixed;
    bottom: 0;
    cursor: pointer;
    box-sizing: border-box;
    padding-left: 4.5rem;
    width: 16rem;
    height: 4rem;
    color: rgb(255, 255, 255);
    font-family: "Gothic";
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 4rem;
    background-color: rgba(97, 105, 118, 0.7);
    background-image: linear-gradient(45deg, rgba(242, 212, 236, 0.25) 0%, rgba(117, 183, 206, 0.25) 100%);
}
.ask-fixed:before {
    position: absolute;
    display: inline-block;
    content: url(../img/message_line.svg);
    height: 2.5rem;
    width: 2.5rem;
    line-height: 4rem;
    top: 1rem;
    left: 1rem;
}
.about {
    padding-top: 14rem;
    overflow: hiiden;
}
.about-header {
    float: left;
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 4rem;
    font-weight: 400;
    line-height: 50px;
    word-wrap: normal;
    width: 41rem;
    margin-bottom: 2rem;
    overflow: visible;
    position: relative;
    z-index: 3;
    letter-spacing: 3.7px;
}
.about-slider {
    position: relative;
    width: 48rem;
    overflow: hidden;
    float: right;
}
.about-slider-wrapper {
    width: 1000rem;
}
.about-slider:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 48rem;
    height: 36rem;
    background-color: rgba(255,255,255,0.2);
    z-index: 2;
}
.about-slider:after {
    position: absolute;
    display: block;
    content: "";
    width: 40rem;
    height: 32rem;
    top: 4rem;
    left: 4rem;
    box-shadow: 0 13px 45px rgba(54, 57, 63, 0.45);
}
.about-slider-wrapper img {
    position: relative;
    width: 48rem;
    height: 36rem;
    display: inline-block;
    margin-bottom: 2rem;
    z-index: 1;
}
.about-text {
    width: 40rem;
    float: left;
    padding-top: 3rem;
    color: rgb(97, 105, 118);
    font-family: Gothic;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}
.about-slider-counter {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
}
.about-counter-text {
    margin: 0 1rem;
}
.about-l-arrow, .about-r-arrow {
    color: rgb(76, 203, 202);
    font-family: Anglecia;
    font-size: 35px;
    font-weight: 400;
    cursor: pointer;
    height: 5rem;
    display: inline-block;
    line-height: 5rem;
    vertical-align: top;
}
.grace-is {
    clear: both;
    padding-top: 10rem;
}
.grace-is-header {
    text-align: center;
    width: 100%;
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
    text-transform: uppercase;
    margin-bottom: 5.5rem;
}
.grace-is-container {
    display: flex;
    justify-content: space-between;
    text-align: justify;
    text-align-last: justify;
    flex-wrap: wrap;
    flex-direction: row;
}
.grace-is-img {
    width: 16rem;
    padding-bottom: 3rem;
}
.grace-is-punct {
    width: 41rem;
    text-align: left;
    text-align-last: left;
    margin-bottom: 5.5rem;
}
.grace-is-punct-header {
    width: 100%;
    color: rgb(97, 105, 118);
    font-family: Gothic;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
}
.grace-is-text {
    width: 100%;
    color: rgb(97, 105, 118);
    font-family: Gothic;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.5rem;
}
.our-team {
    padding-top: 15rem;
}
.our-team-header {
    text-align: center;
    width: 100%;
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
    text-transform: uppercase;
    margin-bottom: 4rem;
}
.our-team-counter {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: rgb(97, 105, 118);
    font-family: Anglecia;
    font-size: 4rem;
    font-weight: 400;
    line-height: 5rem;
    margin-bottom: 4rem;
}
.our-team-counter-text {
    margin: 0 1rem;
}
.our-team-l-arrow, .our-team-r-arrow {
    color: rgb(76, 203, 202);
    font-family: Anglecia;
    font-size: 35px;
    font-weight: 400;
    cursor: pointer;
    height: 5rem;
    display: inline-block;
    line-height: 5rem;
    vertical-align: top;
}
.our-team-slider {
    overflow: hidden;
}
.our-team-slider-text {
    width: 58rem;
    float: left;
}
.teamate-name {
    width: 100%;
    color: rgb(97, 105, 118);
    font-family: Gothic;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 25px;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
.teamate-text {
    width: 100%;
    height: 9rem;
    overflow: hidden;
}
.teamate-text-wrapper {
    color: rgb(97, 105, 118);
    font-family: Gothic;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.3rem;
}
.teamate-text-wrapper a {
    color: rgb(97, 105, 118);
    font-family: Gothic;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.3rem;
    text-decoration: underline;
}
.teamate-text a {
    display: inline;
    text-decoration: underline;
}
.teamate-text-more {
    width: auto;
    display: block;
    cursor: pointer;
    margin-top: 2rem;
    color: rgb(76, 203, 202);
    font-family: Gothic;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.2rem;
    
}
.teamate-text-more p {
    display: inline-block; 
    line-height: 2.2rem;
    border-bottom: 1px dashed rgb(76, 203, 202);
}
.teamate-years {
    display: inline-block;
    margin: 3.5rem 5rem 4.5rem 0;
}
.teamate-years-img {
    height: 3rem;
    margin-bottom: 1.5rem;
}
.teamate-years-text {
    width: 19rem;
    color: rgb(0, 0, 0);
    font-family: Gothic;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.1rem;
}
.teamate-operation {
    display: inline-block;
}
.teamate-operation-img {
    height: 3rem;
    margin-bottom: 1.5rem;
}
.teamate-operation-text {
    width: 19rem;
    color: rgb(0, 0, 0);
    font-family: Gothic;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.1rem;
}
.teamate-expiriance-header {
    cursor: pointer;
    position: relative;
    color: rgb(58, 129, 128);
    font-family: Gothic;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
.teamate-expiriance-header:after {
    content: url(../img/arrow_u.png);
    display: inline-block;
    position: absolute;
    width: 1.5rem;
    height: 1rem;
    left: 13rem;
    top: 0.7rem;
}
.teamate-expiriance-list {
    padding-left: 2rem;
    padding-bottom: 3rem;
}
.teamate-expiriance-list li {
    position: relative;
    color: rgb(97, 105, 118);
    font-family: Gothic;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.teamate-expiriance-list li:before {
    content: "";
    position: absolute;
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.6rem;
    background-color: rgb(76, 203, 202);
    left: -1.3rem;
    top: 0.7rem;
}
.teamate-edu-header {
    cursor: pointer;
    position: relative;
    color: rgb(76, 203, 202);
    font-family: Gothic;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}
.teamate-edu-header:after {
    content: url(../img/arrow_d.png);
    display: inline-block;
    position: absolute;
    width: 1.5rem;
    height: 1rem;
    left: 13rem;
    top: 0.7rem;
}
.teamate-edu-text {
    position: relative;
    color: rgb(97, 105, 118);
    font-family: Gothic;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.teamate-edu-wrapper {
    height: 2.5rem;
    overflow: hidden;
}
b {
    font-weight: 700;
}

.our-team-slider-img {
    float: right;
    position: relative;
    width: 32rem;
    height: 53rem;
    z-index: 3;
}

.our-team-slider-img:after {
    position: absolute;
    display: block;
    content: "";
    width: 26rem;
    height: 49rem;
    top: 4rem;
    left: 3rem;
    box-shadow: 0 13px 45px rgba(54, 57, 63, 0.45);
}
.team-img-slide {
    position: absolute;
    width: 32rem;
    height: 53rem;
    background-color: rgb(247, 247, 247);
    background-image: linear-gradient(45deg, rgba(103, 255, 254, 0.15) 0%, rgba(255, 204, 228, 0.15) 100%);
    z-index: 4;
}
.teamate-photo {
    position: relative;
    z-index: 5;
    margin: 2.3rem 0 0 2.3rem;
}
/*
.teamate-photo:before {
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.4);
    z-index: 5;
}
*/
.teamate-say {
    position: absolute;
    top: 28rem;
    box-sizing: border-box;
    padding: 0 1rem;
    text-align: center;
    width: 100%;
    color: rgb(0, 0, 0);
    font-family: Anglecia;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 2.3rem;
    text-transform: uppercase;
    z-index: 6;
}
.teamate-say:after,
.teamate-say:before {
    content: url(../img/Quotes.svg);
    display: block;
    width: 3.3rem;
    text-align: center;
    margin: 1.5rem auto;
}
.teamate-say:before {
    transform: rotate(180deg);
}



































