@media handheld and (max-width: 900px), screen and (max-width: 935px) {
    header {
        background-position: center;
        background-size: cover;
    }
    .header_wrapper {
        width: 280px;
        padding-bottom: 40px;
    }
    .logo_wrapper {
        width: 60px;
        height: 47px;
        margin: 20px 0 0 0;
    }
    .logo {
        width: 60px;
        height: 47px;
    }
    .header_numbers {
        margin: 30px 0 0 0;
        font-size: 18px;
    }
    .header_text p:first-child {
        font-size: 40px;
        line-height: 44px;
        margin: 50px 0 0 0;
        font-weight: 900;
    }
    .header_text p:last-child {
        width: 238px;
        margin: 12px 0 0 0;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
    }
    .header_text span {
        display: inline;
    }
    .consul_button {
        width: 280px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        font-weight: 700;
        margin: 30px 0 0 0;
    }
    .first_decor {
        width: 500px;
        left: 230px;
        top: -137px;
    }
    .second_decor {
        width: 500px;
        right: 240px;
        top: 220px;
        transform: rotate(90deg);
    }
    
    
    
    .who_we_wrapper {
        width: 280px;
    }
    .who_we_slider {
        margin:50px 0 0 0;
    }
    .slide_viewer {
        width: 100%;
        float: none;
    }
    .slide_viewer img  {    
        width: 280px;
        height: 195px;
    }
    .slide_subtext_wrapper {
        width: 200%;
        position: relative;
        z-index: 1;
        background-color: rgba( 255, 255, 255, 0.7);
    }
    .slide_subtext {
        width: 280px;
        margin: 20px 0 0 0;
    }
    .slide_subtext img {     /* ----> ARROW */ 
        margin-right: 130px;
    }
    .slide_header {
        font-size: 20px;
        margin: 30px 0 0 0;
    }
    .slide_text {
        width: 280px;
        font-size: 16px;
        line-height: 18px;
        margin: 20px 0 0 0;
    }
    .slide_text span {
        display: inline;
    }
    
    .you_need {
        margin: 0;
        padding: 65px 0 60px 0;
    }
    .you_need_header {
        width: 200px;
        font-size: 20px;
        line-height: 24px;
    }
    .you_need_list {
        flex-direction: column;
        width: 280px;
        margin: 50px 0 0 0;
    }
    .you_need_list li {
        margin: 0;
        width: 280px;
        font-size: 16px;
        line-height: 18px;
    }
    .you_need_svg {
        width: 40px;
        height: 40px;
        margin: 0 20px 20px 0;
        float: left;
    }
    .you_need_text {
        margin-top: 5px;
    }
    .who_we_decor {
        width: 470px;
        left: 130px;
    }
    
    
    
    
    
    
    
    
        
}