@media handheld and (max-width: 935px), screen and (max-width: 935px) {
    header {
        background-position: center;
        background-size: cover;
    }
    .header_wrapper {
        width: 280px;
        padding-bottom: 40px;
    }
    .logo_wrapper {
        width: 60px;
        height: 47px;
        margin: 20px 0 0 0;
    }
    .logo {
        width: 60px;
        height: 47px;
    }
    .header_numbers {
        margin: 30px 0 0 0;
        font-size: 18px;
    }
    .header_text p:first-child {
        font-size: 40px;
        line-height: 44px;
        margin: 50px 0 0 0;
        font-weight: 900;
    }
    .header_text p:last-child {
        width: 238px;
        margin: 12px 0 0 0;
        font-size: 18px;
        line-height: 24px;
        font-weight: 700;
    }
    .header_text span {
        display: inline;
    }
    .consul_button {
        width: 280px;
        height: 50px;
        line-height: 50px;
        font-size: 18px;
        font-weight: 700;
        margin: 30px 0 0 0;
    }
    .first_decor {
        width: 500px;
        left: 230px;
        top: -137px;
    }
    .second_decor {
        width: 500px;
        right: 240px;
        top: 220px;
        transform: rotate(90deg);
    }
    
    
    
    .who_we_wrapper {
        width: 280px;
    }
    .who_we_slider {
        margin:50px 0 0 0;
    }
    .slide_viewer {
        width: 100%;
        height: 200px;
        float: none;
    }
    .slide_viewer img  {    
        width: 280px;
        height: 195px;
    }
    .slide_subtext_wrapper {
        width: 200%;
        height: 130px;
        position: relative;
        z-index: 1;
        background-color: rgba( 255, 255, 255, 0.7);
    }
    .slide_subtext {
        width: 280px;
        margin: 20px 0 0 0;
    }
    .slide_subtext img {     /* ----> ARROW */ 
        margin-right: 130px;
    }
    .slide_header {
        font-size: 20px;
        margin: 30px 0 0 0;
    }
    .slide_text {
        width: 280px;
        font-size: 16px;
        line-height: 18px;
        margin: 20px 0 0 0;
    }
    .slide_text:last-child {
        top: 20px;
    }
    .slide_text span {
        display: inline;
    }
    
    .you_need {
        margin: 0;
        padding: 35px 0 60px 0;
    }
    .you_need_header {
        width: 200px;
        font-size: 20px;
        line-height: 24px;
    }
    .you_need_list {
        flex-direction: column;
        width: 280px;
        margin: 50px 0 0 0;
    }
    .you_need_list li {
        margin: 0;
        width: 280px;
        font-size: 16px;
        line-height: 18px;
    }
    .you_need_svg {
        width: 40px;
        height: 40px;
        margin: 0 20px 20px 0;
        float: left;
    }
    .you_need_text {
        margin-top: 5px;
    }
    .who_we_decor {
        width: 470px;
        left: 130px;
    }
    
    
    .our_works {
        background-color: #3853a4;
    }
    .mockup_wrapper:nth-child(even) {
        background-color: #3853a4;
    }
    .our_works_viewer {
        position: relative;
        width: 320px;
        margin: auto;
        overflow: hidden;
    }
    .our_works_slider {
        width: 1000px;
    }
     .mockup_wrapper:first-child {
        float: left;
        padding: 0 0 80px 0;
    }
    .mockup_wrapper {
        width: 320px;
        float: left;
        padding: 0 0 0 80px 0 !important;
        overflow: hidden;
    }
    .first_mockup_info, .second_mockup_info, .third_mockup_info {
        margin: 0 0;
        width: 280px;
        padding: 0 20px;
    }
    .second_mockup_wrapper, .third_mockup_wrapper {
        margin: 0 0 0 0;
    }
    .our_works_header {
        position: absolute;
        top: 40px;
        left: 20px;
        font-size: 20px;
        padding: 0;
    }
    .first_mockup_img, .second_mockup_img, .third_mockup_img  {
        float: none;
        width: 400px;
        margin: 100px 0 0 0;
    }
    .second_mockup_img {
        margin: 30px 0 0 0;
        width: 300px;
        height: 300px;
    }
    .first_mockup_img {
        margin:100px 0 0 -22px
    }
    .third_mockup_img {
        height: 300px;
    }
    .first_mockup_text, .second_mockup_text, .third_mockup_text {
        margin: 0 0 0 0;
        font-size: 16px;
        line-height: 18px;
        font-weight: normal;
    }
    .first_mockup_button, .second_mockup_button, .third_mockup_button {
        width: 230px;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        margin:20px 0 0 0;
        background-color: #e2185b;
    }
    .second_mockup_button:hover {
        background-color: #ff1f69;
    }
    .second_mockup_button:active {
        background-color: #b71249;
    }
    .works_arrows {
        display: block;
        position: absolute;
        top: 540px;
        left: 115px;
    }
    .works_arrows img {
        cursor: pointer;
        display: inline-block;
    }
    .works_left_arrow {
        margin-right: 70px;
    }
    
    
    
    .recomend_wrapper {
        width: 280px;
        margin: auto;
        padding: 70px 0 0 0;
    }
    .recomend_header {
        font-size: 20px;
    }
    .recomend_viewer {
        margin-top: 35px;
    }
    .recomend_slide {
        width: 280px;
        padding: 0 0 90px 0;
    }
    .recomend_slide img {
        margin: 0 0 20px 0;
        float: none;
    }
    .recomend_slide_header {
        margin:0 0 0 0;
        font-size: 16px;
        line-height: 18px;
    }
    .recomend_slide_text {
        width: 276px;
        float: none;
        margin: 15px 0 0 0;
        font-size: 16px;
        line-height: 18px;
    }
    .recomend_slide_text span {
        display: inline;
    }
    .recomend_left_arrow {
        top: 450px;
        left: 95px;
    }
    .recomend_right_arrow {
        top: 450px;
        left: 165px;
    }
    
    
    
    /*     P R I C E    */
    
    .price {
        background-color: #fff;
    }
    
    .price_wrapper {
        padding: 30px 0 0 0;
        width: 280px;
        margin-right: auto;
    }
    .price_header {
        margin: 0 0 0 20px;
        font-size: 20px;
        color: #616168;
    }
    
    .price_table_header {
        position: relative;
        cursor: default;
        margin: 0 0 0 0;
        font-size: 16px;
        color: #3853a4;
        height: 210px;
    }
    .price_table_header:first-child {
        height: 260px;
    }
    .price_table_header p {
        text-transform: none;
        opacity: 1;
        line-height: 40px;
    }
    .price_wrapper ul{
        margin: 35px 0 0 0;
    }
    .price_menu {
        overflow: hidden;
        cursor: pointer;
        display: block;
        position: relative;
        width: 260px;
        margin: 10px 0 0 0;
        padding-left: 20px;
        height: 42px;
        line-height: 42px;
        border: 1px solid #3652a5;
        font-size: 16px;
        font-weight: 700;
        color: #626168;
    }
    .price_menu:after {
        position: absolute;
        content: url(img/d_arrow.png);
        top: 0;
        right: 20px;
    }
    .price_menu:hover {
        height: 100px;
    }
    
    
    .price_table {
        display: none;
    }
    .price_button {
        display: none;
    }
    .tab_button {
        display: block;
        width: 275px;
        margin: 0;
        float: none;
        margin:5px 0 0 -18px;
    }
    
    
    /*     T E A M     */
    
    
    .our_team_wrapper {
        width: 280px;
        margin: auto;
        padding: 20px 0 70px 0;
        overflow: hidden;
    }
    .team_viewer {
        margin-top: 35px;
        width: 3000px;
    }
    .team_header {
        margin: 0;
        font-size: 20px;
    } 
    .team_wrapper {
        width: 1000px;
        margin: 0;
        padding: 0;
        float: left;
    }
    .teammate {
        width: 280px;
        float: left;
        height: 360px;
    }
    .team_wrapper:last-child .teammate {
     height: 360px;
}
    .teammate_name {
        margin: 20px 0 0 0;
        font-size: 16px;
        line-height: 18px;
    }
    .teammate_post {
        line-height: 18px;
    }
    .teammate_text {
        margin: 15px 0 0 0;
        font-size: 16px;
        line-height: 18px;
    }
    .teammate_email:before {
        width: 23px;
        height: 23px;
        top: 0;
    }
    .teammate_facebook {
        width: 23px;
        height: 23px;
        margin: 0 0 -8px 27px;
    }
    .team_left_arrow {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 460px;
        left: 165px;
    }
    .team_right_arrow {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 460px;
        left: 95px;
    }
    
    
    /*     R E S U L T    */

    .result {
        margin-top: 70px;
        padding: 80px 0 100px 0;
    }
    .result_wrapper {
        width: 280px;
        margin: auto;
    }
    .result_header {
        font-size: 20px;
    }
    .result_list {
        flex-direction: column;
        margin:50px 0 0 0;
    }
    .result_list_punct {
        width: 280px;
        height: 40px;
        margin: 0 0 30px 0;
    }
    .result_ico {
        width: 35px;
        height: 35px;
        float: left;
    }
    .result_text {
        margin: 7px 0 0 45px;
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
        width: 220px;
    }
    .result_text span {
        display: inline;
    }
    .third_decor {
        width: 750px;
        left: 210px;
        top: -570px;
    }
    
    
    
    /*   B R I F F   */ 
    
    
    .brif {
        background-color: rgba(0, 0, 0, 0);
        top: 0;
        margin: auto;
        width: 320px;
        padding: 0;
    }
    .brif_header {
        width: 280px;
        font-size: 20px;
        padding: 80px 20px 30px 20px;
        background-color: #fff;
        margin: auto;
    }
    .call_us {
        background-color: #fff;
        width: 280px;
        margin: 0 auto 0 auto;
        float: none;
        padding: 0 20px 90px 20px;
    }
    .brif_text {
        font-size: 16px;
        line-height: 18px;
        width: 280px;
}
    .brif_text i {
        font-style: normal;
        font-weight: 700;
        color: black;
    }
    .brif_text span {
        display: inline;
    }
    .call_us input, .brif_question {
        display: block;
        width: 277px;
        height: 28px;
        margin-top: 25px;
        font-size: 16px;
    }
    .brif_mark {
        display: none;
    }
    .brif_button {
        float: none;
    }
    .brif_contact {
        background-color: #fff;
        width: 200px;
        float: left;
        margin: 0 0 0 0;
        padding: 20px 10px 20px 20px;
        font-size: 16px;
        line-height: 18px;
    }
    .brif_number:before {
        left: -10px;
    }
    .brif_download:before {
        content: url(img/min_PDF_ico.png);
        left: -15px;
    }
    .footer_fix {
        display: none;
    }
    .map {
        margin-left: -106%;
        height: 190%;
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
}