@font-face {
    font-family: lato;
    src: url(fonts/Lato-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: lato;
    src: url(fonts/Lato-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: lato;
    src: url(fonts/Lato-Heavy.ttf);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: lato;
    src: url(fonts/Lato-HeavyItalic.ttf);
    font-weight: 800;
    font-style: italic;
}



b {
    font-weight: 800;
    display: inline;
}
body {
    font-family: Lato, sans-serif;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}



/*        H E A D E R         */



header {
    width: 100%;
    height: 100vh;
    background-image: url(img/background_saved_for_web.jpg);
    background-size: cover;
    overflow: hidden;
}

.header_wrapper {
    position: relative;
    width: 940px;
    margin: auto;
    padding-bottom: 160px;
}
.first_decor {
    position: absolute;
    width: 1100px;
    left: 645px;
    top: -655px;
}
.second_decor {
    position: absolute;
    width: 1000px;
    right: 970px;
    top: 510px;
}
.logo_wrapper {
    display: inline-block;
    cursor: pointer;
    margin: 15px 0 0 0;
    width: 90px;
    height: 70px;
}
.logo {
    width: 90px;
    height: 70px;
}
.header_numbers {
    position: relative;
    z-index: 1;
    margin: 35px 0 0 0;
    font-weight: 700;
    font-size: 20px;
    float: right;
    color: #fefefe;
}
.header_text {
    cursor: default;
    position: relative;
    z-index: 1;
    margin: 90px 0 0 0;
    color: #ffffff;
}
.header_text p:first-child {
    font-size: 86px;
    line-height: 97px;
}
.header_text p:last-child {
    font-weight: 500;
    margin-top: 50px;
    font-size: 20px;
}
.header_text span {
    display: block;
}
.consul_button {
    cursor: pointer;
    display: block;
    width: 320px;
    height: 60px;
    margin: 60px 0 0 0;
    background-color: #e2185b;
    font-size: 20px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    line-height: 60px;
    border-radius: 5px;
    -webkit-box-shadow: -1px 1px 6px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    -1px 1px 6px 2px rgba(0, 0, 0, 0.5);
    box-shadow:         -1px 1px 6px 2px rgba(0, 0, 0, 0.5);
}
.consul_button:hover {
    background-color: #ff1f69;
}
.consul_button:active {
    background-color:#b71249;
}


/*    W H O     W E    article #2    */



.who_we {
    width: 100%;
    overflow: hidden;
}
.who_we_slider {
    margin-top: 150px;
    width: 100%;
}
.who_we_wrapper {
    position: relative;
    width: 940px;
    margin: auto;
}
.who_we_decor {
    width: 1100px;
    position: absolute;
    left: 220px;
    top: 85px;
}
.who_we_slider {
    position: relative;
    z-index: 1;
}
.slide_viewer {
    overflow: hidden;
    width: 570px;
    height: 400px;
    float: left;
}
.slider_wrapper {
    width: 100000px;
}
.slider_wrapper li {
    display: inline-block;
    width: 600px;
    height: 400px;
}
.slider_wrapper img {
    width: 570px;
    height: 400px;
}
.slide_subtext {
    position: relative;
    width: 310px;
    float: left;
    margin: 40px 0 0 60px;
    color: #616168;
}
.who_we_arrow {
    background-image: url(svg/arrow1x.svg);
    display: block;
    cursor: pointer;
    float: right;
    width: 35px;
    height: 25px;
    margin-right: 160px;
    margin-top: 6px;
}
.slide_header {
    margin: 40px 0;    
    font-size: 40px;
    font-weight: 800;
}
.slide_number b {
    font-size: 40px;
    font-weight: 800;
    margin-right: 10px;
}
.slide_number {
    font-size: 20px;
    font-weight: 500;
}
.slide_text {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}
.slide_text:last-child {
    position: absolute;
    top: 160px;
    opacity: 0;
}
.slide_text span {
    display: block;
}


/*   Y O U    N E E D    article #3    */



.you_need {
    width: 200%;
    padding: 100px 0 180px 0;
    position: relative;
    z-index: 1;
    margin-top: 165px;
    background-color: rgba( 255, 255, 255, 0.7);
    color: rgba(0, 0, 0, 0.6);
}
.you_need_header {
    cursor: default;
    width: 390px;
    margin-left: 0;
    font-size: 40px;
    font-weight: 800;
}
.you_need_list {
    width: 50%;
    margin: 100px 0;
    display: flex;
    flex-direction: row;
    align-content: space-between;
}
.you_need_list li {
    margin: 0 5px;
    font-size: 24px;
    font-weight: 700;
    width: 300px;
}
.you_need_svg {
    margin-bottom: 35px;
    width: 85px;
    height: 85px;
}


/*    P O R T F O L I O     article #4    */



.our_works {
    width: 100%;
    overflow: hidden;
}
.our_works_viewer {
    position: relative;
}
.works_arrows {
    display: none;
    position: absolute;
}
.mockup_wrapper {
    width: 100%;
    background-color: #3853a4;
}
.mockup_wrapper:first-child {
    padding: 0 0 120px 0;
}
.mockup_wrapper:nth-child(even) {
    background-color: #e2185b;
    padding: 60px 0 20px 0;
}
.first_mockup_info {
    width: 940px;
    margin: auto;
}
.our_works_header {
    cursor: default;
    padding-top: 95px;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}
.first_mockup_img {
    width: 490px;
    float: right;
}
.first_mockup_text {
    margin: 185px 0 0 0;
    width: 200px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
}
.first_mockup_button {
    display: block;
    text-decoration: none;
    cursor: pointer;
    margin: 50px 0 10px 0;
    width: 280px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    color: #fff;
    background-color: #e2185b;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: -1px 1px 6px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    -1px 1px 6px 2px rgba(0, 0, 0, 0.5);
    box-shadow:         -1px 1px 6px 2px rgba(0, 0, 0, 0.5);
}
.first_mockup_button:hover {
    background-color: #ff1f69;
}
.first_mockup_button:active {
    background-color:#b71249;
}
.second_mockup_info {
    width: 940px;
    margin: auto;
}
.second_mockup_img {
    width: 655px;
    height: 520px;
    float: left;
    margin-left: -115px;
}
.second_mockup_wrapper {
    float: left;
    margin: 100px 0 0 75px;
}
.second_mockup_text {
    width: 200px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
}
.second_mockup_button {
    display: block;
    text-decoration: none;
    cursor: pointer;
    margin-top: 50px;
    width: 280px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    color: #fff;
    background-color: #3853a4;
    text-align: center;
    border-radius: 5px;
   -webkit-box-shadow: -1px 1px 6px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    -1px 1px 6px 2px rgba(0, 0, 0, 0.5);
    box-shadow:         -1px 1px 6px 2px rgba(0, 0, 0, 0.5);
}
.second_mockup_button:hover {
    background-color: #5378e7;
}
.second_mockup_button:active {
    background-color: #243771;
}
.third_mockup_info {
    width: 940px;
    margin: auto;
    padding: 60px 0 180px 0;
}
.third_mockup_img {
    width: 810px;
    height: 525px;
    float: right;
    margin-right: -165px;
}
.third_mockup_text {
    margin: 220px 0 0 0;
    width: 200px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
}
.third_mockup_button {
    display: block;
    text-decoration: none;
    cursor: pointer;
    margin: 50px 0 10px 0;
    width: 280px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    line-height: 60px;
    color: #fff;
    background-color: #e2185b;
    text-align: center;
    border-radius: 5px;
    -webkit-box-shadow: -1px 1px 6px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:    -1px 1px 6px 2px rgba(0, 0, 0, 0.5);
    box-shadow:         -1px 1px 6px 2px rgba(0, 0, 0, 0.5);
}
.third_mockup_button:hover {
    background-color: #ff1f69;
}
.third_mockup_button:active {
    background-color:#b71249;
}


/*    R E C O M E N D A T I O N     article #5 */


.recomend {
    width: 100%;
    background-color: #fff;
}
.recomend_wrapper {
    padding: 150px 0 140px 0;
    width: 940px;
    margin: auto;
}
.recomend_header {
    cursor: default;
    margin-left: 0;
    font-size: 40px;
    font-weight: 800;
    color: #616168;
}
.recomend_viewer {
    position: relative;
    margin: 100px 0 0 0;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.recomend_left_arrow {
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 75px;
    background-color: white;
}
.recomend_right_arrow {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 75px;
    background-color: white;
}
.recomend_slider_wrapper {
    display: flex;
    width: 100000px;
    flex-direction: row;
}
.recomend_slide {
    width: 940px;
}
.recomend_slide img {
    width: 190px;
    height: 190px;
    border-radius: 85px;
    float: left;
    margin-left: 60px;
}
.recomend_slide_header {
    margin-left: 305px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #3853a4;
}
.recomend_slide_text {
    width: 560px;
    float: left;
    margin: 25px 0 0 55px;
    font-size: 20px;
    line-height: 24px;
    font-style: italic;
    font-weight: 500;
    color: #616168;
}
.recomend_slide_text span {
    display: block;
}

/*   P R I C E    T A B L E   */


.price {
    width: 100%;
    background-color: #3853a4;
}
.price_menu {
    display: none;
}
.price_wrapper {
    width: 940px;
    margin: auto;
    padding: 95px 0 50px 0;
}
.price_wrapper ul {
    margin: 60px 0 0 0;
    font-size: 0;
}
.price_header {
    cursor: default;
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}
.price_table_header {
    cursor: pointer;
    display: inline-block;
    width: 270px;
    margin-right: 60px;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}
.price_table_header:last-child {
    margin: 0;
}
.price_table_header p {
    text-transform: uppercase;
    display: inline;
    padding-bottom: 10px;
    opacity: 0.5;
}
.price_table_header:hover p {
    border-bottom: 3px solid #fff !important;
}

.price_table_header:first-child p {
    opacity: 1;
    border-bottom: 3px solid #fff;
}

.price_table {
    margin:60px 0 0 0;
    color: #fff;
}
.price_table tr {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}


.price_table tr:last-child, .price_table tr:first-child, .price_table tr:nth-child(2) {
    border: none;
}
.price_table th {
    font-size: 24px;
    font-weight: 700;
    height: 36px;
}
.price_table td {
    font-size: 18px;
    line-height: 36px;
}
.price_table tr td {
    font-weight: 500;
    width: 230px;
    text-align: center;
}
.price_table tr td:first-child {
    text-align: left;
    width: 260px;
}

.price_button {
    margin: 70px 0 0 0;
    float: right;
}


/*    O U R     T E A M      */


.our_team {
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.7);
}
.our_team_wrapper {
    position: relative;
    width: 940px;
    margin: auto;
    padding: 150px 0 150px 0;
}
.team_left_arrow, .team_right_arrow {
    display: none;
}
.team_header {
    margin-left: 160px;
    font-size: 40px;
    font-weight: 800;
    color: #616168;
}
.team_wrapper {
    margin: 95px 0 0 0;
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.teammate {
    position: relative;
    margin: 0 20px 0 0;
    width: 300px;
    height: 380px;
}
.teammate:nth-child(3) {
    margin: 0;
}
.teammate:nth-child(n+4) {
     margin-top: 75px;
     height: 335px;
}
.teammate_img {
    width: 160px;
    height: 160px;
}
.teammate_name {
    margin-top: 20px;
    line-height: 24px;
    font-size: 20px;
    font-weight: 700;
    color: #3853a4;
}
.teammate_post {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #3853a4;
}
.teammate_text {
    margin-top: 15px;
    font-size: 16px;
    line-height: 20px;
    font-style: italic;
    font-weight: 500;
    color: #000;
}
.team_contact_wrapper {
    position: absolute;
    bottom: 0;
    }
.team_contact_wrapper span {
    display: block;
    width: 0;
    height: 20px;
    overflow: hidden;
    margin-bottom: 5px;
}
.teammate_email {
    width: 0px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    display: inline-block;
    position: relative;
    padding: 0 0 0 40px;
    font-size: 16px;
    font-weight: 600;
    color: #e2185b;
}
.teammate_email:before {
    cursor: pointer;
    content: '';
    background-image: url(svg/mail.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    left: 0;
}
.teammate_facebook {
    background-image: url(svg/facebook.svg);
    cursor: pointer;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 0 0 0 0;
}


/*      R E S U L T     */


.result {
    width: 100%;
    background-color: #e2185b;
    padding: 120px 0 145px 0;
}
.result_wrapper {
    position: relative;
    width: 940px;
    margin: auto;
}
.result_header {
    font-size: 40px;
    font-weight: 800;
    color: #fff;
}
.result_list {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 90px 0 0 0;
    width: 100%;
}
.result_list_punct {
    width: 210px;
    margin-right: 30px;
}
.result_list_punct:last-child {
    margin: 0;
}

.result_ico {
    width: 80px;
    height: 80px;
}
.result_text {
    margin-top: 40px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
    color: #fff;
}
.result_text span {
    display: block;
}
.third_decor {
    position: absolute;
    width: 1080px;
    top: -775px;
    left: 565px;
}

/*      G O O G L E    M A P     */

footer {
    overflow: hidden;
    width: 100%;
    height: 950px;
}
.footer_wrapper {
    position: relative;
    margin: auto;
    width: 1280px;
    height: 100%;
}
.brif {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 70px;
    width: 980px;
    height: auto;
    padding: 80px 0 55px 0;
    background-color: #fff;
}
.brif_header {
    margin-left: 160px;
    font-size: 40px;
    font-weight: 800;
    color: #616168;
}
.call_us {
    float: left;
    width: 455px;
    margin: 45px 0 0 160px;
}
.brif_text {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.brif_text i {
    font-style: normal;
    font-weight: 700;
    color: #e2185b;
}
.brif_text span {
    display: block;
}
.call_us input, .brif_question {
    color: #d3d3d3;
    border: none;
    border-bottom: 1px solid #3853a4;
    width: 320px;
    height: 35px;
    margin-top: 25px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
}
.brif_question {
    padding: 0;
    font-family: Lato;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500; 
}
.brif_question::-webkit-input-placeholder {
    padding: 0;
    font-family: Lato;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500; 
}
.call_us ::-webkit-input-placeholder { /* Chrome */
  color: #d3d3d3;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
.call_us :-ms-input-placeholder { /* IE 10+ */
  color: #d3d3d3;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
.call_us ::-moz-placeholder { /* Firefox 19+ */
  color: #d3d3d3;
  opacity: 1;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
.call_us :-moz-placeholder { /* Firefox 4 - 18 */
  color: #d3d3d3;
  opacity: 1;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
}
.textarea_wrapper {
    position: relative;
}
.brif_mark {
    cursor: default;
    position: absolute;
    bottom: -20px;
    right: -82px;
    display: block;
    color: #626168;
    font-style: italic;
        
}
.brif_button {
    margin:50px 0 0 0;
}
.brif_contact {
    width: 220px;
    float: right;
    margin: 45px 50px 0 0;
    font-size: 20px;
    line-height: 26px;
    font-weight: 500;
}
.brif_email {
    font-weight: 700;
    color: #e2185b;
    margin: 30px 0 0 0;
}
.brif_number {
    position: relative;
}
.brif_number:before {
    content: '+';
    display: block;
    position: absolute;
    left: -15px;
}
.brif_download {
    cursor: pointer;
    position: relative;
    font-weight: 700;
    color: #e2185b;
}
.brif_download:before {
    content: '';
    cursor: pointer;
    position: absolute;
    display: block;
    width: 17px;
    height: 20px;
    top: 1px;
    left: -20px;
    background-image: url(svg/download.svg);
}
.call_us input:focus, .brif_question:focus {
    color: #626168;
}
.map {
    margin-top:0;
    margin-left: -44%;
    width: 260%;
    height: 100%;
}


.clearfix { 
    zoom: 1; 
}
.clearfix:before, .clearfix:after {
    content: "\0020"; display: block; height: 0; visibility: hidden; 
}
.clearfix:after { 
    clear: both; 
}